/*
Theme Name: Teckzone
Description: Used to style Gutenberg Blocks in the editor.
*/

.editor-styles-wrapper.edit-post-visual-editor p.wp-block-subhead {
    font-size: 1.1em;
    font-style: italic;
    opacity: .75;
    color: #666;
}

.wp-block-freeform.block-library-rich-text__tinymce ul li {
    margin-bottom: 0;
}

.wp-block-freeform.block-library-rich-text__tinymce ol,
.wp-block-freeform.block-library-rich-text__tinymce ul {
    margin: 0 0 1.5em;
    padding-left: 1.5em;
}

.wp-block-freeform.block-library-rich-text__tinymce ol ol,
.wp-block-freeform.block-library-rich-text__tinymce ul ul,
.wp-block-freeform.block-library-rich-text__tinymce ul ol,
.wp-block-freeform.block-library-rich-text__tinymce ol ul {
    margin-bottom: 0;
}

.block-library-list .editor-rich-text__tinymce,
.block-library-list .editor-rich-text__tinymce ol,
.block-library-list .editor-rich-text__tinymce ul {
    margin-left: 0;
    padding-left: 1.5em;
}

.block-editor ul.wp-block-archives {
    padding-left: 1.5em;
}

.wp-block-freeform.block-library-rich-text__tinymce pre {
    background: #eee;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 13.125px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
}

.editor-post-title__block .editor-post-title__input {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 36px;
}

.wp-block-cover-image.has-background-dim::before,
.wp-block-cover.has-background-dim::before {
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
}

.wp-block-freeform.block-library-rich-text__tinymce .gallery .gallery-caption {
    font-size: 16px;
    margin: 15px 0 0;
    line-height: 1.5;
}

.wp-block-freeform.block-library-rich-text__tinymce .gallery .gallery-item{
    margin-bottom: 35px;
}

.wp-block {
    max-width: 1170px;
}

.wp-block[data-align=wide] {
    max-width: 1545px;
}

[data-align=left] .wp-block-cover,
[data-align=left] .wp-block-cover-image,
[data-align=right] .wp-block-cover,
[data-align=right] .wp-block-cover-image{
    max-width: calc(4 * (100vw / 12));
}


