/*
Theme Name: Teckzone
Description: Used to style the TinyMCE editor.
*/

/**
 * Table of Contents:
 *
 * 1.0 - Body
 * 2.0 - Typography
 * 3.0 - Elements
 * 4.0 - Alignment
 * 5.0 - Galleries
 */

/**
 * 1.0 - Body
 */

body {
    color: #555555;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 1.7;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    box-sizing: border-box;
    font-weight: 400;
}

/**
 * 2.0 - Typography
 */

a {
    transition: 0.5s;
    color: #555;
}

a, a:hover, a:focus, a:active,a:visited {
    text-decoration: none;
    outline: 0;
}

a:hover, a:focus, a:active{
    color: #226ce0;
}

a img {
    border: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
    color: #000000;
    font-weight: 700;
    line-height: 1.2;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}


.wp-block-freeform.block-library-rich-text__tinymce h1 {
    font-size: 60px;
}

.wp-block-freeform.block-library-rich-text__tinymce h2 {
    font-size: 40px;
}

.wp-block-freeform.block-library-rich-text__tinymce h3 {
    font-size: 30px;
}

.wp-block-freeform.block-library-rich-text__tinymce h4 {
    font-size: 24px;
}

.wp-block-freeform.block-library-rich-text__tinymce h5 {
    font-size: 18px;
}

.wp-block-freeform.block-library-rich-text__tinymce h6 {
    font-size: 16px;
}

ul {
    list-style: disc;
}

ul ul {
    list-style: disc;
}

div.block-library-list ol,
div.block-library-list ul,
ul, ol {
    margin: 0 0 1.5em;
    padding-left: 1.5em;
}

dd, li {
    margin-bottom: 0;
}

div.block-library-list li > ol,
div.block-library-list li > ul,
li > ul,
li > ol {
    margin-bottom: 0;
}

p {
    margin-top: 0;
    margin-bottom: 1.5em;
    line-height: 1.7;
}

.mce-content-body {
    line-height: 1.5;
}

.has-small-font-size {
    font-size: 13px;
}

.has-normal-font-size, .has-regular-font-size {
    font-size: 16px;
}

.has-large-font-size {
    font-size: 36px;
}

/**
 * 3.0 - Elements
 */

hr {
    background-color: #bbb;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
}

mark, ins {
    text-decoration: none;
}

b, strong{
    font-weight: 700;
}

kbd {
    padding: 2px 4px;
    color: #fff;
    background-color: #333;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 15px;
}

input[type=text],
textarea {
    border: 1px solid #999;
    background: #fff;
}

figure {
    margin: 1em 0;
}

blockquote {
    color: #000;
    font-size: 20px;
    line-height: 1.75;
    margin: 0;
    padding: 60px 0 0 0;
    position: relative;
}
blockquote:before {
    font-size: 31px;
    color: #226ce0;
    content: '\e7e5';
    font-family: Linearicons;
    position: absolute;
    left: 0;
    top: 0;
}

blockquote span {
    background-color: #f5f5f5;
}
blockquote cite {
    display: block;
    font-size: 14px;
    font-style: normal;
    font-family: "Open Sans", sans-serif;
}

blockquote cite,
blockquote cite a {
    color: #555;
}

blockquote cite,
.wp-block-pullquote .wp-block-pullquote__citation,
blockquote .wp-block-quote__citation {
    font-family: "Open Sans", sans-serif;
}

blockquote p {
    margin: 0;
}

.wp-caption .wp-caption-dd {
    margin: 0.8075em 0;
}


.wp-block-quote:not(.is-large):not(.is-style-large) {
    border-left: 0;
}

.wp-block-quote.is-large cite, .wp-block-quote.is-large .wp-block-quote__citation,
.wp-block-quote.is-style-large cite, .wp-block-quote.is-style-large .wp-block-quote__citation {
    font-size: 18px;
    text-align: right;
}

.wp-block-quote.has-text-align-right{
    border-right: none;
    padding-right: 0;  
}

.wp-block-quote.has-text-align-right:before{
    right: 0;
    left: auto;
}

.wp-block-freeform.block-library-rich-text__tinymce blockquote {
    border-left: 0;
    padding-left: 0;
    margin: 0;
    box-shadow: none;
}

.wp-block-quote.is-large,
.wp-block-quote.is-style-large{
    margin: 0 0 30px;
    padding: 60px 0 0 0;
}

.wp-block-pullquote.is-style-solid-color{
    padding:  30px;
}

.wp-block-pullquote.is-style-solid-color blockquote {
    background-color: transparent;
    max-width: 100%;
}

.wp-block-code {
    font-size: 14px;
    color: #23282d;
    padding: .8em 1em;
    border: 1px solid #e2e4e7;
    border-radius: 4px;
    background-color: #eee;
}

.wp-block-code .block-editor-plain-text {
    background-color: #eee !important;
}

.wp-block-freeform.block-library-rich-text__tinymce code {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 13.125px;
    border-radius: 4px;
    padding: 2px 4px;
    color: #c7254e;
    background-color: #f9f2f4;
}

.wp-block-freeform.block-library-rich-text__tinymce a {
    color: #555;
}
.wp-block-pullquote{
    text-align: left;
}

.wp-block-pullquote.alignleft{
    text-align: left;
}

.wp-block-pullquote.alignright{
    text-align: right;
}

.wp-block-pullquote.alignright blockquote:before{
    right: 0;
    left: auto;
}

.wp-block-pullquote.alignleft,
.wp-block-pullquote.alignright {
    max-width: 305px;
}

.wp-block-pullquote.alignleft p,
.wp-block-pullquote.alignright p,
.wp-block-pullquote.alignleft blockquote > .editor-rich-text p,
.wp-block-pullquote.alignright blockquote > .editor-rich-text p {
    font-size: 20px;
}

.wp-block-pullquote cite,
.wp-block-pullquote footer,
.wp-block-pullquote__citation {
    margin-top: 1em;
}

.wp-block-pullquote .wp-block-pullquote__citation {
    color: #40464d;
}

.wp-block-pullquote {
    margin-left: 0;
    margin-right: 0;
}

.wp-block-pullquote blockquote {
    margin: 0;
}

.wp-block-search__input{
    color: #777777;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
    box-sizing: border-box;
    padding: 12px 15px;
}

.wp-block-search__button{
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    line-height: 42px;
    border: 0;
    border-radius: 3px;
    padding: 0 30px;
    background-color: #226ce0;
    transition: 0.5s;
    outline: 0;
}

code, kbd, tt, var {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 13.125px;
}

.wp-caption-text,
.wp-caption-dd {
    text-align: center;
}

.wp-block-gallery {
    padding: 0;
    margin: 0;
}

pre {
    background: #eee;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 13.125px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
}

.wp-block-preformatted pre {
    white-space: nowrap;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border-width: 1px 0 0 1px;
    width: 100%;
}

caption,
td,
th {
    padding: 0;
    font-weight: normal;
    text-align: left;
}

table,
th,
td {
    border: 1px solid #e5e5e5;
}

th {
    border-width: 0 1px 1px 0;
    font-weight: 700;
}

td {
    border-width: 0 1px 1px 0;
}

th,
td {
    padding: 0.4375em;
}

dl {
    margin: 0 0 1.75em;
}

dt {
    font-weight: 700;
}

dd {
    margin: 0 1.5em 1.5em;
}

.wp-block-button__link {
    padding: 13px 25px;
    line-height: 1.5;
    font-size: 18px;
}

.is-style-outline .wp-block-button__link {
    border-width: 1px;
    background: 0 0;
}

ul.wp-block-archives, .wp-block-archives ul,
ul.wp-block-categories, .wp-block-categories ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.wp-block-archives li,
.wp-block-categories li {
    padding: 5px 0;
    margin-bottom: 0;
}

.wp-block-categories li:last-child {
    padding-bottom: 0;
}

.wp-block-archives li a,
.wp-block-categories li a {
    color: #000;
}

.wp-block-archives li a:hover,
.wp-block-categories li a:hover {
    color: #999;
}

.wp-block-archives-dropdown select{
    color: #777777;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px;
    background-color: transparent;
}

.wp-block-archives-dropdown select:disabled{
    background-image: none;
    -webkit-appearance: menulist-button;
}

ul.wp-block-latest-posts, .wp-block-latest-posts ul {
    list-style: none;
    margin: 0 0 1em;
    padding: 0;
}

ul.wp-block-latest-posts li {
    padding: 5px 0;
    margin-bottom: 0;
}

ul.wp-block-latest-posts li:last-child {
    padding-bottom: 0;
}

.wp-block-latest-posts li a {
    color: #000;
}

.wp-block-latest-posts li a:hover {
    color: #999;
}

.wp-block-categories select {
    padding: 10px;
    border: 1px solid #d9d9d9;
    line-height: 1;
    height: auto;
    border-radius: 0;
    color: #666;
    font-family: inherit;
    font-size: 16px;

}

.wp-block-latest-comments__comment{
    font-size: 15px;
    margin-bottom: 1em;
}

.wp-block-table .wp-block-table__cell-content {
    padding: 0;
}

.wp-block-image {
    margin-left: 0;
    margin-right: 0;
}

.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}

/**
 * 4.0 - Alignment
 */

img {
    height: auto; /* Make sure images are scaled correctly. */
    max-width: 100%; /* Adhere to container width. */
}

embed,
iframe,
object {
    margin-bottom: 1.5em;
    max-width: 100%;
}

/**
 * 5.0 - Galleries
 */

.gallery-caption {
    display: block;
    margin-top: 15px;
}

.gallery {
    margin-bottom: 1.5em;
    margin-left: -7px;
    margin-right: -7px;
}

.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
    margin: 0;
    padding: 7px;
}

.gallery-columns-2 .gallery-item {
    max-width: 50%;
}

.gallery-columns-3 .gallery-item {
    max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
    max-width: 25%;
}

.gallery-columns-5 .gallery-item {
    max-width: 20%;
}

.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}

.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
    display: none;
}

/*View*/
body *.alignfull,
body > *.alignwide,{
    width: -webkit-fill-available;
    max-width: 1000%;
}

body *.alignfull{
    margin-right: calc(50% - 38vw);
    margin-left: calc(50% - 38vw);
}

body *.alignwide{
    margin-right: calc(25% - 20vw);
    margin-left: calc(25% - 20vw);
}

@media (max-width: 1400px) {

    body *.alignfull{
        margin-right: calc(50% - 34vw);
        margin-left: calc(50% - 34vw);
    }

    body *.alignwide{
        margin-right: calc(25% - 17vw);
        margin-left: calc(25% - 17vw);
    }

}

@media (max-width: 1024px) {
    .wpview iframe{
        min-width: 100%;
    }
}
