@media (min-width: 1750px) {
	.single-product--full-width.full-content .teckzone-wc-products-carousel,
	.single-product--full-width .teckzone-related-products {
		.slick-prev-arrow {
			left: -50px;
		}

		.slick-next-arrow {
			right: -50px;
		}
	}

	.single-product--full-width.full-content .teckzone-product-instagram {
		.slick-prev-arrow {
			left: -45px;
		}

		.slick-next-arrow {
			right: -45px;
		}
	}
} // 1750

@media (max-width: 1570px) {
	.single-product--full-width {
		&.sidebar-content,
		&.content-sidebar {
			div.tz-product-layout-2,
			div.tz-product-layout-3 {
				.single-button-wrapper {
					flex-direction: column;
					align-items: flex-start;

					.quantity {
						margin-bottom: 10px;
   						margin-right: 0;
					}
					
					.action-buttons {
						width: 100%;
					}
				}	
			}
		}

		.teckzone-upsells-products {
			ul.products {
				padding: 0 35px;
			}
		}
	}
} // 1570

@media (min-width: 1400px) {
	.catalog-full-width {
		&.content-sidebar,
		&.sidebar-content {
			.content-area {
				flex: 0 0 calc(100% - 310px);
				max-width: calc(100% - 310px);
			}

			.catalog-sidebar {
				flex: 0 0 310px;
				max-width: 310px;
			}
		}

		.tz-products-top-carousel ul.products.columns-6 .product-button .group .yith-wcwl-add-to-wishlist a span, 
		.tz-products-top-carousel ul.products.columns-6 .product-button .group .tz-compare-button a span, 
		.tz-products-top-carousel ul.products.columns-7 .product-button .group .yith-wcwl-add-to-wishlist a span, 
		.tz-products-top-carousel ul.products.columns-7 .product-button .group .tz-compare-button a span {
			text-indent: unset;
		}
	}

	.single-product--full-width {
		&.content-sidebar,
		&.sidebar-content {
			.content-area {
				flex: 0 0 calc(100% - 310px);
				max-width: calc(100% - 310px);
			}

			.product-sidebar {
				flex: 0 0 310px;
				max-width: 310px;
			}
		}

		&.content-sidebar {
			.content-area {
				padding-right: 45px;
			}
		}

		&.sidebar-content {
			.content-area {
				padding-left: 45px;
			}
		}

		&.full-content {
			div.tz-product-layout-2,
			div.tz-product-layout-3 {
				.single-button-wrapper {
					.quantity {
						.qty-box {
							width: 280px;
						}
					}
				}
			}
		}
	}
} // 1400

@media (max-width: 1480px) and (min-width: 1200px) {
	.catalog-full-width {
		ul.products li.product {
			width: 20%;
		}

		&.content-sidebar,
		&.sidebar-content {
			ul.products {
				li.product {
					.product-button {
						.group a {
							span {
								display: none;
							}
						}
					}
				}
			}
		}
	}
}

@media (min-width: 1200px) {
	.site-header {
		.header-mobile-wrapper-elementor {
			display: none;
		}
	}

	.single-post,
	.teckzone-blog-page {
		&.content-sidebar {
			.content-area {
				padding-right: 85px;
			}
		}

		&.sidebar-content {
			.content-area {
				padding-left: 85px;
			}
		}
	}

	.error404 {
		.page-content {
			max-width: 370px;
		}
	}

	.single-product--standard {
		&.full-content .teckzone-wc-products-carousel,
		.teckzone-related-products {
			.slick-prev-arrow {
				left: -50px;
			}

			.slick-next-arrow {
				right: -50px;
			}
		}

		&.full-content .teckzone-product-instagram {
			.slick-prev-arrow {
				left: -45px;
			}

			.slick-next-arrow {
				right: -45px;
			}
		}
	}

} // 1200

@media (min-width: 1025px) {
	.teckzone-slides-wrapper,
	.teckzone-testimonials {
		&.navigation-dots,
		&.navigation-none {
			.slick-arrow {
				display: none !important;
			}
		}

		&.navigation-arrows,
		&.navigation-none {
			.slick-dots {
				display: none !important;
			}
		}
	}

	.catalog-toolbar {
		.catalog-filter-mobile {
			display: none;
		}
	}

	.primary-sidebar.catalog-sidebar .catalog-filter-mobile-header {
		display: none;
	}
} // 1025

@media (max-width: 1199px) {
	.container {
		padding-left: 15px;
		padding-right: 15px;
	}

	.site-header {
		.header-menu-mobile,
		.header-logo,
		.header-elements {
			flex: 0 0 33.3333%;
			max-width: 33.3333%;
		}

		.header-menu-mobile {
			display: flex;
			padding-right: 10px;
		}

		.header-logo {
			text-align: center;
			width: 33.3333%;
			padding-right: 10px;
			padding-left: 10px;
		}

		.header-elements {
			margin-left: 0;
			justify-content: flex-end;
			padding-left: 10px;

			.header-element--sep {
				display: none;
			}
		}

		.header-element--compare,
		.header-element--wishlist {
			display: none;
		}

		.header-element--search {
			a.open-header-search {
				font-size: 20px;
				padding: 10px;
				display: block;
				line-height: 1;
			}
		}

		.header-wrapper-elementor,
		.header-mobile-enable {
			display: none;
		}

		// Mini Cart
		.header-element--cart {
			.dropdown {
				display: none;
			}

			.cart-contents {
				.cart-icon {
					padding-left: 6px;
				}
			}

			.mini-cart-header {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				background-color: $color__primary;
				padding: 25px 20px;
				z-index: 10;
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
			
			.mini-cart-header__text {
				font-size: 16px;
				font-weight: 700;
				color: #fff;
			}

			.close-cart-panel {
				font-size: 20px;
				color: #fff;
			}

			.mini-cart-content {
				position: fixed;
				top: 0;
				bottom: 0;
				width: 310px;
				right: -310px;
				z-index: 9999;
				background-color: #fff;
				padding: 84px 20px 0;
				transform: unset;
				transition: transform .25s ease;
				opacity: 1;
				border: 0;
				
				&.open {
					transform: translate3d(-310px, 0, 0);
				}
			}

			.mini-cart-content__wrapper {
				height: 100%;
				overflow-y: auto;
			}
		
			.mini-cart-content__wrapper::-webkit-scrollbar {
				display: none;
			}
		
			.widget_shopping_cart_content {
				padding: 0 0 207px 0;
    			border: 0;
			}
		
			ul.woocommerce-mini-cart {
				max-height: unset;
				overflow: visible;
				border: 0;
			}
		
			.mini-cart-footer {
				position: absolute;
				left: 20px;
				right: 20px;
				bottom: 0;
				background-color: #fff;
				z-index: 19;
				border-top: 1px solid #eeeeee;
				padding-top: 35px;
				padding-bottom: 35px;
			}
		
			// Mini Cart Item
			li.woocommerce-mini-cart-item {
				list-style: none;
				display: flex;
				position: relative;
				padding-bottom: 20px;
				margin-top: 20px;
				border-bottom: 1px solid #eeeeee;
		
				&:last-child {
					border-bottom: 0;
				}
			}
		
			.product-image {
				flex: none;
				width: 60px;
				height: 60px;
				margin-right: 20px;
			}
		
			.product-content {
				padding-right: 40px;
			}
		
			.product-name a {
				line-height: 1.428;
				color: #000;
			}
		
			.quantity .amount {
				color: #000;
				font-weight: 700;
			}
		
			dl.variation {
				margin-bottom: 0;
			}
		
			.remove {
				position: absolute;
				right: 0;
				top: 0;
				display: block;
				width: 20px;
				height: 20px;
				line-height: 20px;
				font-size: 20px;
				border-radius: 3px;
				border: 1px solid #cccccc;
				text-align: center;
				color: #000;
				transition: ease .5s;
		
				&:hover {
					color: #fff;
					background-color: #000;
					border-color: transparent;
				}
			}
		
			.woocommerce-mini-cart__total {
				display: flex;
				justify-content: space-between;
				align-items: center;
				font-weight: 700;
				color: #000;
				margin: 0;
		
				.amount {
					color: #2f8a33;
					font-size: 16px;
				}
			}
		
			.woocommerce-mini-cart__buttons {
				margin: 17px 0 0;
				flex-direction: column;

				a {
					width: 100%;
				}
			}
		
			.woocommerce-mini-cart__empty-message {
				margin-bottom: 0;
				margin-top: 20px;
			}
		}
	}

	.woocommerce-active {
		.site-header {
			.header-elements {
				margin-left: 0;
			}
		}
	}

	.admin-bar {
		.site-header {
			.header-element--cart {
				.mini-cart-content {
					top: 32px;
				}
			}
		}
	}

	.site-content {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.teckzone-taxs-list {
		ul {
			display: flex;
		    flex-wrap: nowrap;
			overflow-x: auto;
			overflow-y: hidden;
			padding-bottom: 10px;

			li {
				flex-shrink: 0;
			}
		}
	}

	/*================
	** 404
	================*/
	.error404 {
		.site-content {
			padding-top: 150px;
			padding-bottom: 150px;
		}
	}

	/*================
	** Page Header
	================*/
	.page-header {
		h1 {
			font-size: 32px;
		}
	}

	.page-header-layout-1 {
		padding-top: 50px;
	}

	.page-header-layout-2 {
		padding-bottom: 0;

		.page-title {
			padding-top: 50px;
		}
	}

	/*================
	** Single Post
	================*/
	.single-post-entry-format {
		margin-bottom: 45px;
	}

	.single-post {
		ul.site-breadcrumb {
			margin-bottom: 25px;
		}
	}

	.single-post-wrapper {
		.entry-title {
			font-size: 30px;
		}

		.format-link {
			padding: 40px;
		}
	}

	.post-navigation {
		margin-bottom: 60px;

		.nav-previous-wrapper a,
		.nav-next-wrapper a {
			padding: 25px 30px;
		}

		.nav-previous-wrapper a {
			padding-left: 80px;
		}

		.nav-next-wrapper a {
			padding-right: 80px;
		}
	}

	.teckzone-related-posts {
		margin-bottom: 50px;
	}

	.comment-list {
		.children {
			padding-left: 80px;
		}

		li.comment {
			.comment-content {
				margin-left: 100px;
			}
		}
	}

	.full-content {
		.comments-area {
			padding-top: 80px;
			padding-bottom: 80px;
		}
	}

	/*=================
	** Blog Grid
	=================*/
	.blog-wrapper {
		.entry-summary {
			padding: 20px 25px 0;
		}

		.entry-title {
			font-size: 18px;
		}
	}

	.teckzone-blog-grid {
		.blog-wrapper {
			&.format-quote {
				.blog-inner {
					padding: 20px 25px;
				}
			}
		}
	}

	/*================
	** Woocommerce
	================*/
	.tz-catalog-categories {
		.cat-item {
			width: 20%;

			.cat-item__wrapper {
				border: 0;
				padding: 0 20px;
			}

			a.thumbnail:after {
				display: none;
			}
		}
	}

	.tz-catalog-categories-2 .cat-item {
		width: 33.3333%;

		&:nth-child( 3n ) {
			&:after {
				display: none;
			}
		}
	}

	.tz-products-top-carousel {
		.slick-list {
			padding: 0 2px 30px;
			margin-bottom: 0;
		}

		ul.products {
			padding: 15px 0;
		}
	}

	ul.products:not(.slick-slider) {
		margin: 0 -10px;
	}

	ul.products {
		li.product {
			width: 25%;

			.product-inner {
				padding: 15px 10px 0;
				border: 0;
				position: relative;
			}

			.product-details {
				position: static;
			}

			.product-thumbnail .teckzone-product-quick-view {
				display: none;
			}

			.product-details-hover {
				padding: 10px 0 0 0;
				position: static;
				border: 0;
				display: block;
			}

			.product-button {
				display: flex;
				justify-content: space-between;

				.button {
					padding: 5px 10px;
					flex-grow: 1;
				}

				.group {
					a {
						span {
							display: none;
						}
					}

					.divider,
					.compare-button {
						display: none;
					}
				}
			}

			.tz-attr-swatches {
				display: none;
			}

			.woocommerce-product-details__short-description {
				p {
					margin-bottom: 0;
				}
			}

			.yith-wcwl-add-to-wishlist {
				font-size: 16px;
				position: absolute;
				top: 15px;
    			right: 10px;
			}
		}
	}

	.catalog-view-extended,
	.catalog-view-grid {
		.teckzone-shop-content {
			ul.products {
				li.product {
					.woocommerce-product-details__short-description {
						display: none;
					}
				}
			}
		}
	}

	.catalog-view-list {
		ul.products {
			margin: 0;

			li.product {
				flex: 0 0 100%;
				max-width: 100%;
			}
		}

		.teckzone-shop-content {
			ul.products {
				li.product {
					.product-details-hover {
						position: absolute;
						display: none;
					}

					.product-button .group {
						justify-content: space-evenly;
						margin: 0 0 0 15px;
					}

					.yith-wcwl-add-to-wishlist {
						position: static;
					}

					&:first-child .product-inner:hover {
						border-top-color: transparent;
					}
				}
			}
		}
	}

	.woocommerce-cart {
		div {
			table.shop_table {
				thead {
					th {
						padding: 11px 15px;
					}
				}

				tbody {
					td {
						vertical-align: middle;
						padding: 15px;
					}

					.actions {
						padding-bottom: 50px;
					}
				}
			}
		}
	}

	.tz_widget_products {
		ul.products {
			margin: 0;

			li.product {
				width: 100%;
			}
		}
	}

	// Single Product
	.woocommerce {
		div.product {
			p.price {
				font-size: 18px;
			}
		}

		div.tz-product-layout-2, 
		div.tz-product-layout-3 {
			.single-button-wrapper {
				.action-buttons {
					.button {
						padding: 0 20px;
					}
				}

				.group-buttons {
					padding: 0 10px !important;
				}
			}
		}
	}

	.sticky-product-info-wrapper {
		.sc-product-info {
			.sc-tabs {
				margin-top: 6px;
				margin-bottom: 6px;

				li {
					a {
						padding: 2px 0;

						&:after {
							display: none;		
						}
					}
				}
			}
		}
	}

	.tz-woo-tabs,
	.woocommerce-tabs {
		ul.tabs {
			flex-wrap: nowrap;
			overflow-x: auto;
			overflow-y: hidden;
			border: 0;
			padding-bottom: 10px;

			&:after {
				content: '';
				border-bottom: 1px solid #eee;
				display: block;
				position: absolute;
				bottom: 5px;
				width: 100%;
			}

			ul.tabs::-webkit-scrollbar {
				display: none;
			}

			li {
				margin: 0 30px 0 0;
				padding-bottom: 10px;
				flex-shrink: 0;

				a {
					font-size: 16px;
				}

				&.tz-wc-tab__magic-line {
					bottom: 5px;
				}
			}
		}

		#reviews {
			.col-review_form {
				padding-left: 15px;
			}

			.col-average-rating {
				margin-bottom: 30px;
			}
		}
	}

	.teckzone-wc-products-carousel {
		.slick-list {
			padding: 0 0 40px;
			margin-bottom: 0;
		}

		ul.products {
			padding: 0;
		}
	}

	.teckzone-product-instagram .slick-dots {
		margin-top: 0;
	}

	// Shortcode
	.tz-product-deals-grid,
	.tz-product-deals-day {
		ul.products {
			li.product {
				.tawc-deal {
					position: relative;
					margin-bottom: 0;
				}

				.product-inner:hover {
					.tawc-deal {
						opacity: 1;
					}
				}
			}
		}
	}

	.tz-product-deals-grid ul.products li.product.is-deal-product {
		margin-bottom: 26px;
	}

	.tz-product-with-category-2 .content-wrapper,
	.tz-product-deals-carousel-2 .product-content {
		ul.products {
			margin-left: 0;
			margin-right: 0;
		}
	}

	.teckzone-cart .teckzone-cart--text {
		display: none;
	}

	// Multivendor tabs
	.wcfm-template-themes {
		.woocommerce-tabs {
			.wcfmmp_product_mulvendor_container {
				.wcfmmp_product_mulvendor_rowbody {
					.vendor_name {
						text-align: left;
					}
				}
			}
		}
	}

	// Vendor
	.dokan-single-store {
		.profile-frame {
			.profile-info-box {
				.profile-info-summery-wrapper {
					.profile-info-summery {
						.profile-info {
							.dokan-store-info {
								top: 0;

								li {
									text-align: left;
								}
							}
						}

						.profile-info-head {
							top: 0;
							margin-bottom: 25px;
						}
					}
				}
			}
		}
	}

	// WCFM
	.wcfm-template-themes {
		#wcfmmp-stores-lists {
			#wcfmmp-stores-wrap {
				ul.wcfmmp-store-wrap li {
					.wcfmmp-visit-store {
						margin-top: 40px;
					}
				}
			}

			.left_sidebar,
			.right_side {
				width: 100%;
			}
		}

		#wcfmmp-store,
		#wcfmmp-stores-lists {
			.header_left{
				margin-left: 0;
			}

			.logo_area_after {
				top: 115px;
				left: 20px;
			}

			.address {
				top: 0;
			}

			#wcfm_store_header {
				min-height: auto;
				height: 170px;
			}
		}
	}
} // 1199

@media (max-width: 1199px) and (min-width: 992px) {
	
} // 1199 and 992

@media (max-width: 1024px) {
	.teckzone-testimonials {
		.slick-next-arrow {
			right: inherit;
			left: 60px;
		}

		.slick-prev-arrow {
			left: 15px;
		}

		.slick-arrow {
			top: 0;
		}
	}

	.catalog-toolbar {
		.catalog-filter-mobile {
			float: right;
			margin-right: 20px;
			margin-top: 9px;

			a {
				color: #000;
				display: flex;
				align-items: center;

				i {
					font-size: 16px;
				}

				span {
					padding-left: 8px;
				}
			}
		}
	}

	.primary-sidebar.catalog-sidebar {
		position: fixed;
		right: -310px;
		top: 0;
		bottom: 0;
		width: 310px;
		background-color: #fff;
		z-index: 9999;
		padding: 94px 20px 0;
		margin: 0;
		transition: transform .25s ease;

		&.open {
			transform: translate3d(-310px, 0, 0);
		}

		.catalog-filter-mobile-wrapper {
			height: 100%;
			overflow-y: auto;
		}
	
		.catalog-filter-mobile-wrapper::-webkit-scrollbar {
			display: none;
		}
	
		.catalog-filter-mobile-header {
			background-color: $color__primary;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 30px 20px;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
	
			a {
				color: #fff;
				font-size: 20px;
			}
	
			span {
				font-size: 16px;
				color: #fff;
				font-weight: 700;
			}
		}
	
		.catalog-filter-mobile-content {
			padding-top: 30px;
			padding-bottom: 30px;
			
			.widget {
				background-color: #fff;
				padding: 0 0 25px 0;
				border-bottom: 1px solid #e5e5e5;
				margin-bottom: 25px;

				&:last-child {
					padding-bottom: 0;
					border-bottom: 0;
				}
			}

			.teckzone-group-widget {
				border: 0;
				padding: 0;
			}
		}
	}

	.teckzone-catalog-page {
		&.catalog-content-sidebar,
		&.catalog-sidebar-content {
			.content-area {
				flex: 0 0 100%;
    			max-width: 100%;
			}
		}
	}

	.product-degree-pswp {
		.tz-product-gallery-degree {
			width: 100% !important;
		}
	}
} // 1024

@media (max-width: 1024px) and (min-width: 768px) {
	.teckzone-slides-wrapper,
	.teckzone-testimonials {
		&.navigation-tablet-dots,
		&.navigation-tablet-none {
			.slick-arrow {
				display: none !important;
			}
		}

		&.navigation-tablet-arrows,
		&.navigation-tablet-none {
			.slick-dots {
				display: none !important;
			}
		}
	}
} // 1024 and 768

@media (max-width: 991px) {
	.sidebar-content .primary-sidebar {
		order: 3;
	}

	/*================
	** 404
	================*/
	.error404 {
		.site-content {
			padding-top: 90px;
			padding-bottom: 90px;
		}

		.not-found_image {
			margin-bottom: 30px;
		}
	}

	/*==============
	** Single Post
	==============*/

	.full-content {
		.comments-area {
			padding-top: 50px;
			padding-bottom: 50px;
		}
	}

	.comments-title.has-comments {
		margin-bottom: 40px;
	}

	.comment-list {
		margin-bottom: 45px;

		li.comment {
			padding-top: 30px;
		}
	}

	.comment-respond {
		.comment-form-url,
		.comment-form-email,
		.comment-form-author {
			padding: 0;
		}
	}

	.primary-sidebar {
		margin-top: 60px;
	}

	.teckzone-recent-posts-widget,
	.widget_recent_comments {
		.widget-title {
			margin-bottom: 20px;
		}
	}

	/*==============
	** Blog
	==============*/
	.teckzone-blog-list {
		.blog-inner {
			display: block;
		}

		.entry-format,
		.entry-summary {
			width: 100%;
			float: none;
		}

		.entry-format {
			padding: 0;
		}
	}

	/*==============
	** Woocommerce
	==============*/
	ul.products {
		li.product {
			width: 33.3333%;
		}
	}

	.catalog-view-list {
		ul.products {
			li.product {
				width: 100%;
			}
		}
	}

	.woocommerce-cart {
		div {
			table.shop_table {
				margin-bottom: 25px;

				tbody {
					.actions {
						padding-bottom: 25px;
					}
				}
			}

			.col-coupon {
				margin-bottom: 20px;
				padding-right: 15px;

				label {
					margin-bottom: 10px;
					margin-top: 0;
				}
			}

			.col-calculator {
				padding-right: 15px;
				margin-bottom: 30px;
			}

			.woocommerce-shipping-calculator {
				a.shipping-calculator-button {
					margin-bottom: 10px;
					margin-top: 0;
				}
			}
		}
	}

	.woocommerce-checkout {
		.form-login-section,
		.coupon-section {
			margin-bottom: 0;

			form {
				margin-bottom: 20px;
			}
		}

		.form-login-section {
			padding-right: 15px;
		}

		div {
			form.checkout {
				.tz-checkout-billing {
					padding-right: 15px;
					margin-bottom: 30px;
				}
			}
		}
	}

	.woocommerce .woocommerce-form-track-order {
		padding-left: 0;
		padding-right: 0;
	}

	.woocommerce-account {
		.woocommerce-MyAccount-navigation,
		.woocommerce-MyAccount-content {
			float: none;
			width: 100%;
		}

		.woocommerce-MyAccount-content {
			margin-top: 50px;
		}
	}

	// Single Product
	.woocommerce {
		div.product {
			.single-button-wrapper {
				.group-buttons {
					justify-content: space-evenly;
				}
			}

			&.product-thumbnail-vertical {
				.woocommerce-product-gallery {
					width: 100%;
					margin-bottom: 50px;
				}

				div.entry-summary {
					width: 100%;
					padding-left: 0;
				}
			}
		}

		div.tz-product-layout-1 {
			.entry-summary-content {
				width: 55%;
				padding-right: 20px;
			}

			.entry-summary-sidebar {
				width: 45%;
				padding: 20px;

				p.price {
					margin-bottom: 15px;
					padding-bottom: 15px;
				}
			}
		}

		&.full-content {
			div.product {
				&.tz-product-layout-2,
				&.tz-product-layout-3 {
					.single-button-wrapper {
						flex-direction: column;
						align-items: flex-start;

						.quantity {
							width: 100%;
							margin-right: 0;
							margin-bottom: 10px;
						}
						
						.action-buttons {
							width: 100%;
						}
					}
				}
			}
		}
	}

	//QuickView
	.teckzone-modal {
		.modal-content {
			height: auto;
			max-height: 80%;
			overflow: auto;
			background-color: #fff;
		}

		.product-modal-content {
			div.product {
				padding: 40px 20px;
				height: auto;

				.woocommerce-product-gallery,
				div.entry-summary {
					width: 100%;
					float: none;
				}

				.slick-slide img {
					margin: auto;
				}

				div.entry-summary {
					position: static;
					padding: 45px 0 0;
					overflow: visible;
				}
			}
		}
	}

	// Shortcode
	.tz-product-deals-carousel-3 {
		.product-content {
			div.product {
				flex-wrap: wrap;

				.woocommerce-product-gallery {
					flex: 0 0 100%;
					max-width: 100%;
					margin-bottom: 40px;
				}

				div.entry-summary {
					padding-left: 0;
				}
			}
		}
	}

	.teckzone-faqs {
		.button-wrapper {
			display: none;
		}

		.faq-col-left {
			margin-bottom: 50px;
		}
	}

	// Vendor
	.dokan-store-sidebar,
	.dokan-single-store.dokan-w8 {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}

	.wcfm-template-themes {
		#wcfmmp-store,
		#wcfmmp-stores-lists{
			.left_sidebar,
			.right_side{
				width: 100%;
				padding: 0;
			}

			.header_left {
				margin: 0;
				padding: 0;
			}

			#wcfm_store_header {
				padding-bottom: 40px;
				height: auto;
			}

			.address {
				left: 0;
				position: absolute;
				top: 65%;
			}

			.logo_area_after {
				left: 0;
				top: 95px;
			}
		}
	}

	#dokan-seller-listing-wrap {
		.seller-listing-content {
			.dokan-seller-wrap {
				.dokan-single-seller {
					.store-wrapper {
						.store-data h2 {
							line-height: 1;
							margin: 10px 0 20px;

							a {
								font-size: 20px;
							}
						}
					}
				}
			}
		}
	}

	.dokan-single-store {
		margin-top: 50px;

		.profile-frame{
			&.profile-frame-no-banner {
				.profile-layout-tz_custom {
					.profile-info-summery-wrapper {
						border: none;

						.profile-info-summery {
							align-items: flex-start;
						}
					}
				}
			}
		}
	}

} // 991

@media (max-width: 767px) {
	/*================
	** Menu
	================*/
	.main-navigation {
		ul.menu, 
		ul.tz-nav-menu {
			overflow: auto;
		}

		li.is-mega-menu {
			ul.dropdown-submenu {
				max-width: 100%;
			}
		}
	}

	.main-navigation ul.menu::-webkit-scrollbar, 
	.main-navigation ul.tz-nav-menu::-webkit-scrollbar {
		display: none;
	}

	.tz-nav-menu {
		.tz-menu-item__magic-line {
			display: none;
		}

		> li.current-menu-item ,
		> li.current_page_item  {
			position: relative;

			&:after {
				content: '';
				position: absolute;
				left: 0;
				bottom: 0;
				height: 3px;
				width: 100%;
				background-color: $color__primary;
			}
		}
	}

	/*================
	** 404
	================*/
	.site-content {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.error404 {
		.site-content {
			padding-top: 60px;
			padding-bottom: 60px;
		}

		.page-title {
			font-size: 32px;
		}
	}

	/*==============
	** Page Header
	==============*/
	.page-header {
		.page-title {
			padding-top: 30px;
		}

		h1 {
			font-size: 24px;
		}
	}

	.page-header-layout-1 {
		padding-top: 30px;
		padding-bottom: 20px;
	}

	/*==============
	** Single Post
	==============*/
	.single-post-entry-format {
		margin-bottom: 20px;
	}

	.single-post {
		margin-bottom: 30px;

		.site-content {
			padding-top: 30px;
		}

		ul.site-breadcrumb {
			margin-bottom: 15px;
		}
	}

	.single-post-wrapper {
		.entry-title {
			font-size: 20px;
		}

		.entry-meta {
			margin-bottom: 20px;
		}

		.entry-content {
			margin-bottom: 20px;
		}

		.format-link {
			padding: 30px;

			.title {
				font-size: 20px;
			}
		}
	}

	.post-author {
		text-align: center;
		margin-bottom: 30px;

		.post-author-box {
			padding: 30px;
		}

		.post-author-avatar {
			float: none;
			margin-bottom: 20px;
		}

		.post-author-info {
			margin-left: 0;
		}

		.author-socials {
			justify-content: center;

			li:after,
			a span {
				display: none;
			}
		}
	}

	.post-navigation {
		.nav-links {
			display: block;
			margin: 0;
		}

		.none-nav,
		.nav-previous,
		.nav-next {
			padding: 0;
			margin-bottom: 10px;
		}
	}

	.post-navigation {
		margin-bottom: 40px;
	}

	.single-post-socials-share ul {
		display: block;
		margin: 10px 0 0 0;
	}

	.teckzone-related-posts {
		margin-bottom: 20px;

		h2.related-title {
			margin-bottom: 25px;
		}

		.blog-wrapper {
			.entry-meta {
				margin-bottom: 5px;
			}

			.entry-title {
				font-size: 18px;
				margin-bottom: 5px;
			}

			.entry-footer {
				border: 0;
				padding: 0;
			}
		}
	}

	.content-sidebar,
	.sidebar-content {
		.teckzone-related-posts .blog-wrapper .entry-format {
			margin-bottom: 10px;
		}
	}

	.full-content {
		.teckzone-related-posts {
			.blog-wrapper .entry-summary {
				padding: 15px 20px 15px;
			}
		}
	}

	.comments-title {
		font-size: 20px;

		&.has-comments {
			margin-bottom: 40px;
		}
	}

	.comment-list {
		margin-bottom: 35px;

		li.comment {
			padding-top: 20px;

			.comment-meta {
				max-width: 60px;
			}

			.comment-content {
				margin-left: 85px;
			}
		}

		li {
			.comment-content {
				padding-bottom: 20px;
			}
		}

		.children {
			padding-left: 0;
		}
	}

	.comment-respond .comment-reply-title {
		font-size: 20px;
		margin-bottom: 20px;
	}

	/*==============
	** Blog
	==============*/
	.entry-meta .meta:after {
		display: none;
	}

	.teckzone-blog-small-thumb,
	.teckzone-blog-list {
		.format-link {
			.title {
				font-size: 20px;
			}
		}
	}

	.teckzone-blog-list {
		.blog-wrapper {
			margin-bottom: 15px;
		}
	}

	.teckzone-blog-small-thumb {
		.blog-inner {
			display: block;
		}

		.entry-summary,
		.entry-format {
			width: 100%;
			float: none;
		}
	}

	.teckzone-taxs-list ul li a {
		height: 30px;
		line-height: 28px;
		padding: 0 10px;
	}

	/*==============
	** Woocommerce
	==============*/
	.teckzone-catalog-page {
		.site-content {
			padding-top: 15px;
		}
	}

	.catalog-banners-group {
		margin-bottom: 40px;
		display: none;
	}

	.tz-catalog-header {
		.tz-catalog-title {
			font-size: 16px;
		}
	}

	.tz-catalog-categories {
		margin-bottom: 20px;

		ul.child-list {
			display: none;
		}

		.cat-item {
			width: 33.3333%;
		}
	}

	.tz-catalog-categories-2 {
		.cat-item {
			width: 50%;

			&:after {
				display: none;
			}

			&:nth-child(2n+1) {
				&:after {
					display: block;
				}
			}
		}
	}

	.tz-catalog-brands {
		.brand-wrapper {
			padding: 20px 0;
		}
	}

	.tz-products-top-carousel {
		margin-bottom: 45px;

		.carousel-header h2 {
			font-size: 20px;
		}
	}

	.catalog-toolbar {
		.products-found {
			font-size: 16px;
		}

		.catalog-toolbar__bottom {
			padding: 10px 10px;
		}

		.woocommerce-ordering {
			float: left;

			.current {
				min-width: auto;
   	 			border: 0;
				background-color: transparent;
				
				span {
					padding-right: 6px;
				}
			}
		}

		.shop-view {
			justify-content: flex-end;
			margin-top: 5px;

			.shop-view__icon a.extended,
			.shop-view__icon span.sep.last,
			.per-page,
			label {
				display: none;
			}
		}

		.catalog-filter-mobile {
			float: right;
			margin-right: 20px;
			margin-top: 8px;

			a {
				color: #000;

				i {
					font-size: 16px;
				}

				span {
					padding-left: 8px;
				}
			}
		}
	}

	body.woocommerce,
	div.woocommerce {
		form {
			.form-row-first,
			.form-row-last {
				width: 100%;
				padding: 0;
			}
		}
	}

	.woocommerce-pagination {
		margin-top: 20px;
	}

	.catalog-toolbar {
		.woocommerce-ordering {
			> li > ul {
				display: none;
			}
		}
	}

	ul.products {
		li.product {
			width: 50%;

			.price {
				.sale {
					display: none;
				}
			}

			.woocommerce-product-details__short-description {
				margin-top: 5px;
			}
		}
	}

	.catalog-view-list {
		.teckzone-shop-content {
			ul.products {
				li.product {
					width: 100%;
					margin-bottom: 30px;

					.product-inner {
						padding: 30px 0 0 0;
						border-width: 1px 0 0 0;
					}

					.product-thumbnail {
						width: 42.5%;
					}

					.product-details {
						width: 57.5%;
						padding-left: 35px;
						display: block;
					}

					.product-content-box {
						padding-right: 0;
						max-width: 100%;
					}

					.product-right-box {
						min-width: auto;

						span.price {
							font-size: 15px;
						}
					}

					.product-details-hover {
						display: none;
					}

					&:first-child {
						.product-inner {
							padding-top: 15px;
						}
					}
				}
			}
		}

		.woocommerce-pagination {
			padding-top: 40px;
		}
	}

	.woocommerce-cart {
		.site-content {
			padding-top: 0;
			border-top: 10px solid #f5f5f5;
		}

		div {
			table.shop_table {
				thead {
					display: none;
				}

				tbody {
					td {
						border-left: 0;
						border-right: 0;
						vertical-align: top;
						padding: 25px 0 20px;

						&.product-name {
							padding-right: 10px;
						}
					}

					.product-thumbnail {
						width: 90px;
					}

					.product-name {
						.price {
							font-size: 13px;
							font-weight: 700;
							color: #000;

							label {
								font-weight: 400;
								color: #555;
							}
						}

						.quantity {
							max-width: 150px;
							margin-top: 10px;

							label {
								display: none;
							}
						}

						.price-total {
							font-weight: 700;
							color: #2f8a33;
							margin-top: 8px;
							font-size: 13px;

							label {
								font-weight: 400;
								color: #555;
							}
						}
					}

					.product-remove {
						a {
							float: right;
						}
					}

					.actions {
						a {
							margin: 0 0 10px;
							padding: 9px 20px;
						}

						button.empty-cart-button {
							margin-bottom: 23px;
						}

						button.update_cart {
							padding: 0 20px;
							margin-left: 0;
						}

						.actions__left,
						.actions__right {
							flex-direction: column;
						}

						.actions__left {
							align-items: flex-start;
						}

						.actions__right {
							align-items: flex-end;
						}
					}
				}
			}
		}
	}

	.woocommerce-checkout {
		.form-login-section .woocommerce-form-login {
			.form-row-first, 
			.form-row-last {
				width: 100%;
				padding-left: 0;
				padding-right: 0;
			}
		}
		
		div {
			form.checkout {
				.tz-review-order-table {
					padding: 9px 15px;
				}

				#payment ul.payment_methods {
					padding-left: 15px;
					padding-right: 15px;
				}
			}
		}
	}

	// Single Product
	.woocommerce {
		div.product {
			.product_title {
				font-size: 16px;
    			font-weight: 700;
			}

			.woocommerce-product-gallery,
			div.entry-summary {
				width: 100% !important;
			}

			.woocommerce-product-gallery {
				margin-bottom: 40px;

				.flex-control-nav {
					.slick-arrow {
						opacity: 1;
					}
				}
			}

			div.entry-summary {
				padding-left: 0;
			}
		}
	}

	.teckzone-wc-products-carousel {
		.slick-list {
			padding-bottom: 20px;
		}
	}

	.tz-product-fbt {
		margin-bottom: 35px;

		.tz-product-fbt__wrapper {
			padding: 25px 20px;
		}

		.fbt-title {
			margin-bottom: 30px;
		}

		ul.products {
			margin-left: -10px;
			margin-right: -10px;

			li.product {
				padding-left: 10px;
				padding-right: 10px;

				.product-thumbnail:after {
					display: none;
				}
			}
		}
	}

	.sticky-product-info-wrapper {
		.sc-product-cart {
			display: none;
		}

		.sc-product-info {
			margin: 0;

			.product-thumb {
				display: none;
			}

			.product-name {
				h2 {
					display: none;
				}
			}
		}
	}

	// QuickView
	.teckzone-modal {
		.modal-content {
			width: 100%;
		}
	}

	// Shortcode

	.teckzone-slides-wrapper,
	.teckzone-testimonials {
		&.navigation-mobile-dots,
		&.navigation-mobile-none {
			.slick-arrow {
				display: none !important;
			}
		}

		&.navigation-mobile-arrows,
		&.navigation-mobile-none {
			.slick-dots {
				display: none !important;
			}
		}
	}

	.tz-product-deals-carousel-2 {
		.product-content {
			div.product {
				flex-wrap: wrap;

				.woocommerce-product-gallery {
					flex: 0 0 100%;
					max-width: 100%;
				}
			}
		}
	}

	.tz-product-deals-carousel-3 {
		.product-content {
			div.product {
				.entry-summary-content,
				.entry-summary-sidebar {
					float: none;
					width: 100%;
				}

				.entry-summary-content {
					padding-right: 0;
					margin-bottom: 35px;
				}
			}
		}
	}

	.tz-menu-mobile--elementor {
		.bottom-content {
			padding-bottom: 30px;
		}
	}

	// Vendor
	.dokan-store-sidebar,
	.dokan-single-store {
		width: 100% !important;
	}

	.dokan-single-store {
		.profile-frame {
			&.profile-frame-no-banner {
				.profile-layout-tz_custom {
					.profile-info-summery-wrapper {
						.profile-info-summery {
							flex-direction: column;
							align-items: center;

							.store-name {
								text-align: center;
							}

							.profile-info {
								padding: 0;
								width: 100%;

								.dokan-store-info li {
									text-align: center;
								}
							}

							.dokan-store-rating,
							.store-social{
								justify-content: center;
							}
						}
					}
				}
			}
		}
	}

	#dokan-seller-listing-wrap {
		.seller-listing-content {
			.dokan-seller-wrap {
				.dokan-single-seller {
					.store-wrapper {
						.store-data h2 {
							margin: 20px 0;
							line-height: 1;
						}
					}
				}

				li .store-footer {
					text-align: left;
				}
			}
		}
	}

	.wcfm-template-themes {
		.woocommerce-tabs {
			.wcfmmp_product_mulvendor_container {
				.wcfmmp_product_mulvendor_rowhead {
					.wcfmmp_product_mulvendor_rowsub {
						text-align: left !important;
					}
				}

				.wcfmmp_product_mulvendor_rowbody {
					position: relative;

					.wcfmmp_product_mulvendor_rowsub {
						&:nth-of-type(2) {
							position: absolute;
							bottom: 10px;
						}

						&:nth-of-type(3) {
							width: 70% !important;
							text-align: right;
						}

						.vendor_name {
							margin-bottom: 15px;
						}

						.button {
							padding: 0 13px;
							height: 30px;
							line-height: 30px;
						}
					}
				}
			}
		}
	}

	// WCFM
	.wcfm-template-themes {
		#wcfmmp-stores-lists {
			.wcfmmp-store-lists-sorting {
				flex-direction: column;
				align-items: flex-start;
			}
		}

		#wcfmmp-stores-wrap {
			ul.wcfmmp-store-wrap li {
				margin-bottom: 30px;

				.store-footer {
					.store-data-container {
						text-align: left;
					}
				}
			}
		}

		#wcfmmp-store,
		#wcfmmp-stores-lists{
			.header_right {
				background: transparent !important;
				clear: both;
				float: left;
				padding-left: 15px;
				padding-right: 15px;
			}
			

			.logo_area_after {
				width: 100%;
			}

			.address {
				padding-left: 15px;
				padding-right: 15px;

				.wcfm-store-address {
					.header_store_name {
						text-align: left;
					}

					span {
						margin-left: 0;
					}

					label {
						margin-right: 5px;
					}
				}
			}

			.bd_icon_area {
				right: 0;
				margin-right: 20px;
			}

			.social_area {
				top: 0;

				ul li {
					margin: 0 8px;

					&:last-child {
						margin-right: 0;
					}
				}
			}

			.tab_area {
				.tab_links {
					display: flex;
					white-space: nowrap;
					overflow: auto;
				}
			}

			.product_area {
				.products-wrapper {
					ul {
						li.product {
							padding-left: 0;
							padding-right: 0;
						}
					}
				}
			}
		}
	}

} // 767

@media (max-width: 480px) {
	.teckzone-blog-default,
	.teckzone-blog-grid,
	.teckzone-related-posts {
		.blog-wrapper {
			flex: 0 0 100%;
			max-width: 100%;
		}
	}

	.teckzone-blog-grid {
		.blog-wrapper {
			margin-bottom: 15px;
		}
	}

	.teckzone-related-posts {
		.blog-wrapper {
			margin-bottom: 30px;
		}
	}

	.comment-list li.pingback .comment-meta, 
	.comment-list li.comment .comment-meta {
	    float: none;
	}
	
	.comment-list li.comment .comment-content{
	    margin: 20px 0 0 0;
	}
	// Woocommerce
	.tz-catalog-categories {
		.cat-item {
			width: 50%;
		}
	}
	
	.woocommerce {
		div.product.product-thumbnail-horizontal {
			.flex-control-nav.slick-slider {
				max-width: 100%;
			}
		}

		div.tz-product-layout-1 {
			.entry-summary-content,
			.entry-summary-sidebar {
				width: 100%;
			}

			.entry-summary-content {
				padding: 0;
				margin-bottom: 40px;
			}

			.entry-summary-sidebar {
				p.price ins {
					display: inline-block;
				}
			}
		}

		div.tz-product-layout-2, 
		div.tz-product-layout-3 {
			.single-button-wrapper {
				.quantity {
					width: 100%;
					margin-bottom: 15px;

					.qty-box {
						width: 100%;
					}
				}

				.action-buttons {
					flex-direction: column;

					button {
						width: 100%;
						margin: 0 0 15px 0;
						
						&:first-child {
							margin-right: 0 !important;
						}
					}

					.group-buttons {
						width: 100%;
					}
				}
			}

			.tawc-deal .deal-expire-countdown .timer .text {
				font-size: 12px;
			}
		}

		div.product {
			.single-button-wrapper {
				.group-buttons {
					justify-content: flex-start;
				}
			}
		}
	}

	.woocommerce-cart {
		div {
			table.shop_table tbody {
				.actions .actions__button-wrapper {
					display: flex;
					flex-direction: column-reverse;

					> div {
						width: 100%;
						text-align: center;
					}

					.actions__right {
						margin-bottom: 10px;
						align-items: center;
					}

					a,
					button:not(.empty-cart-button) {
						width: 100%;
					}

					button.empty-cart-button {
						margin-bottom: 40px;
						display: inline-block;
						width: auto;
					}
				}
			}
		}
	}

	.woocommerce-checkout {
		.coupon-section .woocommerce-form-coupon {
			.form-row-first, 
			.form-row-last {
				float: none;
				width: 100%;
			}

			.form-row-first input {
				border-right: 1px solid #ccc;
				border-bottom-right-radius: 3px;
    			border-top-right-radius: 3px;
			}

			.form-row-last button {
				border-bottom-left-radius: 3px;
    			border-top-left-radius: 3px;
			}
		}
	}

	.tz-product-fbt {
		.fbt-footer {
			display: block;
		}

		.product-buttons {
			margin-top: 40px;
		}
	}

	// Vendor
	.wcfm-template-themes {
		#wcfmmp-store,
		#wcfmmp-stores-lists{
			.header_left,
			.header_right{
				background-color: #f5f5f5;
				clear: both;
			}

			.header_right {
				padding: 20px;
			}

			#wcfm_store_header {
				padding-bottom: 10px;
			}

			.bd_icon_area {
				position: relative;
				z-index: 9;
				right: 0;
			}

			.logo_area {
				top: 0;
			}

			.logo_area_after {
				margin: 5px auto;
				position: relative;
				top: 0;
			}

			.address {
				padding: 20px 15px 0;
				position: relative;
				top: 0;

				> * {
					margin-bottom: 5px;
				}

				.wcfm-store-address {
					align-items: flex-start;
				}

				.header_store_name {
					.wcfm-store-address {
						margin-bottom: 5px;
						align-items: center;
					}
				}

				p {
					text-align: left;
				}

				span {
					margin: 0;
				}

				label {
					margin-right: 5px;
				}
			}
		}
	}

	// QuickView
	.tz-quick-view-modal {
		.product-modal-content {
			div.product {
				.single-button-wrapper {
					.quantity {
						width: 100%;
						flex-direction: column;
						align-items: flex-start;

						.qty-box {
							width: 100%;
						}
					}

					.action-buttons {
						flex-direction: column;

						> * {
							width: 100%;
						}

						button {
							margin: 0 0 15px 0 !important;
						}
					}
				}
			}
		}
	}
} // 480

@media screen and (max-width: 782px) {
	.admin-bar {
		.tz-catalog-filter-mobile,
		.header-element--search .search-panel-content,
		.primary-sidebar.catalog-sidebar,
		.tz-menu-mobile .menu-mobile-wrapper,
		.tz-search-form--mobile .search-panel-content,
		.teckzone-cart-mobile .mini-cart-content,
		.site-header .header-element--cart .mini-cart-content {
			top: 0;
		}
	}
}