/*
Theme Name: teckzone

WooCommerce styles override
*/

/**
 * WooCommerce color variables
 */
$woocommerce__color-error: #e2401c;
$woocommerce__color-success: #2f8a33;
$woocommerce__color-info: #3D9CD2;

/**
 * Imports
 */
@import "variables-site/variables-site";
@import "mixins/mixins-master";

/**
 * Shop tables
 */
@import "shop/tables";

/**
 * Products
 */
@import "shop/products";

/**
 * Catalog Elements
 */
@import "shop/elements";

/**
 * Single product
 */
@import "shop/single-product";

/**
 * Checkout
 */
@import "shop/checkout";

/**
 * My Account
 */
@import "shop/my-account";

/**
 * Cart
 */
@import "shop/cart";

/**
 * General WooCommerce components
 */
@import "shop/components";

/**
 * WooCommerce widgets
 */
@import "shop/widgets";

/**
 * WooCommerce Dokan
 */
@import "shop/dokan";

/**
 * WCFM - WooCommerce Multivendor Marketplace
 */
@import "shop/wcfm-vendor";

