.site-content-row > div,
.teckzone-full-width {
	width: 100%;
}

.site-content {
	padding-top: 80px;
	padding-bottom: 80px;
}

.page-template-template-homepage,
.page-template-template-homepage-wide,
.page-template-template-homepage-full-width {
	.site-content {
		padding-top: 0;
		padding-bottom: 0;
	}
}

.container {
	padding-left: 0;
	padding-right: 0;

	.container {
		width: 100%;
	}
}

.sidebar-content {
	.content-area {
		float: right;
		order: 2;
	}

	.primary-sidebar {
		order: 1;
	}
}

.teckzone-container {
	width: 1650px;
	margin: 0 auto;

	.teckzone-container {
		width: 100%;
	}
}

.teckzone-wide-container {
	width: 1410px;
	margin: 0 auto;

	.teckzone-wide-container {
		width: 100%;
	}
}

@media (max-width: 1650px) {
	.teckzone-container {
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
	}
}

@media (max-width: 1410px) {
	.teckzone-wide-container {
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
	}
}