button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	@include font-size(1);
	color: #fff;
	font-weight: 700;
	line-height: 42px;
	border: 0;
	border-radius: 3px;
	padding: 0 30px;
	background-color: $color__primary;
	transition: 0.5s;
	outline: 0;

	&.alt {
		color: #fff;
		background-color: $color__primary;

		&:hover {
			color: #fff;
			background-color: $color__primary;
		}
	}

	&:hover,
	&:focus {
		color: #fff;
		background-color: $color__primary;
		outline: 0;
	}
}
