.wpcf7-form {
	.wpcf7-form-control {
		width: 100%;
	}

	span.wpcf7-list-item {
		margin: 0 20px 0 0;
	}

	input[type="checkbox"],
	input[type="radio"] {
		-webkit-appearance: none;
		width: 14px;
		height: 14px;
		border: 1px solid #ccc;
		border-radius: 3px;
		box-shadow: none;
		outline: none;
		cursor: pointer;
		margin-right: 3px;

		&:focus {
			box-shadow: none;
			outline: none;
		}

		&:checked {
			border-color: $color__primary;
			box-shadow: none;
			outline: none;

			&:before {
				content: '\e934';
				font-family: Linearicons;
				color: $color__primary;
				font-size: 9px;
				display: inline-block;
				transform: translate(2px,-3px);
				font-weight: 700;
			}
		}
	}

	input[type="radio"] {
		border-radius: 50%;

		&:checked {
			&:before {
				content: '';
				width: 6px;
				height: 6px;
				background-color: $color__primary;
				border-radius: 50%;
				transform: translate(3px, -4px);
			}
		}
	}
}