input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"] {
	color: $color__text-input;
	border: 1px solid $color__border-input;
	border-radius: 3px;
	outline: none;
	box-sizing: border-box;
	padding: 12px 15px;

	&:focus {
		color: $color__text-input;
		outline: none;
	}
}

select {
	color: $color__text-input;
	border: 1px solid $color__border-input;
	border-radius: 3px;
	padding: 10px;
	outline: none;
	box-sizing: border-box;
}

textarea {
	width: 100%;
	color: $color__text-input;
	border: 1px solid $color__border-input;
	border-radius: 3px;
	outline: none;
	box-sizing: border-box;
	padding: 15px;
}
