/**
 *  Cart
 */

.woocommerce-cart {
	table.shop_table {
		border: 0;
		margin-bottom: 40px;

		th, td {
			border-width: 0 0 1px 0;
			border-color: #e5e5e5;

			&:first-child {
				border-left-width: 1px;
			}

			&:last-child {
				border-right-width: 1px;
			}
		}

		thead {
			th {
				background-color: #f5f5f5;
				font-weight: 400;
				color: #555;
				border-color: #eeeeee;
				padding: 11px 30px;
			}
		}

		tbody {
			td {
				vertical-align: top;
				padding: 20px 30px;
			}

			.product-thumbnail {
				a {
					display: inline-block;
					max-width: 74px;
				}
			}

			.product-name {
				> a {
					color: #000;
				}
			}

			.product-price,
			.product-subtotal {
				color: #000;
				font-weight: 700;
			}

			.product-quantity {
				label.label {
					display: none;
				}

				.qty-box {
					max-width: 110px;
				}

				.decrease,
				.increase {
					width: 35px;
				}
			}

			.product-remove {
				a {
					font-size: 9px;
					color: #000 !important;
					width: 20px;
					height: 20px;
					line-height: 20px;
					display: block;
					border: 1px solid #ccc;
					background-color: #fafafa;
					border-radius: 3px;
					text-align: center;

					&:hover {
						color: #000 !important;
						border-color: #ccc !important;
						background-color: #fafafa !important;
					}
				}
			}

			.actions {
				border-width: 1px 0;
				padding: 25px 0 80px;

				.actions__left,
				.actions__right {
					display: flex;
					align-items: center;
				}

				.actions__left {
					float: left;
				}

				.actions__right {
					float: right;
				}

				a,
				button.update_cart {
					color: #000;
					font-size: 13px;
					font-weight: 700;
					background-color: #f5f5f5;
					display: block;
					border: 1px solid #e5e5e5;
					border-radius: 3px;
					text-align: center;
					margin-bottom: 0;
					position: relative;

					i {
						padding-right: 5px;
					}
				}

				a {
					margin-right: 10px;
					padding: 9px 30px;
				}

				button {
					&.update_cart {
						margin-left: 30px;
					}

					&.empty-cart-button {
						color: $color__primary;
						font-weight: 400;
						background-color: transparent;
						padding: 0;
						margin-top: 13px;
						margin-bottom: 13px;
						line-height: 1.2;
						border-radius: 0;
						box-shadow: inset 0 0 0 transparent, inset 0 -1px 0 $color__primary;
					}
				}
			}
		}
	}

	.col-coupon {
		margin-bottom: -100%;
		padding-right: 35px;

		label {
			color: #000;
			font-size: 22px;
			font-weight: 400;
			display: block;
			margin-bottom: 20px;
			margin-top: 14px;
		}

		.coupon-input {
			display: flex;

			input {
				flex-grow: 1;
				border-bottom-right-radius: 0;
				border-top-right-radius: 0;
				border-right: 0;
			}

			button {
				padding: 0 10px;
				width: 90px;
				border-bottom-left-radius: 0;
				border-top-left-radius: 0;
			}
		}
	}

	.col-calculator {
		padding-right: 35px;
	}

	.woocommerce-shipping-calculator {
		a.shipping-calculator-button {
			color: #000;
			font-size: 22px;
			display: block;
			margin-bottom: 20px;
			margin-top: 14px;
		}

		.shipping-calculator-form {
			display: block !important;
		}
	}

	.cart_totals {
		padding: 0 30px 30px;
		background-color: #f5f5f5;
		border-radius: 3px;

		h2 {
			display: none;
		}

		table.shop_table {
			margin-bottom: 3px;

			th,td {
				border-width: 0 0 1px 0;
				padding-left: 0;
				padding-right: 0;
			}

			th {
				color: #000;
			}

			strong {
				color: #000;
			}

			span.amount {
				color: #000;
				font-weight: 700;
			}

			tr:last-child {
				th,
				td {
					border: 0;
				}
			}

			.cart-subtotal,
			.order-total {
				td {
					text-align: right;
				}
			}

			.shipping {
				td {
					padding-bottom: 0;
				}

				span.title {
					display: block;
					margin-bottom: 6px;
				}

				ul#shipping_method {
					margin-bottom: 10px;
				}
			}

			.order-total {
				font-size: 16px;

				span.amount {
					color: #2f8a33;
				}
			}
		}

		a.button {
			color: #fff;
			font-size: 13px;
			font-weight: 700;
			height: 42px;
			line-height: 40px;
			background-color: $color__primary;
			text-align: center;
			padding: 0 15px;
			display: block;
			border-radius: 3px;
		}
	}

	.teckzone-cross-sells-products {
		margin-top: 50px;
	}

	.return-to-shop {
		a {
			color: #000;
			font-size: 13px;
			font-weight: 700;
			background-color: #f5f5f5;
			display: inline-block;
			border: 1px solid #e5e5e5;
			border-radius: 3px;
			text-align: center;
			position: relative;
			padding: 9px 30px;
		}
	}
}

dl.variation {
	margin-top: 0;
	margin-bottom: 5px;

	dd, p {
		margin: 0;
	}

	dt {
		color: #777;
		font-weight: 400;
		padding-right: 3px;
	}

	dd {
		color: #000;
	}

	.variation-group {
		display: flex;
		align-items: center;
		font-size: 13px;
	}
}
