/**
 * Checkout
 */
.woocommerce-checkout {
	.form-login-section,
	.coupon-section {
		margin-bottom: 30px;

		.woocommerce-info {
			border: 2px solid #eeeeee;
			background-color: #fff;
			color: #555555;
			padding: 15px 20px 15px 55px;
			position: relative;

			&:before {
				font-size: 16px;
				color: #000;
				position: absolute;
				left: 21px;
				top: 13px;
			}

			a {
				color: $color__primary;
				float: none;
				box-shadow: none;
				margin-left: 0;
			}
		}
	}

	.form-login-section {
		padding-right: 45px;

		.woocommerce-info {
			&:before {
				content: '\e71e';
			}
		}

		.woocommerce-form-login {
			.form-row-first,
			.form-row-last {
				float: left;
				width: 50%;

				input {
					width: 100%;
				}
			}

			.form-row-first {
				padding-right: 15px;
			}

			.form-row-last {
				padding-left: 15px;
				position: relative;

				a {
					position: absolute;
					top: 9px;
					right: 15px
				}
			}

			.woocommerce-form__label-for-checkbox {
				margin-top: 6px;
				display: inline-block
			}

			.form-row {
				button {
					display: block;
					margin-top: 16px;
				}
			}
		}
	}

	.coupon-section {
		.woocommerce-info {
			&:before {
				content: '\e756';
			}
		}

		.woocommerce-form-coupon {
			.form-row-first,
			.form-row-last {
				float: left;
				padding: 0;

				input,
				button {
					width: 100%;
				}
			}

			.form-row-first {
				width: calc(100% - 170px);

				input {
					border-bottom-right-radius: 0;
					border-top-right-radius: 0;
					border-right: 0;
				}
			}

			.form-row-last {
				width: 170px;

				button {
					padding: 0 10px;
					border-bottom-left-radius: 0;
					border-top-left-radius: 0;
				}
			}

		}
	}

	form.checkout {
		h3 {
			font-size: 22px;
			font-weight: 400;
			margin-top: 0;
			margin-bottom: 23px;

			&#ship-to-different-address {
				font-size: 14px;
				font-weight: 700;
				margin-bottom: 26px;
			}
		}

		.form-row {
			margin-bottom: 16px;

			label {
				display: block;
				margin-bottom: 4px;
			}

			abbr {
				text-decoration: none;
			}

			textarea {
				height: 150px;
			}
		}

		.tz-checkout-billing {
			padding-right: 45px;
		}

		.create-account {
			margin-bottom: 10px;
		}

		.woocommerce-billing-fields {
			padding-bottom: 12px;
		}

		.woocommerce-shipping-fields {
			h3 .woocommerce-form__label-for-checkbox {
				span {
					&:before {
						top: 1px;
					}

					&:after {
						top: 3px;
					}
				}
			}
		}

		.tz-review-order-table {
			background-color: #f5f5f5;
			padding: 9px 30px;
		}

		table.woocommerce-checkout-review-order-table {
			border-width: 0 0 1px 0;
			border-color: #e5e5e5;

			tr {
				&.cart_item--empty {
					td {
						padding: 5px 0;
						background-color: #f5f5f5;
						border: 0;
					}
				}

				&.cart_item--empty-1 {
					td {
						padding: 10px 0;
					}
				}
			}

			th, td {
				border-width: 0 0 1px 0;
				border-color: #e5e5e5;
			}

			thead {
				th {
					color: #000;
					font-weight: 700;
					text-transform: uppercase;
					padding: 15px 0;

					&.product-total {
						padding: 15px 24px;
						text-align: right;
					}
				}
			}

			tbody {
				td {
					background-color: #fff;
					border: 1px solid #eee;
					padding: 14px 24px;
					color: #000;

					&.product-name {
						border-right: 0;

						span.product-quantity {
							color: #777777;
						}
					}

					&.product-total {
						border-left: 0;
						font-weight: 700;
						vertical-align: text-top;
						text-align: right;
					}
				}

				dl.variation {
					display: none;
				}
			}

			tfoot {
				th,td {
					padding: 16px 0 20px;
				}

				.cart-subtotal,
				.shipping span.title,
				.order-total {
					color: #000;
					font-size: 14px;
					font-weight: 700;
				}

				.cart-subtotal {
					th,td {
						padding: 24px 0 15px;
						font-weight: 700;
					}

					td {
						padding-left: 24px;
						padding-right: 24px;
						text-align: right;
					}
				}

				.shipping {
					span.title {
						display: block;
						margin-bottom: 5px;
					}
				}

				.order-total {
					font-size: 18px;

					span.amount {
						color: #2f8a33;
					}

					td {
						padding-left: 24px;
						padding-right: 24px;
						text-align: right;
					}
				}
			}
		}

		#payment {
			ul.payment_methods {
				background: #f5f5f5;
				padding: 0 30px 23px;

				li {
					color: #000;
					margin-bottom: 8px;

					&.woocommerce-notice {
						color: #fff;
					}

					.payment_box {
						color: #555;
						margin-left: 25px;
						margin-top: 10px;
						background-color: #fff;
						border-radius: 3px;
						padding: 16px 15px;
						position: relative;

						&:before {
							content: '';
							border-left: 7px solid transparent;
							border-right: 7px solid transparent;
							border-bottom: 10px solid #fff;
							position: absolute;
							top: -10px;
							left: 15px;
						}

						p {
							margin: 0;
						}
					}

					img {
						width: 90px;
						margin: 0 10px;
					}

					.about_paypal {
						color: #000;
						float: right;
						box-shadow: inset 0 0 0 transparent, inset 0 -1px 0 #000;
					}
				}
			}

			.form-row {
				&.validate-required {
					margin-bottom: 26px;
				}
			}
		}

		.place-order {
			margin-top: 25px;
			.woocommerce-terms-and-conditions-wrapper {
				::-webkit-scrollbar {
					background: transparent;
					width: 5px;
				}
				::-webkit-scrollbar-thumb {
					background-color: #ccc;
				}
			}

			.woocommerce-terms-and-conditions-link {
				color: $color__primary;
				box-shadow: inset 0 0 0 transparent, inset 0 -1px 0 $color__primary;
			}

			button {
				width: 100%;
				height: 50px;
			}
		}
	}
}

// Order
.woocommerce {
	ul.order_details {
		list-style: none;
		padding-left: 0;
	}

	.woocommerce-order-details,
	.woocommerce-customer-details {
		margin-bottom: 26px;

		h2 {
			font-size: 30px;
			margin: 0 0 15px;
		}
	}
}