.i-video {
	width: 30px;
	height: 30px;
	border: 4px solid rgba(255, 255, 255, .3);
	border-radius: 50%;
	position: relative;

	.i-inner {
		width: 22px;
		height: 22px;
		background-color: #fff;
		border-radius: 50%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}

	.i-play {
		width: 0;
		height: 0;
		border-top: 4px solid transparent;
		border-bottom: 4px solid transparent;
		border-left: 5px solid #000;
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}
}

.tz-overflow-y {
	overflow-y: hidden;
}

/**
 * Catalog Layout
 */
.teckzone-catalog-page {
	.site-content {
		padding-top: 30px;
	}
}

/**
 * Header cart
 */
.site-header-cart {
	position: relative;
	margin: 0;
	padding: 0;
	@include clearfix;

	.cart-contents {
		text-decoration: none;
	}

	.widget_shopping_cart {
		display: none;
	}

	.product_list_widget {
		margin: 0;
		padding: 0;
	}
}

/**
 * Star rating
 */
.star-rating {
	overflow: hidden;
	position: relative;
	height: 1em;
	line-height: 1;
	font-size: 12px;
	width: 5.8em;
	font-family: ElegantIcons;
	font-weight: 400;

	&:before {
		content: "\e033\e033\e033\e033\e033";
		float: left;
		top: 0;
		left: 0;
		position: absolute;
		color: #ccc;
		letter-spacing: 2px;
	}

	span {
		overflow: hidden;
		float: left;
		top: 0;
		left: 0;
		position: absolute;
		padding-top: 1.5em;
	}

	span:before {
		content: "\e033\e033\e033\e033\e033";
		position: absolute;
		top: 0;
		left: 0;
		color: #ffbb28;
		letter-spacing: 2px;
	}
}

p.stars {
	a {
		position: relative;
		height: 1em;
		width: 1em;
		text-indent: -999em;
		display: inline-block;
		text-decoration: none;
		margin-right: 1px;
		font-weight: 400;

		&:before {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 1em;
			height: 1em;
			line-height: 1;
			font-family: ElegantIcons;
			content: "\e033";
			color: #ccc;
			text-indent: 0;
		}

		&:hover {
			~ a:before {
				content: "\e033";
				color: #ccc;
			}
		}
	}

	&:hover {
		a {
			&:before {
				content: "\e033";
				color: #ffbb28;
			}
		}
	}

	&.selected {
		a.active {
			&:before {
				content: "\e033";
				color: #ffbb28;
			}

			~ a:before {
				content: "\e033";
				color: #ccc;
			}
		}

		a:not(.active) {
			&:before {
				content: "\e033";
				color: #ffbb28;
			}
		}
	}
}

.woocommerce {
	.tz-rating {
		display: flex;
		align-items: center;

		.star-rating {
			margin-right: 2px;
		}

		.count {
			font-size: 13px;
		}
	}
}

/**
 * Tabs
 */
.tz-woo-tabs,
.woocommerce-tabs {
	ul.tabs {
		list-style: none;
		margin: 0 0 50px;
		padding: 0;
		text-align: left;
		display: flex;
		flex-wrap: wrap;
		border-bottom: 1px solid #eeeeee;
		position: relative;

		li {
			display: block;
			margin: 0 40px 0 0;
			position: relative;
			padding-bottom: 17px;

			a {
				font-size: 18px;
				color: #999;
				font-weight: 700;
				display: block;
			}

			&.active {
				a {
					color: #000;
				}
			}

			&:last-child {
				margin-right: 0;
			}
		}

		.tz-wc-tab__magic-line {
			background-color: $color__primary;
			height: 2px;
			position: absolute;
			bottom: -1px;
			z-index: 99;
			padding: 0;
		}
	}

	ul.tabs::-webkit-scrollbar {
		display: none;
	}

	.panel {
		h2:first-of-type {
			margin-bottom: 1em;
		}
	}

	// Product Information

	table.shop_attributes {
		border-color: #eeeeee;

		th, td {
			border-color: #eeeeee;
			padding: 9px 20px;
		}

		th {
			color: #555;
			background-color: #f5f5f5;
			font-weight: 400;
		}

		td {
			color: #000;

			p {
				margin: 0;
				padding: 0;
			}

			a {
				color: $color__primary;
			}
		}
	}

	// Review
	#reviews {
		.col-review_form {
			padding-left: 70px;

			&.rating-disabled {
				padding-left: 15px;
			}
		}

		#comments {
			margin-top: 50px;
			border-top: 1px solid #e5e5e5;
			padding-top: 45px;

			.woocommerce-Reviews-title {
				font-size: 18px;
				color: #000;
				font-weight: 700;
				margin: 0 0 50px;
			}

			ol.commentlist {
				padding: 0 0 0 30px;
				margin: 0;
				list-style: none;

				li {
					padding: 0 0 17px;
					margin: 0 0 30px;
					border-bottom: 1px solid #e5e5e5;

					&:last-child {
						border-bottom: none;
					}

					img.avatar {
						width: 70px;
						border: none;
						padding: 0;
						background-color: transparent;
						border-radius: 50%;
						float: left;
					}

					.comment-text {
						margin: 0 0 0 115px;
						border-radius: 0;
						padding: 0;
						border: none;

						.tz-rating {
							margin-bottom: 13px;

							.count {
								display: none;
							}
						}

						p {
							margin: 0 0 1em;
						}

						p.meta {
							font-size: 13px;
							color: #777;
							margin-bottom: 3px;

							.author-name {
								color: #000;
							}
						}

						.woocommerce-review__author {
							position: relative;
							color: #000;
							font-size: 14px;
						}
					}
				}
			}
		}

		.average-rating {
			padding: 30px;
			border: 1px solid #eeeeee;

			.average-label {
				font-size: 14px;
				color: #777;
				line-height: 1;
			}

			.average-value {
				font-size: 50px;
				font-weight: 700;
				color: #e84506;
				line-height: 1;
				margin: 0 0 10px;
			}
		}

		.woocommerce-product-rating {
			line-height: 1.4;

			.tz-rating {
				.count {
					display: none;
				}
			}

			a.woocommerce-review-link {
				color: #000;
				font-weight: 700;
			}

			.star-rating {
				font-size: 14px;
				width: 79px;
				margin-bottom: 7px;
			}
		}

		.bar-rating {
			margin-top: 20px;
			padding-top: 20px;
			border-top: 1px solid #eeeeee;

			.star-item {
				display: flex;
				align-items: center;
				line-height: 1;
				margin-bottom: 10px;
				color: #000;

				.slabel {
					min-width: 47px;
				}

				.sbar {
					margin-left: 10px;
					margin-right: 15px;
					flex-grow: 1;
				}

				.svalue {
					font-size: 13px;
					border: 1px solid #eee;
					border-radius: 3px;
					padding: 2px 5px;
					width: 47px;
					text-align: center;
				}

				.bar-content {
					position: relative;
					width: 100%;
					height: 8px;
					background-color: #e5e5e5;

					span {
						background-color: #ffbb28;
						display: block;
						height: 100%;
					}
				}
			}
		}

		.comment-respond {
			.comment-reply-title {
				font-size: 16px;
				font-weight: 700;
				text-transform: uppercase;
				display: block;
				text-align: left;
			}
		}

		.comment-form {
			.comment-form-rating {
				display: flex;
				align-items: center;
				flex-wrap: wrap;
				color: #000;
				margin-bottom: 10px;

				label,
				.stars {
					margin: 0 !important;
				}

				.stars {
					padding-left: 14px;
				}
			}
		}

		#respond {
			.form-submit {
				text-align: left;
			}
		}

	}

	#review_form {
		#respond {
			position: static;
			margin: 0;
			width: auto;
			padding: 0 0 0;
			background: transparent none;
			border: 0;

			.comment-reply-title {
				padding-bottom: 0;
				margin-bottom: 5px;
			}

			.comment-form-rating .stars {
				span {
					line-height: 1.2;
				}

				a {
					color: #ffbb28;
					font-size: 14px;
					margin-right: 0;
				}
			}

			.required {
				color: #cc0000;
			}

			.comment-notes {
				display: block;
				margin-bottom: 18px;
				font-size: 13px;
			}

			label {
				margin-bottom: 4px;
				display: block;
			}

			p {
				margin: 0 0 10px;
			}

			p.clear {
				clear: both;
				margin-bottom: 0;
			}

			.comment-form-cookies-consent {
				position: relative;
				margin: 10px 0 15px;

				label {
					position: relative;
					padding-left: 25px;
					cursor: pointer;

					&:before {
						content: '';
						width: 14px;
						height: 14px;
						border: 1px solid #cccccc;
						border-radius: 3px;
						position: absolute;
						left: 0;
						top: 5px;
					}

					&:after {
						font-size: 10px;
						content: '\e934';
						font-family: Linearicons;
						position: absolute;
						top: 3px;
						left: 2px;
						color: $color__primary;
						opacity: 0;
						font-weight: 700;
					}
				}

				input {
					position: absolute;
					opacity: 0;

					&:checked + label {
						&:before {
							border-color: $color__primary;
						}

						&:after {
							opacity: 1;
						}
					}
				}
			}

			.form-submit {
				margin-top: 10px;
				padding-top: 3px;

				input {
					left: auto;
					padding: 0 30px;
				}
			}

			input[type=text],
			input[type=email],
			textarea {
				border: 1px solid #cccccc;
				transition: 0.5s;
				outline: none;
				padding: 12px 15px;
				width: 100%;
				color: #000;
			}

			.comment-form-author,
			.comment-form-email {
				width: 50%;
				float: left;
				padding-right: 15px;
			}

			.comment-form-email {
				padding-left: 15px;
				padding-right: 0;
			}

			textarea {
				box-sizing: border-box;
				width: 100%;
				min-height: 144px;
			}
		}
	}


}

.tz-woo-tabs {
	.tab-title {
		font-size: 16px;
		text-transform: uppercase;
		margin-top: 0;
		margin-bottom: 15px;
		padding-bottom: 15px;
		border-bottom: 1px solid #eee;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.tz-Tabs-panel {
		margin-bottom: 25px;
	}

	.tab-content-wrapper {
		&.closed {
			display: none;
		}
	}
}

.wcfm-template-themes {
	.woocommerce-tabs {
		.wcfmmp_product_mulvendor_container {
			.woocommerce-spmv-ordering {
				margin-bottom: 20px;
			}

			.wcfmmp_product_mulvendor_rowhead {
				background-color: #f5f5f5;
				box-shadow: none;

				.wcfmmp_product_mulvendor_rowsub {
					font-size: 16px;
					color: #000;
					font-weight: 600;
				}
			}

			.wcfmmp_product_mulvendor_rowbody {
				border: 1px solid #ccc;
				border-top: none;

				.vendor_name {
					a {
						color: #000;

						&:hover {
							color: $color__primary;
						}
					}
				}

				.button {
					@include btn-primary;
					background-color: $color__primary !important;
				}
			}
		}
	}
}

/**
 * Password strength meter
 */
.woocommerce-password-strength {
	text-align: right;

	&.strong {
		color: $woocommerce__color-success;
	}

	&.short {
		color: $woocommerce__color-error;
	}

	&.bad {
		color: $woocommerce__color-error;
	}

	&.good {
		color: $woocommerce__color-info;
	}
}

/**
 * Forms
 */
.required {
	color: red;
}

/**
 * Notices
 */
.woocommerce-message,
.woocommerce-info,
.woocommerce-error,
.woocommerce-noreviews,
p.no-comments {
	@include clearfix;
	background-color: $woocommerce__color-success;
	clear: both;
	color: #fff;
	padding: 15px 30px;
	width: 100%;
	border-radius: 3px;
	margin-bottom: 25px;

	&:before {
		content: '\e959';
		font-family: Linearicons;
		padding-right: 5px;
	}

	a {
		color: #fff;
		float: right;
		display: inline-block;
		margin-left: 10px;
		box-shadow: inset 0 0 0 transparent, inset 0 -1px 0 #fff;
	}
}

.woocommerce-info,
.woocommerce-noreviews,
p.no-comments {
	background-color: $woocommerce__color-info;
}

.woocommerce-noreviews,p.no-comments {
	&:before {
		display: none;
	}
}

.woocommerce-error {
	background-color: $woocommerce__color-error;
	list-style: none;

	li {
		padding-left: 20px;
	}

	&:before {
		content: '\e955';
		position: absolute;
	}
}

p.woocommerce-notice {
	background-color: #ccc;
	color: #fff;
	padding: 15px 30px;
	border-radius: 3px;
}

p.woocommerce-notice--success {
	background-color: $woocommerce__color-success;
}

.demo_store {
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
	margin: 0;
	padding: 1em;
	background-color: $woocommerce__color-info;
	z-index: 9999;
}

// Ribbons

.woocommerce {
	.ribbons .ribbon {
		color: #fff;
		font-size: 13px;
		font-weight: 600;
		text-align: center;
		display: block;
		margin: 0;
		position: absolute;
		background-color: #2f8a33;
		z-index: 1;
		top: 0;
		left: 0;
		height: 20px;
		line-height: 19px;
		padding: 0 7px;
		min-width: inherit;
		min-height: inherit;
		border-radius: 3px;

		&.onsale {
			background-color: #f14705;
		}

		&.featured {
			background-color: #ff8c46;
		}

		&.out-of-stock {
			background-color: #000000;
		}
	}
}

// wishlist
#yith-wcwl-popup-message {
	display: none !important;
}

.yith-wcwl-add-to-wishlist {
	margin-top: 0;

	.yith-wcwl-add-button,
	.yith-wcwl-wishlistaddedbrowse,
	.yith-wcwl-wishlistexistsbrowse {
		& > a {
			display: block;
			color: $color__primary;
			border-radius: 0;
			text-align: center;
			background-color: transparent;
			padding: 0;

			i {
				margin: 0;

				&.icon-heart {
					font-weight: 400;
				}
			}

			.blockOverlay {
				display: none !important;
			}
		}
	}

	.yith-wcwl-add-button .add_to_wishlist.loading {
		position: relative;

		i {
			display: none;
		}

		&:before {
			content: " ";
			width: 11px;
			height: 11px;
			border-radius: 50%;
			border-width: 1px;
			border-style: solid;
			border-color: #777777 transparent #777777 transparent;
			animation: lds-dual-ring 0.5s linear infinite;
			display: inline-block;
			margin-right: 2px;
			position: relative;
			top: 1px;
		}
	}

	.yith-wcwl-wishlistaddedbrowse,
	.yith-wcwl-wishlistexistsbrowse {
		& > a {
			color: $color__primary;

			i {
				color: $color__primary;
			}

			&:hover {
				color: $color__primary;

				i {
					color: $color__primary;
				}
			}
		}
	}

	.feedback {
		display: none;
	}

	.ajax-loading {
		display: none !important;
	}
}

// Quantity

.woocommerce {
	.quantity {
		float: none;

		label.label {
			display: block;
			margin-bottom: 10px;
		}

		.qty-box {
			border: 1px solid #ccc;
			position: relative;
			border-radius: 3px;
		}

		.qty {
			font-size: 13px;
			color: #000;
			font-weight: 700;
			border-width: 0;
			width: 100%;
			padding: 10px 0;
			-moz-appearance: textfield;
			appearance: textfield;
			-webkit-appearance: textfield;
			text-align: center;
			display: inline-block;
			background-color: #fff;
			height: 40px;
			line-height: 40px;
			border-radius: 3px;

			&::-webkit-outer-spin-button,
			&::-webkit-inner-spin-button {
				-webkit-appearance: none;
			}
		}

		.decrease,
		.increase {
			font-size: 10px;
			color: #000;
			font-weight: 700;
			cursor: pointer;
			transition: 0.5s;
			display: inline-block;
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			width: 45px;
			height: 100%;
			line-height: 42px;
			text-align: center;
			background-color: #fff;
		}

		.increase {
			right: 0;
			left: auto;
		}
	}
}

// Excerpt
.woocommerce {
	.woocommerce-product-details__short-description {
		.teckzone-list {
			li {
				margin-bottom: 2px;

				&:before {
					margin-right: 7px;
				}
			}
		}
	}
}

// Single Product extra content
.woocommerce {
	.product-extra-content {
		margin: 20px 0 0;
		padding: 20px 0 0;
		list-style: none;
		border-top: 1px solid #eeeeee;
	}
	.product-feature-items {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			display: flex;
			align-items: center;
			padding-bottom: 4px;

			&:last-child {
				padding-bottom: 0;
			}
		}

		i {
			color: $color__primary;
			padding-right: 15px;
			font-size: 16px;
		}

		strong {
			color: #000;
		}
	}
}

// WC Form
.woocommerce {
	form {
		.form-row {
			margin-bottom: 10px;

			input {
				width: 100%;
				color: #000;
			}

			input[type=radio] ,
			input[type=checkbox] {
				width: auto;
			}

			.select2-container--default {
				.select2-selection--single {
					border-color: #ccc;
					height: 42px;
					border-radius: 3px;

					.select2-selection__rendered {
						line-height: 42px;
						padding-left: 15px;
						color: #000;
					}

					.select2-selection__arrow {
						height: 42px;
						right: 10px;
					}

					&:focus {
						outline: none;
					}
				}
			}
		}

		.form-row-first,
		.form-row-last {
			width: 50%;
			float: left;
		}

		.form-row-first {
			padding-right: 15px;
		}

		.form-row-last {
			padding-left: 15px;
		}

		&.woocommerce-form-register {
			.form-row {
				> * {
					display: block;
				}

				input[type=radio] ,
				input[type=checkbox] {
					position: relative;
					top: 2px;
				}
			}

			p {
				margin-bottom: 10px;
			}
		}
	}
}

// Order Tracking

.woocommerce {
	.woocommerce-form-track-order {
		padding-left: 50px;
		padding-right: 50px;

		p:first-child {
			background-color: #f5f5f5;
			padding: 17px 19px;
			border-radius: 3px;
			margin-bottom: 25px;
		}

		p.form-row {
			width: 100%;
			padding: 0;
			margin-bottom: 18px;

			label {
				font-size: 14px;
				color: #000;
			}

			button {
				margin-top: 8px;
				height: 50px;
			}
		}
	}
}

.woocommerce {
	dl.variation {
		margin-top: 5px;
		line-height: 1.3;
	}
}

// Label for checkbox
.woocommerce {
	.woocommerce-form__label-for-checkbox {
		position: relative;
		color: #000;
		cursor: pointer;

		input {
			position: absolute;
			opacity: 0;

			&:checked + span {
				&:before {
					border-color: $color__primary;
				}

				&:after {
					opacity: 1;
				}
			}
		}

		span:not(.required) {
			position: relative;
			padding-left: 25px;

			&:before {
				content: '';
				width: 14px;
				height: 14px;
				border: 1px solid #cccccc;
				border-radius: 3px;
				position: absolute;
				left: 0;
				top: 3px;
			}

			&:after {
				font-size: 9px;
				content: '\e934';
				font-family: Linearicons;
				position: absolute;
				top: 3px;
				left: 3px;
				color: $color__primary;
				opacity: 0;
				font-weight: 700;
			}
		}
	}

	ul.payment_methods,
	ul.woocommerce-shipping-methods {
		list-style: none;
		padding: 0;
		margin: 0;

		> li {
			> label {
				position: relative;
				padding-left: 25px;
				cursor: pointer;

				&:before {
					content: '';
					width: 14px;
					height: 14px;
					border: 1px solid #cccccc;
					border-radius: 3px;
					position: absolute;
					left: 0;
					top: 3px;
				}

				&:after {
					font-size: 9px;
					content: '\e934';
					font-family: Linearicons;
					position: absolute;
					top: 2px;
					left: 3px;
					color: $color__primary;
					opacity: 0;
					font-weight: 700;
				}

				&.input-type-hidden {
					padding-left: 20px;

					&:before {
						width: 6px;
						height: 6px;
						border-radius: 50%;
						top: 7px;
						left: 5px;
					}

					&:after {
						display: none;
					}
				}
			}

			> input {
				position: absolute;
				opacity: 0;

				&:checked + label {
					&:before {
						border-color: $color__primary;
					}

					&:after {
						opacity: 1;
					}
				}
			}
		}
	}
}

// Wishlist Page
.woocommerce-wishlist .wishlist-title {
	display: none;
}

.yith_wcwl_wishlist_footer {
	> div {
		margin-bottom: 0;
	}

	h4.yith-wcwl-share-title {
		font-size: 14px;
		color: #555;
		margin: 0 14px 0;
		font-weight: 400;
	}

	.yith-wcwl-share {
		float: none;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		margin: 0;

		ul {
			li {
				margin-left: 3px;

				a {
					font-size: 12px;
					min-width: 30px;
					min-height: 30px;
					line-height: 20px;
					border-radius: 3px;
				}
			}
		}
	}
}

// Compare
.yith_woocompare_colorbox {
	border-radius: 3px;

	#cboxTopCenter,
	#cboxTopLeft,
	#cboxTopRight,
	#cboxMiddleLeft,
	#cboxMiddleRight,
	#cboxBottomLeft,
	#cboxBottomCenter,
	#cboxBottomRight {
		display: none;
	}

	#cboxClose {
		background: none;
		top: 10px;
		right: 20px;
		height: 30px;
		bottom: auto;
		text-indent: inherit;
		overflow: hidden;
		color: #ffffff;
		position: fixed;

		&:before {
			content: '\e92a';
			font: normal normal normal 18px/1 Linearicons;
		}
	}
}

.admin-bar {
	.yith_woocompare_colorbox {
		#cboxClose {
			top: 40px;
		}
	}
}

.woocommerce {
	.blockUI.blockOverlay {
		background-color: rgba(255, 255, 255, 0.7) !important;
		opacity: 1 !important;
		background-image: none !important;
		&:after {
			border-radius: 50%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-image: none;
			z-index: 999;
			color: transparent !important;
			font-size: 0;
			border-width: 1px;
			border-color: $color__primary transparent $color__primary transparent;
			-webkit-border-radius: 50%;
			border-style: solid;
			-webkit-animation: lds-dual-ring 0.5s linear infinite;
			animation: lds-dual-ring 0.5s linear infinite;
			content: "";
			width: 30px;
			height: 30px;
			font-weight: 400;
		}

		&:before {
			display: none;
		}
	}
}