// Dokan Vendor Header
.dokan-single-store .profile-frame.profile-frame-no-banner .profile-layout-layout3 .profile-info-summery-wrapper .profile-info-summery .profile-info .dokan-store-info {
    &:after {
        clear: both;
        content: "";
        display: block;
    }
}

.dokan-single-store .profile-frame .profile-info-box .profile-info-summery-wrapper {
    ul li {
        margin-bottom: 0;
    }
}

.dokan-single-store {
    .dokan-store-tabs {
        margin-top: 40px;
        background-color: #f5f5f5;

        ul.dokan-list-inline {
            background-color: transparent;
            border: none;

            li {
                margin-right: 0;
                margin-bottom: 0;
                border-right: none;

                a {
                    font-size: 16px;
                    font-weight: 600;
                    color: #999;

                    &:hover {
                        color: $color__dark;
                        background-color: transparent;
                    }
                }
            }
        }
    }

    .profile-frame.profile-frame-no-banner .profile-layout-tz_custom {
        .profile-info-img {
            display: none;
        }

        .profile-info-summery-wrapper {
            position: relative;

            .profile-info-summery {
                display: flex;
                align-items: center;
                background-color: #f1f1f1;
                width: 100%;
                overflow: hidden;
                padding: 25px;

                .profile-info-head {
                    width: 25%;
                    float: left;

                    .profile-img {
                        margin-bottom: 0;
                        border: 1px solid #e5e5e5;

                        &.profile-img-square {
                            img {
                                border: none;
                                padding: 0;
                                width: 100%;
                                height: auto;
                            }
                        }

                    }
                }

                .profile-info {
                    float: left;
                    padding: 0 0 0 40px;
                    color: #555;
                    width: 75%;

                    .store-social-wrapper {
                        position: static;
                        .label {
                            font-weight: 500;
                            color: #000;
                        }

                        .store-social {
                            margin: 5px 0 0;
                            padding: 0;
                            display: flex;
                            align-items: center;
                            flex-wrap: wrap;

                            li {
                                margin-left: 0;
                                margin-right: 7px;
                                a {
                                    width: 30px;
                                    height: 30px;
                                    line-height: 32px;
                                    text-align: center;
                                    background-color: #1b4e9b;
                                    color: $color__lighter;
                                    border-radius: 3px;
                                    display: block;

                                    i {
                                        font-size: 16px;
                                        text-shadow: none;
                                    }

                                    .fa-flickr {
                                        color: $color__lighter;
                                    }
                                }

                                .social-gplus {
                                    background-color: #cc0000;
                                }

                                .social-twitter {
                                    background-color: #00aeef;
                                }

                                .social-pinterest {
                                    background-color: #c92228;
                                }

                                .social-linkedin {
                                    background-color: #007bb5;
                                }

                                .social-youtube {
                                    background-color: #bb0000;
                                }

                                .social-instagram {
                                    background-color: #125688;
                                }

                                .social-flickr {
                                    background-color: #ff0084;
                                }

                            }
                        }
                    }

                }

                .store-name {
                    font-size: 18px;
                    color: $color__darker;
                    text-transform: uppercase;
                    margin: 0 0 15px;
                    line-height: 1;
                }

                .dokan-store-info {
                    margin: 0;
                    padding: 0;
                    li {
                        position: relative;
                        list-style: none;
                        display: block;
                        padding-bottom: 5px;

                        .label {
                            font-weight: 500;
                            color: $color__darker;
                        }
                    }

                    .dokan-store-rating {
                        display: flex;
                        align-items: center;
                        padding-bottom: 10px;
                        .seller-rating {
                            display: block;
                            margin-right: 11px;
                        }
                        .star-rating {
                            float: left;
                        }
                    }

                    .store-social-wrapper {
                        position: relative;

                        .store-social {
                            padding-left: 0;
                        }
                    }
                }
            }
        }

    }

    // Vendor Page Tollbar
    .catalog-toolbar .catalog-toolbar__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:before, 
        &:after {
            display: none;
        }
    }

    .dokan-pagination-container {
        text-align: left;
        .dokan-pagination {
            margin: 30px 0 80px;


            li {
                margin: 0 2px;
                width: 28px;
                height: 28px;
                border: 1px solid #ccc;
                border-radius: 3px;
                text-align: center;
                display: inline-block;
                transition: .5s;

                a {
                    font-size: 13px;
                    color: #000;
                    border: none;
                    background-color: transparent;
                }

                &:hover ,
                &.active {
                    background-color: #000;
                    border-color: #000;

                    a, a:after{
                        color: #fff;
                    }
                }

                &:first-child,
                &:last-child {
                    position: relative;

                    a {
                        font-size: 0;

                        &:after {
                            font-family: 'Linearicons';
                            position: absolute;
                            content: "\e93b";
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            font-size: 10px;
                            font-weight: bold;
                        }
                    }
                }

                &:first-child {
                    a {
                        &:after {
                            content: "\e93b";
                        }
                    }
                }

                &:last-child {
                    a {
                        &:after {
                            content: "\e93c";
                        }
                    }
                }
            }
        }
    }
}

.dokan-widget-area {
    .widget {
        background-color: #f5f5f5;
        padding: 25px 20px;
        margin-bottom: 0;
        position: relative;
        list-style: none;

        &:after {
            position: absolute;
            bottom: 0;
            left: 20px;
            right: 20px;
            content: "";
            height: 1px;
            background-color: #d8d8d8;
        }

        &:last-child {
            padding-bottom: 25px;

            &:after {
                display: none;
            }
        }

        .widget-title {
            margin-bottom: 20px;
            font-size: 15px;
            text-transform: uppercase;
            margin-top: 0;
        }

        ul li {
            padding: 5px 0;

            a {
                &:hover {
                    box-shadow: none;
                }
            }

            .count {
                font-size: 13px;
            }

        }
    }

    .seller-form {
        .dokan-btn {
            @include btn-primary();
            width: 100%;

            &:hover {
                background-color: $color__primary;
            }
        }
    }

    .dokan-category-menu,
    .dokan-store-menu,
    .widget-collapse {
        border: none;

        .widget-title {
            margin-bottom: 15px;
            color: #000;
            padding: 0;
            background-color: transparent;
            border: none;
        }

        #cat-drop-stack > ul li.parent-cat-wrap {
            background-color: transparent;
            a {
                color: #000;
                font-size: 14px;
                margin: 0;
                border-bottom: none !important;

                &:hover {
                    color: $color__primary;
                }
            }

        }

        #cat-drop-stack ul {
            margin-top: 0;
        }

        #cat-drop-stack ul .children {
            display: none;
        }

        #cat-drop-stack > ul li {
            padding: 0;
        }

        #cat-drop-stack > ul li a {
            padding-top: 5px;
            padding-bottom: 5px;
            display: block;
            position: relative;
        }

        #cat-drop-stack > ul li a .caret-icon {
            font-size: 16px;
            position: absolute;
            right: -2px;
            display: inline-block;
            width: 20px;
            vertical-align: middle;
            text-align: center;
        }

        #cat-drop-stack ul li:last-child.has-children a {
            border-bottom: none !important;
        }

        #cat-drop-stack > ul li.parent-cat-wrap ul.level-0 {
            background-color: transparent;

            li a {
                color: #666;
            }
        }
    }

    .dokan-form-control {
        border-color: #d9d9d9;
    }

    .dokan-store-contact {
        .dokan-btn {
            @include btn-primary();
            width: 100%;

            &:hover {
                background-color: $color__primary
            }
        }
    }
}

.dokan-store-sidebar {
    ul.product_list_widget {

        li {
            margin-bottom: 15px;

            &:last-child {
                margin-bottom: 0;
            }

            &:after {
                clear: both;
                display: block;
                content: "";
            }
        }
        li img {
            float: left;
            margin-right: 15px;
            width: 80px;
            margin-left: 0;
        }

        li a {
            font-size: 14px;
            font-weight: 400;
            display: inherit;
            margin-bottom: 5px;
        }

        .product-title {
            font-size: 14px;
            font-weight: 400;
            display: inherit;
            margin-bottom: 8px;
            line-height: 1.2;
        }

        .woocommerce-Price-amount {
            font-size: 16px;
            color: #000;
            font-weight: 400;
            padding-top: 5px;
            display: inline-block;
        }

        li del {
            padding-left: 5px;

            .woocommerce-Price-amount {
                font-size: 14px;
                text-decoration: line-through;
                color: #999;
            }
        }
    }

    ul li {
        display: block;
        padding: 5px 0;

        a {
            color: $color__darker;
        }

        &.current-cat,
        &.chosen {
            & > a,
            & > .count {
                color: $color__primary;
            }

            & > a {
                font-weight: 600;
            }
        }

        .children {
            padding-left: 15px;
            margin-left: 0;
            margin-top: 7px;

            li:last-child {
                padding-bottom: 0;
            }

            li a {
                color: #666666;

                &:hover {
                    color: $color__darker;
                }
            }

            li.current-cat {
                & > a {
                    color: $color__primary;
                }
            }

        }
    }

    & > ul > li {
        &:last-child {
            padding-bottom: 0;
        }

        &:first-child {
            padding-top: 0;
        }
    }

    .widget_shopping_cart {
        .buttons {
            .button {
                width: 100%;
            }
        }
    }
}

.dokan-form-group {
    input[type="text"],
    input[type="email"],
    input[type="url"],
    input[type="password"],
    input[type="search"],
    input[type="number"],
    input[type="tel"],
    input[type="range"],
    input[type="date"],
    input[type="month"],
    input[type="week"],
    input[type="time"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="color"],
    select {
        font-size: 14px;
        min-height: 26px;
        line-height: 26px;
        padding: 6px;
    }
}

select.dokan-form-control {
    height: 40px;
}

.select2-container--default {
    &.select2-container--focus .select2-selection--multiple {
        padding: 1px 2px 0 13px;
    }
    .select2-selection--multiple {
        padding: 1px 2px 0 13px;
    }
    .select2-selection--single {
        .select2-selection__rendered {
            line-height: 38px;
        }
        .select2-selection__arrow {
            height: 38px;
        }
    }
}

input[type="submit"].dokan-btn-theme,
a.dokan-btn-theme,
.dokan-btn-theme {
    @include btn-primary;
}

.seller-listing-content {
    .store-wrapper {
        .store-footer {
            .dokan-btn-theme.dokan-btn-round {
                padding: 0;
            }
        }
    }
}

#dokan-seller-listing-wrap.list-view .dokan-seller-wrap .dokan-single-seller .store-wrapper .store-content .store-data-container .store-data h2 {
    font-size: 25px;
}

#dokan-seller-listing-wrap .seller-listing-content .dokan-seller-wrap .dokan-single-seller .store-wrapper .store-data h2 {
    margin: 20px 0;
}

// Vendor tab
.woocommerce div.product .wc-tabs-wrapper .panel {
    &.woocommerce-Tabs-panel--seller,
    &.tz-Tabs-panel--seller {
        .tab-content-wrapper {
            margin-bottom: 20px;
            
            & > h2 {
                font-size: 16px;
                margin-top: 0;
                font-weight: 700;
                text-transform: uppercase;
                display: block;
                text-align: left;
            }
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;

            .star-rating {
                float: left;
                margin-top: 3px;
                margin-right: 5px;
            }

            .store-name,
            .seller-name,
            .store-address {
                span {
                    color: #000;
                    font-weight: 500;
                    b {
                        font-weight: 500;
                    }
                }

                .details {
                    color: #666;
                    font-weight: 400;

                    br {
                        display: inline-block;
                    }
                }
            }

            .store-rating {
                display: flex;
                align-items: center;

                .seller-rating {
                    margin-right: 5px;
                }
            }
        }
    }

    &.woocommerce-Tabs-panel--seller_enquiry_form,
    &.tz-Tabs-panel--seller_enquiry_form{
        & > h3 {
            font-size: 16px;
            font-weight: 600;
            text-transform: uppercase;
            display: block;
            text-align: left;
        }

        #dokan-product-enquiry {
            margin: 0 auto;
            .form-group {
                .form-control {
                    width: 100%;
                    margin-bottom: 15px;
                }
            }

            .dokan-btn {
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }
    }
}

.dokan-dashboard .dokan-dash-sidebar #dokan-navigation > #mobile-menu-icon {
    z-index: 999;
}

// Mobile
.mobile-version {
    .dokan-store-sidebar {
		position: fixed;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    z-index: 1600;
        opacity: 0;
        visibility: hidden;
        margin-top: 0;

		.dokan-widget-area{
			position: absolute;
		    right: 0;
		    top: 63px;
		    height: 100%;
		    width: 100%;
		    max-width: 100%;
		    margin: 0;
		    background: #f7f7f7;
		    transform: translateX(-100%);
		    transition: transform .5s;
            overflow: auto;
            
            .widget {
                margin-bottom: 0;
                padding: 20px;
            }
		}

		.tz_widget_product_categories{
			margin-bottom: 0;
			background-color: #f7f7f7;
		}

	    &.tz-filter-active{
            opacity: 1;
            visibility: visible;
			
			.dokan-widget-area{
			    transform: none;
			}

			.tz-widget-products-carousel{
				display: none;
			}

			~ .tz-vendor-close-sidebar {
				transform: translate3d(100%, 0, 0);
                opacity: 1;
		        transition: .5s;
			}
	    }
	}

	.tz-vendor-close-sidebar {
		position: fixed;
	    top: 0;
		left: -100%;
	    width: 100%;
	    z-index: 99999;
		margin-top: 0;
		background-color: #fff;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 15px 15px 13px;
		border-bottom: 1px solid #dedede;
        opacity: 0;
        transition: 0s;

		h2 {
			font-size: 16px;
			margin: 0;
		}

		.close-sidebar {
			color: #222;
			font-size: 20px;
		}
    }
    
    .dokan-single-store {
        margin-top: 0;

        .catalog-toolbar {
            .catalog-toolbar__bottom {
                .shop-view__icon {
                    a.extended {
                        display: none;
                    }
                }
            }
        }
    }

    .tz-catalog-toolbar {
        position: relative;

        &:before {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 50%;
            width: 1px;
            height: 60%;
            background-color: #ccc;
            z-index: 1;
        }

        .tz-vendor-infor-mobile {
            display: flex;
            align-items: center;
            position: relative;
            padding-right: 20px;
            color: #000;

            &:before {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 0;
                content: '\e93a';
                display: inline-block;
                font: normal normal normal 12px/1 linearicons;
                color: #222;
            }

            span {
                margin-left: 5px;
            }
            
            i {
                font-size: 16px;
            }
        }
    }

    ul.products li.product .product-button .group-yith .feedback {
        display: none !important;
    }
}