.catalog-banners-group {
	margin-bottom: 48px;
}

.tz-catalog-banners {
	margin-bottom: 12px; // Spacing between banners carousel vs banners grid

	ul {
		margin: 0;
		padding: 0;
		list-style: none;

		&.slick-dotted.slick-slider {
			margin-bottom: 0;
		}
	}

	.slick-dots {
		position: absolute;
		bottom: 22px;
	}
}

.tz-catalog-banners-grid {
	.row-flex {
		margin-left: -6px;
		margin-right: -6px;
	}

	.item {
		padding-left: 6px;
		padding-right: 6px;
		margin-bottom: 12px;

		a {
			display: block;
		}
	}
}

.tz-catalog-header {
	margin-bottom: 27px;

	.tz-catalog-title {
		font-size: 26px;
		margin: 0 0 4px;
	}
}

.tz-catalog-categories {
	margin-bottom: 25px;

	.catalog-categories__wrapper {
		display: flex;
		flex-wrap: wrap;
	}

	.cat-item {
		margin-bottom: 40px;

		a {
			color: #000;
			transition: unset;

			&.thumbnail {
				display: block;
				margin-bottom: 8px;
				position: relative;

				&:after {
					content: '';
					height: 100%;
					width: 1px;
					position: absolute;
					top: 0;
					right: -21px;
					background-color: #eee;
				}
			}
		}

		&:last-child {
			a.thumbnail:after {
				display: none;
			}
		}

		.cat-content {
			margin-bottom: 18px;
		}

		.cat-item__wrapper {
			padding: 20px;
			border-width: 1px 1px 0 1px;
			border-style: solid;
			border-color: transparent;
			border-radius: 3px;
			position: relative;
			text-align: center;

			&:hover {
				border-color: #cccccc;

				a.thumbnail:after {
					display: none;
				}

				.box-title {
					color: $color__primary;
					box-shadow: inset 0 0 0 transparent, inset 0 -1px 0 $color__primary;
				}

				ul.child-list {
					border-color: #cccccc;
					z-index: 99;
					opacity: 1;
				}
			}
		}

		&.no-child {
			.cat-item__wrapper {
				border-bottom-width: 1px;
			}

			.cat-content {
				margin-bottom: 0;
			}
		}
	}

	ul.child-list {
		padding: 9px 20px 11px;
		margin: 0;
		list-style: none;
		border-width: 0 1px 1px 1px;
		border-style: solid;
		border-color: transparent;
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
		position: absolute;
		left: -1px;
		right: -1px;
		z-index: -1;
		opacity: 0;
		background-color: #fff;

		&:before {
			content: '';
			height: 1px;
			position: absolute;
			top: 0;
			right: 21px;
			left: 21px;
			background-color: #eee;
		}

		a {
			color: #555555;
			display: block;
		}

		li {
			padding: 1px 0;
		}

		.parent {
			margin-top: 10px;

			a {
				color: #777777;
			}

			i {
				font-size: 9px;
				transform: translate(2px, -1px);
				display: inline-block;
			}
		}
	}
}

.tz-catalog-categories-2 {
	margin-bottom: 25px;

	.catalog-categories__wrapper {
		display: flex;
		flex-wrap: wrap;
	}

	.cat-item {
		position: relative;
		margin-bottom: 10px;

		&:after {
			content: '';
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
			width: 1px;
			height: 50%;
			background-color: #eeeeee;
		}

		&:last-child {
			&:after {
				display: none;
			}
		}

		&.no-thumb {
			.cat-content {
				width: 100%;
			}
		}

		&:hover {
			&:after {
				background-color: transparent;
			}

			.cat-item__wrapper {
				border-color: #ccc;
			}

			.box-title {
				color: $color__primary;
				box-shadow: inset 0 0 0 transparent, inset 0 -1px 0 $color__primary;
			}
		}
	}

	.cat-item__wrapper {
		display: flex;
		align-items: center;
		padding: 20px 10px;
		height: 100%;
		border: 1px solid transparent;
		border-radius: 3px;
		transition: unset;
	}

	.thumbnail {
		width: 45%;
		padding-left: 10px;
	}

	.cat-content {
		width: 55%;
		padding-left: 10px;
	}

	.box-title {
		color: #000;
	}

	.cat-count {
		color: #777;
		display: block;
	}
}

@media screen and (min-width: 1200px) {
	@for $i from 4 through 7 {
		.tz-catalog-categories.columns-#{$i} {
			.cat-item {
				@include column-width($i);

				&:nth-child(#{$i}n) {
					a.thumbnail:after {
						display: none;
					}
				}
			}
		}

		.tz-catalog-categories-2.columns-#{$i} {
			.cat-item {
				@include column-width($i);

				&:nth-child( #{$i}n ) {
					&:after {
						display: none;
					}
				}
			}
		}
	}
}

.tz-products-top-carousel {
	margin-bottom: 70px;

	.carousel-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 15px;

		h2 {
			font-size: 22px;
			font-weight: 400;
			margin: 0 20px 0 0;
		}

		.slick-arrows {
			display: flex;
			align-items: center;
			margin-left: 20px;
		}
	}

	.slick-prev-arrow,
	.slick-next-arrow {
		position: static;
		transform: unset;
		font-weight: 700;
	}

	.slick-next-arrow {
		margin-left: 10px;
	}

	.slick-list {
		padding: 0 2px 101px;
		margin-bottom: -66px;
		z-index: 7;

		&:hover {
			z-index: 9;
		}
	}

	.slick-dots {
		z-index: 8;
		margin: 10px 0 30px;
	}

	ul.products {
		border: 1px solid #eeeeee;
		border-radius: 3px;
		padding: 20px 16px 36px;

		li.product {
			clear: none;
			margin-bottom: 0;
			padding-left: 2px;
			padding-right: 2px;

			.woocommerce-product-details__short-description {
				display: none;
			}
		}

		&.slick-slider {
			padding-bottom: 0;
		}
	}
}

.tz-catalog-brands {
	margin-bottom: 55px;

	.carousel-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 20px;

		h2 {
			font-size: 22px;
			font-weight: 400;
			margin: 0 20px 0 0;
		}

		.slick-arrows {
			display: flex;
			align-items: center;
			margin-left: 20px;
		}
	}

	.slick-prev-arrow,
	.slick-next-arrow {
		position: static;
		transform: unset;
		font-weight: 700;
	}

	.slick-next-arrow {
		margin-left: 10px;
	}

	.slick-track {
		display: flex;
		align-items: center;
	}

	.brand-wrapper {
		border: 1px solid #dddddd;
		border-radius: 3px;
		padding: 36px 25px;
	}

	.brand-item {
		text-align: center;
		padding: 0 25px;

		img {
			margin: auto;
		}
	}
}

.tz-catalog-layout-2 {
	.tz-catalog-banners .slick-dots {
		bottom: 17px;
	}
}