.woocommerce-account {
	// Login & Register Form

	.disable-register {
		.tabs-nav li {
			width: 100%;
		}
	}

	.teckzone-login-tabs {
		border: 1px solid #dddddd;
		max-width: 400px;
	}

	.teckzone-login-layout-default {
		.teckzone-login-tabs {
			margin: auto;
		}
	}

	.tabs-nav {
		li {
			width: 50%;
			float: left;

			a {
				display: block;
				color: #999999;
				font-size: 20px;
				font-weight: 700;
				padding: 0 10px;
				border-width: 0 1px 1px 0;
				border-style: solid;
				border-color: #dddddd;
				text-align: center;
				background-color: #f5f5f5;

				span {
					display: inline-block;
					position: relative;
					padding: 8px 0;

					&:after {
						content: '';
						width: 100%;
						height: 1px;
						background-color: transparent;
						position: absolute;
						bottom: 0;
						left: 50%;
						transform: translateX(-50%);
						transition: 0.5s;
					}
				}

				&.active {
					background-color: #fff;
					border-bottom-color: transparent;
					color: #000000;

					span:after {
						background-color: $color__primary;
					}
				}
			}

			&:last-child {
				a {
					border-right-width: 0;
				}
			}
		}
	}

	.tabs-panel {
		padding: 30px 30px 20px;

		h2 {
			text-transform: capitalize;
			color: #555555;
			font-size: 14px;
		    font-weight: 400;
			margin: 7px 0 20px;
		}
	}

	form.login,
	form.register {
		button {
			display: block;
			width: 100%;
			margin-top: 17px;
		}
	}

	form.login {
		.form-row-password {
			position: relative;

			a.lost-password {
				position: absolute;
				top: 9px;
				right: 15px;
			}
		}

		.woocommerce-form-login__rememberme {
			display: block;
			padding-top: 5px;
		}
	}

	form.register {
		.woocommerce-privacy-policy-text {
			margin: 25px 0;

			a {
				box-shadow: inset 0 0 0 transparent, inset 0 -1px 0 $color__primary;
			}
		}
	}

	// Socials Login

	div.nsl-container-block,
	.the_champ_outer_login_container {
		border-top: 1px solid #eeeeee;
		padding-top: 30px;
		margin-top: 30px;
		margin-bottom: 10px;
	}

	div.nsl-container-block .nsl-container-buttons a {
		max-width: 100%;
	}

	// Dashboard
	.account-info {
		width: 100%;
		display: flex;
		align-items: center;
		margin-bottom: 30px;

		.account-avatar {
			margin-right: 15px;

			img {
				border-radius: 50%;
			}
		}

		.account-name {
			span {
				font-size: 18px;
				line-height: 1;
				display: block;
			}

			h3 {
				font-size: 18px;
				margin: 5px 0 0;
				display: block;
			}
		}
	}

	.woocommerce-MyAccount-navigation {
		width: 25%;
		float: left;

		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			border: 1px solid #eaeaea;
			text-transform: uppercase;

			li {
				border-bottom: 1px solid #eaeaea;
				background-color: #f5f5f5;

				a {
					color: #000;
					display: block;
					padding: 10px 30px;
				}

				&.is-active {
					a {
						font-weight: 700;
					}
				}

				&:last-child {
					border-bottom: 0;
				}
			}
		}
	}

	.woocommerce-MyAccount-content {
		width: 70%;
		float: right;

		.woocommerce-Addresses {
			.woocommerce-Address-title {
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin-bottom: 10px;

				h3 {
					font-size: 24px;
					margin: 10px 0;
				}
			}
		}

		form.edit-account {
			fieldset {
				border: 0;
				margin: 0;
				padding: 0;

				legend {
					display: none;
				}
			}

			button {
				margin-top: 20px;
			}
		}
	}
}

@media ( min-width : 992px ) {
	.teckzone-login-layout-promotion {
		.login-promotion {
			padding-left: 85px;
		}
	}
}

@media ( max-width : 991px ) {
	.teckzone-login-layout-promotion {
		.login-promotion {
			margin-top: 40px;
		}
	}
}