/**
 * Toolbar
 */
.catalog-toolbar {
	margin-bottom: 20px;

	.catalog-toolbar__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 10px;
	}

	.products-found {
		color: #999;
		font-size: 22px;

		span {
			color: #000;
		}
	}

	.current-page {
		color: #000;
		display: flex;
		align-items: center;

		form {
			margin: 0 6px;

			input {
				width: 30px;
				height: 25px;
				border: 1px solid #ccc;
				border-radius: 3px;
				text-align: center;
				padding: 0;
				color: #000;
			}

			input[type=number]::-webkit-inner-spin-button,
			input[type=number]::-webkit-outer-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}
		}
	}

	.catalog-toolbar__bottom {
		padding: 10px 30px;
		background-color: #f5f5f5;
		border-radius: 3px;
	}

	.woocommerce-ordering,
	.per-page {
		color: #000;
		margin: 0 20px 0 0;
		padding: 0;

		li {
			list-style: none;
			margin-bottom: 0;
		}

		& > li {
			display: inline-block;
			position: relative;
			color: #999;

			&.current {
				color: #000;
			}
		}

		.cancel-ordering {
			display: none;
		}

		.current {
			min-width: 60px;
			display: inline-block;
			cursor: pointer;
			min-height: 42px;
			line-height: 40px;
			border: 1px solid #ccc;
			border-radius: 3px;
			background-color: #fff;
			padding: 0 22px 0 15px;

			&:after {
				font-size: 9px;
				content: '\e93a';
				font-family: Linearicons;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 12px;
				color: #000;
			}
		}

		li > ul {
			margin: 0;
			position: absolute;
			top: 100%;
			left: 0;
			transition: top 0.5s;
			border: 1px solid #cccccc;
			border-radius: 3px;
			background-color: #fff;
			padding: 10px 0;
			color: #999;
			transform: scale(0);
			z-index: -999;
			line-height: 1.4;
			min-width: 100%;

			li {
				padding: 5px 0;
				a {
					padding: 0 15px;
					display: block;
					color: #999;
					white-space: nowrap;

					&.active,
					&:hover {
						color: #000;
					}
				}

			}

		}

		li.current:hover {
			& > ul {
				transform: scale(1);
				z-index: 999;
			}
		}
	}

	.woocommerce-ordering {
		float: left;
		margin-right: 0;

		.current {
			min-width: 270px;
		}
	}

	.cancel-ordering {
		display: none;
	}

	.shop-view {
		display: flex;
		align-items: center;
		float: right;

		label {
			font-size: 13px;
			color: #000;
			font-weight: 700;
			margin-right: 13px;
		}

		.per-page {

		}

		.shop-view__icon {
			display: flex;
			align-items: center;
			position: relative;

			a {
				color: #999;
				display: inline-block;

				&.grid {
					font-size: 15px;
				}

				&.extended {
					font-size: 19px;
				}

				&.list {
					font-size: 20px;
				}

				&.current {
					color: $color__primary;
				}
			}

			span.sep {
				width: 1px;
				height: 18px;
				display: block;
				background-color: #e5e5e5;
				margin: -2px 7px 0;
			}
		}
	}
}

.tz-catalog-toolbar-mobile {
	.catalog-toolbar__bottom {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.shop-filter {
			display: flex;
			align-items: center;
		}

		.tz-catalog-filter-mobile {
			display: flex;
			align-items: center;
			font-size: 14px;
			color: #000;
			padding-right: 20px;
			
			i {
				padding-right: 7px;
			}
		}

		.shop-view {
			float: none;

			label,
			.per-page {
				display: none;
			}
		}
	}
}

/* Swatches */
.tz-attr-swatches {
	.tz-attr-swatches__wrapper {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		margin-bottom: 0;
		margin-left: -5px;
		margin-right: -5px;
	}

	.tz-swatch-item {
		display: inline-block;
		margin: 0 3px 6px 3px;
		cursor: pointer;
		transition: 0.35s;
		border: 1px solid #dddddd;
		overflow: hidden;

		&.swatch-image {
			margin: 0 5px;
		}

		&.swatch-label {
			padding: 0 5px;
		}

		&.swatch-color {
			.sub-swatch {
				display: block;
				width: 15px;
				height: 15px;
			}
		}

		img {
			max-width: 36px;
			height: auto;
			margin: auto;
		}

		&:hover {
			border-color: $color__primary;
			color: $color__primary;
		}
	}

	.slick-arrow {
		z-index: 10;
		color: #999;
		top: 55%;
		transition: 0.5s;
		width: inherit;
		height: inherit;
		background-color: transparent;
		border: 0;

		&:hover {
			color: #000;
		}
	}

	.slick-prev-arrow {
		left: -10px;
	}

	.slick-next-arrow {
		right: -12px;
	}

	&.slick-slider {
		margin-left: 0;
		margin-right: 0;
	}
}

/**
 * Products
 */
ul.products {
	list-style: none;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 0;

	&.slick-slider {
		display: block;
	}

	li.product {
		margin-bottom: 26px;
		position: relative;

		&:hover {
			z-index: 1;
		}

		&.product-category {
			padding-left: 20px;
			padding-right: 20px;
		}

		img {
			display: block;
		}

		.product-inner {
			padding: 20px 20px 0;
			border-width: 1px 1px 0 1px;
			border-style: solid;
			border-color: transparent;
			border-top-left-radius: 3px;
			border-top-right-radius: 3px;

			&:hover {
				border-color: #ddd;

				.product-details-hover {
					display: block;
					z-index: 9;
				}

				.product-thumbnail .teckzone-product-quick-view {
					opacity: 1;
					z-index: 8;
				}

				.tz-attr-swatches {
					opacity: 1;
					bottom: 0;
					transform: scaleX(1);
					z-index: 9;
				}
			}
		}

		.woocommerce-product-details__short-description {
			display: none;
		}

		.product-thumbnail {
			position: relative;
			margin-bottom: 8px;

			.teckzone-product-quick-view {
				font-size: 13px;
				color: #777777;
				position: absolute;
				top: 0;
				right: 0;
				line-height: 1;
				opacity: 0;
				transition: unset;
			}
		}

		.ribbons .ribbon {
			z-index: 0;
		}

		.product-details {
			position: relative;
		}

		.tz-cat {
			color: $color__primary;
			font-size: 13px;
			font-weight: 700;
			margin-bottom: 2px;
			display: inline-block;
		}

		.woocommerce-loop-category__title,
		.woocommerce-loop-product__title {
			color: #000;
			font-size: 14px;
			font-weight: 400;
			margin: 0;
			padding-bottom: 3px;
			line-height: 1.4;

			a {
				color: #000;

				&:hover {
					color: $color__primary;
					box-shadow: inset 0 0 0 transparent, inset 0 -1px 0 $color__primary;
				}
			}
		}

		.woocommerce-loop-category__title {
			margin-top: 12px;
		}

		.price {
			color: #000;
			font-weight: 700;
			display: flex;
			flex-wrap: wrap;

			ins {
				color: #2f8a33;
				margin-right: 4px;
				order: 1;
			}

			del {
				font-weight: 400;
				margin-right: 4px;
				order: 2;
			}

			.sale {
				color: #e84506;
				font-weight: 400;
				order: 3;
			}
		}

		.product-button {
			.button {
				color: #fff;
				font-size: 13px;
				font-weight: 700;
				background-color: $color__primary;
				display: block;
				border-radius: 3px;
				padding: 5px 10px;
				text-align: center;
				position: relative;

				i {
					font-size: 11px;
					padding-right: 4px;
				}

				&:before {
					content: " ";
					width: 10px;
					height: 10px;
					border-radius: 50%;
					border-width: 1px;
					border-style: solid;
					border-color: #fff transparent #fff transparent;
					animation: lds-dual-ring 0.5s linear infinite;
					margin-right: 4px;
					display: none;
				}

				&.loading {
					&:before {
						display: inline-block;
					}

					i {
						display: none;
					}
				}
			}

			.added_to_cart {
				display: none;
			}

			.compare-button {
				a {
					&:before {
						content: '\e6ee';
						font-size: 13px;
						font-family: Linearicons;
						margin-right: 3px;
						display: inline-block;
						transform: translateY(1px);
					}

					&:not(.added) {
						&.loading {
							&:before {
								content: " ";
								width: 12px;
								height: 12px;
								border-radius: 50%;
								border-width: 1px;
								border-style: solid;
								border-color: #777777 transparent #777777 transparent;
								animation: lds-dual-ring 0.5s linear infinite;
								display: inline-block;
								position: relative;
								top: 1px;
							}
						}
					}

					&.added {
						&:before {
							content: '\e6ed';
						}
					}

					.blockUI {
						display: none !important;
					}
				}
			}

			.group {
				font-size: 13px;
				color: #777777;
				display: flex;
				align-items: center;
				justify-content: space-evenly;
				margin-top: 15px;

				a {
					color: #777777;
					line-height: 1;
					display: block;

					&:hover {
						color: #000;
					}
				}

				.divider {
					width: 1px;
					height: 12px;
					margin: 0 5px;
					background-color: #dddddd;
				}
			}
		}

		.product-details-hover {
			padding: 18px 20px;
			border-width: 0 1px 1px 1px;
			border-style: solid;
			border-color: #dddddd;
			border-bottom-left-radius: 3px;
			border-bottom-right-radius: 3px;
			position: absolute;
			left: -21px;
			right: -21px;
			top: 100%;
			display: none;
			background-color: #fff;
			z-index: -1;
		}

		.woocommerce-product-details__short-description {
			margin-top: 17px;
		}

		.product-right-box {
			display: none;
		}

		.tz-attr-swatches {
			position: absolute;
			right: 0;
			left: 0;
			background-color: #fff;
			z-index: -1;
			transform: scaleX(0);
			transition: bottom .3s ease 0s, opacity .3s;
			padding: 11px 0;

			&:not(.tz-attr-swatches--image) {
				padding-bottom: 5px;
			}
		}

		.product-details-hover {
			.tz-attr-swatches {
				display: none;
			}
		}

		.tawc-deal {
			display: none;
		}

		.sold-by-meta {
			margin-bottom: 4px;
			font-size: 13px;

			a {
				color: #777;

				&:hover {
					color: $color__darker;
				}
			}
		}
	}
}

@media screen and (min-width: 1200px) {
	ul.products {
		li.product {
			@include column-width(4);
		}
	}

	ul.products.columns-1 {
		li.product {
			float: none;
			width: 100%;
		}
	}

	@for $i from 2 through 9 {
		ul.products.columns-#{$i} {
			li.product {
				@include column-width($i);
			}
		}
	}
}

// Shop View Grid
.catalog-view-grid {
	ul.products {
		&.columns-7 {
			li.product {
				.product-button {
					.group {
						a {
							span {
								display: none;
							}

							&.compare {
								width: 13px;
								height: 13px;
								display: block;
								overflow: hidden;

								&:before {
									margin-right: 0;
								}
							}
						}
					}
				}
			}
		}
	}
}

// Shop View List
.catalog-view-list {
	.teckzone-shop-content {
		ul.products {
			margin: 0;

			li.divider {
				display: none;
			}

			li.product {
				width: 100%;
				padding: 0;

				&.product-category {
					border-top: 1px solid #eee;
					padding-top: 20px;

					a {
						display: flex;
					}

					.woocommerce-loop-category__title {
						padding-left: 20px;
					}

					&:first-child {
						border-top: 0;
						padding-top: 0;
					}
				}

				.product-inner {
					border-top: 1px solid #eee;
					display: flex;

					&:hover {
						border-color: #dddddd;

						.tz-attr-swatches {
							opacity: 1;
							z-index: 29;
						}
					}
				}

				&:first-child {
					.product-inner {
						border-top-color: transparent;

						&:hover {
							border-color: #dddddd;
						}
					}
				}

				&:last-child {

				}

				.product-thumbnail {
					width: 21%;
					margin-bottom: 0;

					.tz-attr-swatches {
						display: none;
					}
				}

				.product-details {
					width: 79%;
					padding-left: 42px;
					display: flex;
					justify-content: space-between;
					position: static;
				}

				.product-content-box {
					max-width: 380px;
					padding-right: 30px;

					span.price {
						display: none;
					}
				}

				.price {
					font-size: 16px;
				}

				.product-right-box {
					min-width: 186px;
					display: block;

					.product-button {
						margin-top: 20px;
					}
				}

				.product-button {
					.group {
						margin-top: 14px;
						justify-content: flex-start;

						.divider {
							margin: 0 12px;
						}
					}
				}

				.product-details-hover {
					left: 0;
					right: 0;

					.product-button {
						display: none;
					}
				}

				.tz-attr-swatches {
					max-width: 200px;
					position: static;
					display: block;
					padding: 0;

					&.tz-attr-swatches--image {
						max-width: 175px;
					}
				}
			}
		}
	}

	.woocommerce-pagination {
		padding-top: 70px;
		margin-top: 0;
		border-top: 1px solid #eee;
	}
}

// Shop View Extended
.catalog-view-extended ,
.catalog-show-excerpt {
	.teckzone-shop-content {
		ul.products {
			li.product {
				.woocommerce-product-details__short-description {
					display: block;
				}
			}
		}
	}
}

// Responsive
.catalog-standard {
	&.catalog-view-grid {
		ul.products {
			&.columns-5,
			&.columns-6 {
				li.product {
					.product-button {
						.group {
							a {
								span {
									display: none;
								}

								&.compare {
									width: 13px;
									height: 13px;
									display: block;
									overflow: hidden;

									&:before {
										margin-right: 0;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

// Navigation
.woocommerce-pagination {
	margin-top: 75px;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		justify-content: center;
	}

	li {
		margin-left: 4px;
		margin-right: 4px;

		.page-numbers {
			font-size: 13px;
			color: #000;
			display: block;
			border: 1px solid #cccccc;
			border-radius: 3px;
			width: 28px;
			height: 28px;
			line-height: 26px;
			text-align: center;
			transition: 0.5s;

			&:hover,
			&.current {
				background-color: #000;
				color: #fff;
			}
		}

		.next,
		.prev {
			font-size: 10px;
		}
	}

	&.ajax-navigation {
		a {
			color: #000;
			text-transform: uppercase;
	
			&.loading {
				.load-more-text {
					display: none;
				}
			}
	
			&:hover,
			&:focus {
				color: #000;
			}
		}
	
		.load-more-text,
		.loading-text {
			letter-spacing: 0.4em;
		}
	}
}

// Woocommerce ordering sort
.tz-catalog-sorting-mobile {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9999;
	background-color: rgba(0,0,0,0.75);
	display: none;

	&.tz-active {
		display: block;
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	.woocommerce-ordering {
		position: absolute;
		left: 15px;
		right: 15px;
		top: 50%;
		transform: translateY(-50%);
		background-color: #fff;
		text-align: center;

		a {
			color: #000;
		}
		
		.current {
			> span {
				display: none;
			}
		}

		ul {
			li {
				padding: 10px;
				border-bottom: 1px solid #f5f5f5;

				a.active {
					color: $color__primary;
				}
			}
		}

		.cancel-ordering {
			padding: 10px;

			a {
				font-weight: 700;
			}
		}
	}
}