.catalog-sidebar {
	.teckzone-group-widget {
		border: 1px solid #e5e5e5;
		padding: 25px 20px;

		.widget {
			margin-bottom: 25px;
			padding: 0 0 25px 0;
			border-bottom: 1px solid #e5e5e5;
			background-color: transparent;

			&:last-child {
				padding-bottom: 0;
				margin-bottom: 0;
				border-bottom: 0;
			}
		}

		.tz_widget_product_categories,
		.widget_product_categories {
			padding: 0 0 25px 0;
			background-color: transparent;
		}
	}

	.widget {
		border: 0;
		margin-bottom: 30px;
		background-color: #f5f5f5;
		padding: 30px 20px;

		.closed {
			display: none;
		}

		&:last-child {
			margin-bottom: 0;
			padding-bottom: 30px;
		}
	}

	.tz_widget_product_categories,
	.widget_product_categories {
		background-color: #f5f5f5;
		padding: 30px 20px;
	}

	.widget-title {
		font-size: 15px;
		text-transform: uppercase;
		position: relative;
		padding-right: 13px;

		&.show-icon {
			cursor: pointer;

			&:after {
				content: "\e93a";
				display: inline-block;
				font: normal normal normal 14px/1 linearicons;
				font-size: 9px;
				position: absolute;
				top: 4px;
				right: 0;
			}

			&.non-active {
				margin-bottom: 0 !important;
				transition: 0.4s;
			}

			&.active {
				&:after {
					content: "\e939";
				}
			}
		}
	}

	.woocommerce-widget-layered-nav {
		.widget-title {
			margin-bottom: 25px;
		}

		.woocommerce-widget-layered-nav-list {
			&.list-type.columns-2 {
				li {
					width: 50%;
					float: left;
					padding-top: 0;
					padding-bottom: 12px;

					&:nth-child(2n+1) {
						clear: left;
					}

					a {
						&:before,
						&:after {
							top: 0;
						}
					}
				}
			}

			.woocommerce-widget-layered-nav-list__item {
				padding: 7px 0;
				position: relative;
				padding-left: 24px;
				line-height: 1;

				a {
					padding: 0;
					position: static;
					box-shadow: none;
				}

				&:first-child {
					padding-top: 0;

					a:before {
						top: 0;
					}

					a:after {
						top: 0;
					}
				}

				&:last-child {
					padding-bottom: 0;
				}

				a:before {
					position: absolute;
					top: 6px;
					left: 0;
					width: 14px;
					height: 14px;
					border: 1px solid #cccccc;
					border-radius: 3px;
					content: "";
					background-color: #fff;
				}

				a:after {
					content: '\e934';
					font-family: Linearicons;
					position: absolute;
					top: 6px;
					left: 0;
					font-size: 8px;
					opacity: 0;
					width: 14px;
					height: 14px;
					text-align: center;
					line-height: 14px;
					font-weight: 600;
				}

				&.show-swatch {
					display: inline-block;
					margin-right: 10px;
					padding: 0;

					.swatch-color {
						margin-left: -3px;
						display: block;
						border: 1px solid transparent;
						padding: 3px;
						border-radius: 3px;

						.sub-swatch {
							width: 30px;
							height: 30px;
							display: block;
							border-radius: 3px;
						}

						.term-name {
							display: none;
						}
					}

					.swatch-label {
						padding: 9px 20px;
						border: 1px solid #cccccc;
						min-width: 47px;
						display: block;
						text-align: center;
						text-transform: uppercase;
						color: #000;
						background-color: #fff;
						border-radius: 3px;
					}

					.swatch-image {
						border: 1px solid transparent;
						padding: 3px;
						margin-left: -3px;
						display: block;

						img {
							max-width: 45px;
						}
					}

					a:after,
					a:before {
						display: none;
					}
				}

				&.chosen {
					a {
						color: $color__primary;

						&:after {
							opacity: 1;
							color: $color__primary;
						}

						&:before {
							border-color: $color__primary;
						}
					}

					.count {
						color: $color__primary;
					}

					&.show-swatch {
						.swatch-color {
							border-color: $color__primary;
						}

						.swatch-image {
							border-color: $color__primary;
						}

						.swatch-label {
							border-color: $color__primary;
							color: $color__primary;
						}
					}
				}
			}

			&.label-attr {
				.woocommerce-widget-layered-nav-list__item {
					&.show-swatch {
						margin-right: 7px;
						padding: 5px 0 2px;
					}
				}
			}

			&.color-attr {
				background-color: #f5f5f5;
				padding: 20px;
			}
		}

		&.tz-widget-layered-nav {
			.slimScrollBar,
			.slimScrollRail {
				border-radius: 0 !important;
				opacity: 1 !important;
			}

			&.no-scroll {
				.slimScrollBar,
				.slimScrollRail {
					opacity: 0 !important;
				}
			}
		}

		.search_layered_nav {
			position: relative;
			margin-bottom: 20px;
			
			&:after {
				content: '\e922';
				font-family: Linearicons;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 15px;
				font-size: 15px;
				color: #000;
			}
			.tz-input-search-nav {
				width: 100%;
				border-color: #cccccc;
				height: 42px;
				line-height: 42px;
				padding: 0 40px 0 15px;
			}
		}

		&.tz-widget-product-brand {
			.woocommerce-widget-layered-nav-list {
				&.display-image {
					.woocommerce-widget-layered-nav-list__item {
						a {
							&:before,
							&:after {
								top: 50%;
								transform: translateY(-50%);
							}
						}

						&:first-child {
							padding-top: 7px;
						}

						&:last-child {
							padding-bottom: 7px;
						}
					}
				}
			}
		}
	}

	.widget_rating_filter {
		ul .wc-layered-nav-rating {
			padding: 3px 0;
			position: relative;

			&:first-child {
				padding-top: 0;

				a:before {
					top: 0;
				}
			}

			&:last-child {
				padding-bottom: 0;
			}

			.star-rating {
				margin-right: 3px;
				font-size: 14px;
			}

			a {
				display: flex;
				align-items: center;
				color: #999;
				position: relative;
				box-shadow: none;

				&:before {
					width: 14px;
					height: 14px;
					border: 1px solid #cccccc;
					border-radius: 3px;
					content: "";
					margin-top: 3px;
					margin-right: .618em;
				}

				&:after {
					content: '\e934';
					font-family: Linearicons;
					position: absolute;
					top: 4px;
					left: 0;
					font-size: 8px;
					opacity: 0;
					width: 14px;
					height: 14px;
					text-align: center;
					line-height: 14px;
					font-weight: 600;
					margin-top: 2px;
				}
			}

			&.chosen {
				a {
					&:after {
						opacity: 1;
						color: $color__primary;
					}

					&:before {
						border-color: $color__primary;
						content: "";
					}
				}

				.count {
					font-weight: 600;
				}

				&.show-swatch {
					.swatch-color {
						border-color: #f04a09;
					}

					.swatch-image {
						border-color: #f04a09;
					}

					.swatch-label {
						border-color: $color__primary;
						color: $color__primary;
					}
				}
			}
		}
	}

	.widget_layered_nav_filters {
		ul {
			li {
				display: block;
				float: none;
				padding: 0;

				&.chosen {
					background-color: #f5f5f5;
					border-radius: 3px;
					margin-bottom: 8px;

					a {
						color: #000;
						box-shadow: none;
						display: flex;
						align-items: center;
						justify-content: space-between;
						padding: 7px 15px;

						&:after {
							content: '\e935';
							font-family: Linearicons;
							font-size: 9px;
							color: #000;
						}
					}
				}

				&.clear {
					margin-bottom: 0;
					padding-top: 5px;

					a {
						color: $color__primary;
						box-shadow: inset 0 0 0 transparent, inset 0 -1px 0 $color__primary;
					}
				}
			}
		}
	}
}

/**
 * WooCommerce Price Filter
 */
.widget_price_filter {
	.widget-title {
		margin-bottom: 28px;
	}

	.price_slider_wrapper {
		padding-top: 6px;
	}

	.price_slider {
		margin-bottom: 28px;
	}

	.price_slider_amount {
		line-height: 1;

		.price_label {
			display: flex;
			align-items: center;

			span {
				flex-grow: 1;
				text-align: center;
				padding: 13px 5px;
				border: 1px solid #cccccc;
				border-radius: 3px;
				margin: 0 5px;
			}
		}

		.button {
			display: none;
		}
	}

	.ui-slider {
		position: relative;
		text-align: left;
		border-radius: 0;
	}

	.ui-slider .ui-slider-handle {
		position: absolute;
		z-index: 2;
		width: 11px;
		height: 11px;
		cursor: ew-resize;
		outline: none;
		background: $color__primary;
		box-sizing: border-box;
		margin-top: -4px;
		opacity: 1;
		border-radius: 50%;
		border: 0;
		top: 0;
		margin: -4px 0 0 0;
	}

	.ui-slider .ui-slider-range {
		position: absolute;
		z-index: 1;
		display: block;
		border: 0;
		background: $color__primary;
	}

	.price_slider_wrapper .ui-widget-content {
		background: #dddddd;
		margin-right: 11px;
		border: 0;
	}

	.ui-slider-horizontal {
		height: 2px;
	}

	.ui-slider-horizontal .ui-slider-range {
		height: 100%;
	}
}

.tz_widget_product_info_extended {
	padding-bottom: 0;
	border: 0;

	.widget-wrapper {
		padding: 20px 20px 30px;
		background-color: #f5f5f5;

		&.multi {
			.feature-item-widget {
				border-top: 1px solid #e5e5e5;
				padding-top: 13px;
			}
		}

		> div:last-child {
			margin-bottom: 0;
		}
	}

	.tz-summary-meta {
		.sold-by-meta {
			a{
				color: $color__primary;
			}
		}
	}

	.product-brand {
		margin-bottom: 17px;

		a {
			display: block;
			line-height: 1;
			text-align: center;
			background-color: #fff;
			padding: 12px 10px;
		}
	}

	.tz-summary-header {
		margin-bottom: 17px;
	}

	.feature-list-title {
		margin-bottom: 12px;
	}

	ul.product-feature-items {
		margin: 0;
		padding: 0;
		border: 0;

		li {
			padding-top: 0;
		}
	}
}

.widget {
	ul.product_list_widget {
		li {
			a:hover {
				box-shadow: unset;
			}
		}
	}
}

.product-sidebar {
	.widget {
		border-bottom: 0;
		padding-bottom: 0;
	}

	.tz_widget_product_categories {
		padding: 33px 20px 22px;
		background-color: #f5f5f5;
	}
}

// Catalog Filter Mobile
.tz-catalog-filter-mobile {
	position: fixed;
    right: -310px;
    top: 0;
    bottom: 0;
    width: 310px;
    background-color: #fff;
	z-index: 9999;
	padding: 94px 20px 0;
	transition: transform .25s ease;

	&.open {
		transform: translate3d(-310px, 0, 0);
	}

	.catalog-filter-mobile-wrapper {
		height: 100%;
		overflow-y: auto;
	}

	.catalog-filter-mobile-wrapper::-webkit-scrollbar {
		display: none;
	}

	.catalog-filter-mobile-header {
		background-color: $color__primary;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 30px 20px;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;

		a {
			color: #fff;
			font-size: 20px;
		}

		span {
			font-size: 16px;
			color: #fff;
			font-weight: 700;
		}
	}

	.catalog-filter-mobile-content {
		padding-top: 30px;
		padding-bottom: 30px;
		
		.widget {
			background-color: #fff;
			padding: 0 0 25px 0;
			border-bottom: 1px solid #e5e5e5;

			&:last-child {
				padding-bottom: 0;
				border-bottom: 0;
			}
		}

		.teckzone-group-widget {
			border: 0;
			padding: 0;
		}
	}
}

.admin-bar {
	.tz-catalog-filter-mobile {
		top: 32px;
	}
}