// Banner Medium
.teckzone-banner-medium {
	position: relative;

	a.link,
	.banner-featured-image {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	.banner-featured-image {
		background-size: cover;
	}

	a.link {
		z-index: 200;
	}

	.banner-content-wrapper {
		height: 240px;
		padding: 34px 30px 25px;
		position: relative;
		z-index: 1;
		display: flex;
	}

	.banner-desc {
		font-size: 13px;
		margin-bottom: 25px;

		p {
			margin-bottom: 0;
		}
	}

	.banner-sale {
		font-size: 37px;
		display: inline-flex;
		width: fit-content;
		margin-bottom: 13px;
		border-radius: 3px;
		position: relative;
		align-items: baseline;
		background-color: #e84506;
		padding: 3px 7px;

		.unit {
			position: absolute;
			left: 62%;
			top: 12%;
		}
	}

	.banner-title {
		font-size: 22px;
		margin: 0 0 18px;
		font-weight: 400;
	}

	.btn-button {
		align-items: center;
		display: inline-flex;
		padding: 7px 23px;
		color: #fff;
		border-radius: 3px;
		background-color: $color__primary;
		font-size: 13px;
		font-weight: 700;

	}

	.teckzone-icon {
		font-size: 9px;
		margin-left: 4px;
	}

	.text-1, 
	.unit, 
	.text-2 {
		line-height: 1;
		color: #fff;
	}

	.text-1, .unit {
		font-weight: 700;
	}

	.text-2 {
		font-size: 13px;
	}

	.unit {
		font-size: 18px;
	}
}

// Banner Small
.teckzone-banner-small {
	position: relative;

	a.link,
	.banner-featured-image {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	.banner-featured-image {
		background-size: cover;
		z-index: -1;
	}

	a.link {
		z-index: 200;
	}

	.banner-title {
		font-size: 14px;
		margin: 0 0 7px;
		font-weight: 400;
	}

	.banner-content-wrapper {
		position: relative;
		z-index: 1;
		height: 285px;
		padding: 29px 30px 25px 30px;
		text-align: center;
		display: flex;
	}

	.banner-desc {
		font-size: 13px;
		margin-bottom: 25px;

		p {
			margin-bottom: 0;
		}
	}

	.banner-sale {
		display: inline-flex;
		width: fit-content;
		margin-bottom: 13px;
		border-radius: 3px;
		position: relative;
		align-items: baseline;
		color: #000000;
		line-height: 1;
		font-size: 42px;

		.unit {
			position: absolute;
			left: 62%;
			top: 12%;
		}
	}

	.text-1, 
	.unit {
		font-weight: 700;
	}

	.text-2 {
		font-size: 13px;
	}

	.unit {
		font-size: 24px;
	}

	.header-link {
		font-size: 14px;
		display: flex;
		align-items: center;
		transition: unset;
		justify-content: center;
		margin-top: 18px;

		span {
			color: #777;
			transition: 0.5s;
		}

		.link-text {
			display: block;
			line-height: 1.2;
		}

		.teckzone-icon {
			padding-left: 3px;
			font-size: 10px;
		}

		&:hover {
			span {
				color: $color__primary;
			}

			.link-text {
				box-shadow: inset 0 0 0 transparent, inset 0 -1px 0 $color__primary;
			}
		}
	}

	.line {
		margin-bottom: 3px;
		display: flex;

		div {
			width: 65px;
			height: 1px;
			background-color: #d0b54d;
		}
	}
}

// Banner Small 2
.teckzone-banner-small-2 {
	position: relative;

	a.link,
	.banner-featured-image {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	.banner-featured-image {
		background-size: cover;
	}

	a.link {
		z-index: 200;
	}

	.banner-content-wrapper {
		position: relative;
		z-index: 1;
		height: 190px;
		padding: 25px;
		display: flex;
	}

	.banner-desc {
		font-size: 13px;

		p {
			margin-bottom: 0;
		}
	}

	.before-title {
		font-size: 13px;
		color: #e84506;
		margin-bottom: 5px;
	}

	.banner-title {
		font-size: 15px;
		margin: 0 0 17px;
		text-transform: uppercase;
		font-weight: 400;
	}
}

// Banner Small 3
.teckzone-banner-small-3 {
	position: relative;

	a.link,
	.banner-featured-image {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	.banner-featured-image {
		background-size: cover;
	}

	a.link {
		z-index: 200;
	}

	.banner-desc {
		font-size: 13px;
		margin-bottom: 25px;

		p {
			margin-bottom: 0;
		}
	}

	.banner-title {
		font-size: 13px;
		font-weight: 400;
		margin: 0 0 4px;
	}

	.banner-content-wrapper {
		position: relative;
		z-index: 1;
		height: 150px;
		padding: 5px;
		text-align: center;
		display: flex;
	}

	.banner-sale {
		font-size: 13px;
		margin: 0;
		display: inline-flex;
		width: fit-content;
		margin-bottom: 13px;
		border-radius: 3px;
		position: relative;
		align-items: baseline;
		background-color: #e84506;
		padding: 3px 7px;

		.unit {
			position: absolute;
			left: 62%;
			top: 12%;
		}
	}

	.text-1, .unit, .text-2 {
		line-height: 1;
		color: #fff;
	}

	.text-1, 
	.unit {
		font-weight: 700;
	}

	.text-2 {
		font-size: 13px;
	}
}

// Banner App
.teckzone-banner-app {
	.form-image {
		padding-top: 60px;
		text-align: right;
	}

	.form-area {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-left: 85px;
		text-align: left;
	}

	.content-image {
		margin-bottom: 23px;
	}

	.form-title {
		font-size: 22px;
		margin: 0 0 15px;
		font-weight: 400;
	}

	.form-desc {
		margin-bottom: 25px;
	}

	.btn-area {
		display: flex;
		align-items: center;

		a {
			margin-right: 5px;
		}
	}
}

// Advance Banner
.teckzone-banner {
	position: relative;
	overflow: hidden;

	.feature-image {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	.banner-layer-wrapper {
		.banner-layer {
			position: absolute;
			top: 0;
			left: 15px;
			z-index: 9;
		}

		.banner-layer--text {
			.banner-layer__content {
				white-space: nowrap;
			}

			p {
				margin-bottom: 0;
			}
		}

		.banner-layer--button {
			font-size: 13px;
			font-weight: 700;

			a.link,
			span.link {
				color: #fff;
				display: flex;
				align-items: center;
				background-color: $color__primary;
				border-radius: 3px;
				padding: 12px 15px;

				span {
					display: block;
					line-height: 1;
				}

				.teckzone-icon {
					font-size: 14px;
					padding-left: 4px;
					padding-top: 1px;
				}
			}
		}

		@for $i from 1 through 5 {
			.banner-layer--#{$i}{
				top: $i * 15px;
			}
		}
	}
}
