.teckzone-brands {
	.brand-wrapper {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: center;
		margin: -5px;
	}

	.brand-item {
		padding: 5px;
	}

	img {
		transition: 0.5s;
	}
}

.teckzone-brands--hover-blur {
	.brand-item:hover {
		img {
			filter: grayscale(100%);
			opacity: 0.5;
		}
	}
}

.teckzone-brands--hover-distinct {
	img {
		filter: grayscale(100%);
		opacity: 0.5;
	}

	.brand-item:hover {
		img {
			filter: grayscale(0);
			opacity: 1;
		}
	}
}