.teckzone-contact-form-7 {
	h2 {
		color: #000;
		font-size: 21px;
		margin: 0 0 27px;
		font-weight: 400;
	}

	.form-desc {
		margin-bottom: 17px;
	}

	.wpcf7-form {
		> p, > label {
			margin-bottom: 8px;
			display: inline-block;

			&:last-child {
				display: flex;
			}
		}

		.wpcf7-form-control-wrap {
			.wpcf7-form-control {
				margin-top: 3px;	
			}
		}

		.wpcf7-submit {
			width: auto;
		}
	}
}