.teckzone-time-countdown {
	.timer {
		display: inline-block;
		text-transform: uppercase;
		padding: 0 25px;
		text-align: center;
		min-width: 100px;
		position: relative;

		.digits {
			font-size: 50px;
			color: #e84506;
			display: block;
			line-height: 1;
			margin-bottom: 3px;
		}

		.divider {
			font-size: 35px;
			position: absolute;
			top: 5px;
			right: -5px;
			line-height: 1;
		}
	}
}