.teckzone-counter {
	.counter-row {
		display: flex;
		flex-wrap: wrap;
		border-left: 1px solid #e5e5e5;
	}

	.teckzone-icon {
		font-size: 55px;
		color: $color__primary;

		svg{
			width: 55px;
			height: 55px;
			fill: $color__primary;
		}
	}

	.counter-value {
		font-size: 34px;
		color: #000;
		line-height: 1;
		margin-bottom: 5px;
	}

	.counter-item {
		display: flex;
		padding: 41px 47px;
		border: 1px solid #e5e5e5;
		border-left: 0;
		background-color: #fff;
		flex: 0 0 33.3333%;
		max-width: 33.3333%;
		margin-top: -1px;
	}
}

.teckzone-counter--icon-left {
	.counter-item__icon {
		padding-right: 44px;
	}
}

.teckzone-counter--icon-right {
	.counter-item {
		flex-direction: row-reverse;
	}

	.counter-item__icon {
		padding-left: 44px;
	}

	.counter-item__content {
		text-align: right;
	}
}

.teckzone-counter--icon-center {
	.counter-item {
		flex-direction: column;
		text-align: center;
	}

	.counter-item__icon {
		padding-bottom: 44px;
	}
}
