.teckzone-faqs {
	ul.tabs-nav {
		li {
			float: none;
			margin-bottom: 7px;
		}

		a {
			font-size: 16px;
			color: #777777;
			line-height: 1.1;
			font-weight: 700;
			display: inline-block;

			&.active,
			&:hover {
				color: $color__primary;
				box-shadow: inset 0 0 0 transparent, inset 0 -1px 0 $color__primary;
			}
		}
	}

	h3.faq-title {
		font-size: 22px;
		margin: 0 0 16px;
		font-weight: 400;
	}

	.faq-tab {
		.wrapper {
			border-bottom: 1px solid #eeeeee;
			padding-bottom: 34px;
			margin-bottom: 33px;
		}
	}

	.col-left {
		padding-right: 50px;
		padding-left: 0;
	}

	.col-right {
		padding-left: 50px;
		padding-right: 0;
	}

	&.teckzone-tabs {
		.tabs-panel {
			left: auto;
			width: auto;
		}
	}

	.button-wrapper {
		margin-top: 50px;

		.extra-text {
			margin-bottom: 10px;
		}

		a {
			color: #000;
			font-weight: 700;
			width: 220px;
			background-color: #f5f5f5;
			border: 1px solid #e5e5e5;
			border-radius: 3px;
			padding: 9px 20px;
			text-align: center;
			display: block;
			max-width: 100%;

			i {
				padding-right: 10px;
			}
		}
	}
}