.teckzone-image-masonry {
	.gallery-wrapper {
		margin: -5px;
	}

	.image-masonry-item {
		padding: 5px;
	}
}

.teckzone-image-grid {
	.teckzone-image-grid__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 20px 25px;
		background-color: #ffffff;

		h2 {
			font-size: 22px;
			font-weight: 400;
			margin: 0;
			display: flex;
			align-items: center;

			.teckzone-icon {
				font-size: 20px;
				margin-right: 9px;
			}
		}

		.header-link {
			font-size: 14px;
			display: flex;
			align-items: center;
			transition: unset;

			span {
				color: #777;
				transition: 0.5s;
			}

			.link-text {
				display: block;
				line-height: 1.2;
			}

			.teckzone-icon {
				padding-left: 3px;
				font-size: 10px;
			}

			&:hover {
				span {
					color: $color__primary;
				}

				.link-text {
					box-shadow: inset 0 0 0 transparent, inset 0 -1px 0 $color__primary;
				}
			}
		}
	}

	.teckzone-image-grid__content {
		text-align: left;
		background-color: #fff;
	}

	.image-grid-item {
		padding-left: 15px;
		padding-right: 15px;
		margin-bottom: 30px;

		a {
			display: block;
			height: 100%;
			position: relative;

			&:after {
				content: '';
				width: 1px;
				height: 100%;
				background-color: #eeeeee;
				position: absolute;
				right: -15px;
				top: 50%;
				transform: translateY(-50%);
			}
		}

		&:last-child {
			a:after {
				display: none !important;
			}
		}
	}
}

.teckzone-image-slides {
	.gallery-wrapper {
		margin-left: -15px;
		margin-right: -15px;
	}

	.image-slides-item {
		padding-left: 15px;
		padding-right: 15px;
	}

	.slick-dotted.slick-slider {
		margin-bottom: 0;
	}
}