.teckzone-icon-list {
	.list-flex {
		display: flex;
		flex-wrap: wrap;
		border-left: 1px solid #e5e5e5;
	}

	.box-item {
		border: 1px solid #e5e5e5;
		border-left: 0;
		background-color: #fff;
		padding: 34px 30px 30px;
		flex: 0 0 20%;
		max-width: 20%;
		margin-top: -1px;
	}

	.teckzone-icon {
		font-size: 38px;
		color: $color__primary;
	}

	.box-item__icon {
		margin-bottom: 12px;
	}

	.title {
		font-size: 14px;
		margin: 0 0 1px;
	}
}

.teckzone-icon-list--icon-right,
.teckzone-icon-list--icon-left {
	.box-item__wrapper {
		display: flex;
	}

	.box-item__icon {
		margin-bottom: 0;
	}
}

.teckzone-icon-list--icon-left {
	.box-item__icon {
		margin-right: 15px;
	}
}

.teckzone-icon-list--icon-right {
	.box-item__wrapper {
		flex-direction: row-reverse;
	}

	.box-item__icon {
		margin-left: 15px;
	}
}

// Icon List 2

.teckzone-icon-list-2 {
	.list-flex {
		display: flex;
		flex-wrap: wrap;
	}

	.box-item {
		background-color: #fff;
		padding: 50px 30px;
		position: relative;
		flex: 0 0 20%;
		max-width: 20%;

		.item-separator {
			width: 1px;
			height: 40px;
			background-color: #dddddd;
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
		}

		&:last-child {
			.item-separator {
				display: none;
			}
		}
	}

	.teckzone-icon {
		font-size: 34px;
		color: $color__primary;
	}

	.box-item__icon {
		margin-bottom: 12px;
	}

	.title {
		font-size: 15px;
		margin: 0 0 1px;
	}
}

.teckzone-icon-list-2--icon-right,
.teckzone-icon-list-2--icon-left {
	.box-item__wrapper {
		display: flex;
	}

	.box-item__icon {
		margin-bottom: 0;
	}
}

.teckzone-icon-list-2--icon-left {
	.box-item__icon {
		margin-right: 15px;
	}
}

.teckzone-icon-list-2--icon-right {
	.box-item__wrapper {
		flex-direction: row-reverse;
	}

	.box-item__icon {
		margin-left: 15px;
	}
}