.teckzone-icon-box {
	.box-item {
		padding-right: 15px;
		padding-left: 15px;
	}

	.box-item__icon {
		margin-bottom: 48px;


	}

	.teckzone-icon{
		font-size: 60px;
	}

	.line {
		display: inline-block;
		background-color: #dddddd;
		width: 50px;
		height: 1px;
		margin-bottom: 29px;
	}

	.title {
		margin-top: 0;
		margin-bottom: 11px;
	}

	.desc {
		font-size: 14px;
	}
}

.teckzone-icon-box--align-center {
	.box-item__wrapper {
		padding: 40px 30px;
	}
}




