.teckzone-image-box {
	display: flex;
	transition: 0.5s;
	border-width: 1px;
	border-color: #eeeeee;
	padding: 0 20px 0 40px;

	.box-title {
		font-size: 14px;
		margin: 0 0 15px;
		transition: 0.5s;

		a {
			color: #000;

			&:hover {
				color: $color__primary;
			}
		}
	}

	.image-content {
		padding: 0 0 0 26px;
		ul {
			margin: 0;
			padding: 0;

			li {
				list-style: none;
				margin-bottom: 12px;
				display: block;
				line-height: 1;

				&:last-child {
					margin-bottom: 0;
				}

				a {
					color: #666;
					border-bottom: 1px solid transparent;
					display: inline-block;

					&:hover {
						color: $color__primary;
						border-color: $color__primary;
					}
				}

				.view-more {
					padding-top: 10px;
					border-bottom: none;
				}
			}
		}
	}

	a.view-more {
		.align-icon-left {
			float: left;
		}

		.align-icon-right {
			float: right;
		}
	}
}

.elementor-position-top {
	.teckzone-image-box {
		flex-direction: column;
	}
}

.elementor-position-right {
	.teckzone-image-box {
		flex-direction: row-reverse;
	}
}