.teckzone-images-carousel {
	.carousel-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 20px;
	}

	.inner-content {
		padding: 0 20px 20px 20px;
	}

	.title {
		margin: 0;
		font-weight: 400;
		font-size: 22px;
	}

	.images-list {
		margin-left: -10px;
		margin-right: -10px;

		&.slick-slider {
			margin-bottom: 0;
		}
	}

	.image-item {
		padding: 0 10px;
	}

	.slick-arrows {
		display: flex;
		align-items: center;
	}

	.slick-prev-arrow,
	.slick-next-arrow {
		position: static;
		transform: unset;
	}

	.slick-next-arrow {
		margin-left: 7px;
	}

	.slick-dots {
		margin-top: 15px;
		margin-bottom: 5px;
	}
}