.teckzone-member {
	.member-avatar {
		position: relative;
		margin-bottom: 17px;
		display: inline-block;

		&:hover {
			.member-socials {
				opacity: 1;
			}
		}
	}

	.member-socials {
		display: flex;
		align-items: center;
		justify-content: center;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		position: absolute;
		background-color: rgba(34,108,224,0.75);
		opacity: 0;
		transition: 0.5s;

		a {
			color: #fff;
			padding: 5px;
			margin: 0 8px;
		}
	}

	h4.name {
		font-size: 14px;
		margin: 0;

		a {
			color: #000;

			&:hover {
				color: $color__primary;
			}
		}
	}

	.job {
		margin-top: 4px;
	}
}