.teckzone-menu-department-2 {
	.department-menu {
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 6px 0;

		a {
			font-size: 14px;
			color: #000;
			font-weight: 400;
			padding-top: 8px;
			padding-bottom: 8px;

			&.has-icon i {
				margin-right: 8px;

				&.icon-car {
					position: relative;
					top: -2px;
				}
			}
		}

		ul {
			.item-badge {
				position: static;
				display: inline-block;
				margin-left: 7px;
			}

			ul.sub-menu,
			ul.dropdown-submenu {
				top: 0;
				left: calc(100% + 10px);
				transition: left .3s;
			}

			li {
				padding: 0 20px;
				transition: 0.5s;

				&.is-mega-menu {
					position: static;

					ul.sub-menu,
					ul.dropdown-submenu {
						min-height: 100%;
					}

					&:hover {
						> ul.sub-menu,
						> ul.dropdown-submenu {
							left: calc( 100% - 1px );
						}
					}
				}

				&:hover {
					> ul.sub-menu,
					> ul.dropdown-submenu {
						left: 100%;
					}
				}
			}

			li.dropdown,
			li.menu-item-has-children {
				> a {
					&:before {
						display: none;
					}

					&:after {
						content: "\e93c";
						transform: translate(0, -50%) rotate(0deg) !important;
					}
				}

				&:hover {
					> a:after {
						transform: translate(0, -50%) rotate(180deg) !important;
					}
				}
			}
		}

		.is-mega-menu {
			ul, li {
				padding: 0;
			}
		}

		ul.teckzone-department-menu {
			display: flex;
			flex-direction: column;

			> li {
				> a {
					border-bottom: 1px solid #eeeeee;
					display: flex;
					align-items: center;
				}

				&:last-child {
					> a {
						border-bottom: 0;
					}
				}

				&:hover {
					background-color: $color__primary;

					> a {
						color: #fff;
						border-color: $color__primary;
					}
				}
			}
		}
	}
}