.teckzone-popular-tags {
	.title {
		margin: 0 0 20px;
	}

	.inner-content {
		a {
			display: inline-block;
			color: #555555;
			background-color: #f5f5f5;
			border: 1px solid transparent;
			padding: 5px 13px;
			margin: 0 7px 7px 0;
			border-radius: 3px;
			transition: ease .5s;

			&:hover {
				background-color: transparent;
				border-color: $color__primary;
				color: $color__primary;
			}
		}
	}
}