.teckzone-posts-carousel {
	.post-list {
		margin-left: -15px;
		margin-right: -15px;
	}

	.blog-wrapper {
		flex: 0 0 100%;
		max-width: 100%;
		margin-bottom: 0;

		.blog-inner {
			border-radius: 0;
		}

		.entry-footer,
		.blog-inner {
			border: none;
		}

		.entry-summary {
			padding: 12px 0 0;
		}

		.entry-footer {
			display: block;
			padding: 0;
		}
	}

	.entry-title {
		font-size: 16px;
		margin-bottom: 10px;
	}

	.entry-excerpt,
	.read-more {
		display: none;
	}

	.box-top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-bottom: 10px;

		h6 {
			margin: 0;
		}
	}

	.box-nav {
		position: relative;
		display: flex;
		align-items: center;

		.slick-arrow {
			position: static;
			transform: unset;
		}

		.slick-next-arrow {
			margin-left: 7px;
		}
	}

	.slick-dots {
		margin-top: 15px;
	}
}
