.tz-elementor-product-carousel {
    .slick-dots {
        left: 0;
        bottom: 0;
    }

    .slick-prev-arrow,
    .slick-next-arrow {
        font-size: 11px;
        width: 34px;
        height: 34px;
        line-height: 34px;

        &:hover {
            color: #fff;
            background-color: #000;
            border-color: #000000;
        }
    }

    .slick-prev-arrow {
        left: -65px;
    }

    .slick-next-arrow {
        right: -65px;
    }

    .slick-list {
        z-index: 7;
        pointer-events: none;

        &:hover {
            z-index: 9;
        }
    }

    .slick-dots {
        z-index: 8;
    }

    .slick-dotted.slick-slider {
        margin-bottom: 0;
    }

    ul.products {
        &.slick-slider {
            display: block;
        }

        li.product {
            margin-bottom: 0;
            pointer-events: auto;

            .woocommerce-product-details__short-description {
                display: none;
            }
        }
    }
}

.tz-product-carousel {
    .products-header {
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: #fff;
        padding-top: 40px;

        h2 {
            font-size: 26px;
            font-weight: 400;
            margin: 0;

            .teckzone-icon {
                font-size: 20px;
                margin-right: 9px;
            }
        }

        .extra-links {
            display: flex;
            align-items: center;
            list-style: none;
            padding: 0;
            margin: 0 -16px;

            li {
                padding: 0 16px;
                position: relative;

                &:after {
                    content: '';
                    background-color: #dddddd;
                    height: 15px;
                    width: 1px;
                    position: absolute;
                    right: -1px;
                    top: 50%;
                    transform: translateY(-50%);
                }

                &:last-child {
                    &:after {
                        display: none;
                    }
                }
            }

            a {
                color: #777777;
            }
        }
    }

    .slick-list {
        padding: 0 2px 98px;
        margin-bottom: -98px;

        .slick-active {
            .product-inner {
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    left: -2px;
                    top: 20px;
                    width: 1px;
                    height: 310px;
                    background-color: #eee;
                }
            }

            &.slick-current {
                .product-inner {
                    &:before {
                        background-color: transparent;
                    }
                }
            }

            &:hover {
                + .slick-active {
                    .product-inner {
                        &:before {
                            background-color: transparent;
                        }
                    }
                }

                .product-inner {
                    &:before {
                        background-color: transparent;
                    }
                }
            }
        }
    }

    .slick-dots {
        margin-top: 60px;
        margin-bottom: -30px;
    }

    .products-content {
        padding: 38px 20px 70px;
        background-color: #fff;
    }

    ul.products {
        li.product {
            padding: 0 2px;

            a.tz-cat {
                display: none;
            }
        }
    }
}

.tz-products-carousel-2 {
    .products-header {
        display: flex;
        justify-content: space-between;
        padding-bottom: 15px;

        h2 {
            font-size: 26px;
            font-weight: 400;
            margin: 0;

            .teckzone-icon {
                font-size: 20px;
                margin-right: 9px;
            }
        }

        .extra-links-wrapper {
            max-width: 100%;
        }

        .extra-links {
            display: flex;
            align-items: center;
            list-style: none;
            padding: 4px 0;
            margin: 0;
            flex-wrap: nowrap;
			overflow: scroll;

            li {
                padding: 0 16px;
                position: relative;
                flex-shrink: 0;

                &:after {
                    content: '';
                    background-color: #dddddd;
                    height: 15px;
                    width: 1px;
                    position: absolute;
                    right: -1px;
                    top: 50%;
                    transform: translateY(-50%);
                }

                &:first-child {
                    padding-left: 0;
                }

                &:last-child {
                    padding-right: 0;
                    
                    &:after {
                        display: none;
                    }
                }
            }

            a {
                color: #777777;
            }
        }

        .extra-links::-webkit-scrollbar {
            display: none;
        }
    }

    .slick-list {
        padding: 0 1px 98px;
        margin-bottom: -98px;
    }

    .slick-dots {
        margin-top: 15px;
    }

    .products-content {
        padding: 20px 20px 65px;
        background-color: #ffffff;
    }

    ul.products {
        li.product {
            padding: 0 2px;
        }
    }
}

//  Products Carousel With Category
.teckzone-products-carousel-with-category {
    .cat-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 25px;
        background-color: #fff;

        h2 {
            font-size: 22px;
            font-weight: 400;
            margin: 0;
            display: flex;
            align-items: center;

            .teckzone-icon {
                font-size: 20px;
                margin-right: 9px;
            }
        }

        .header-link {
            font-size: 14px;
            display: flex;
            align-items: center;
            transition: unset;

            span {
                color: #777;
                transition: 0.5s;
            }

            .link-text {
                display: block;
                line-height: 1.2;
            }

            .teckzone-icon {
                padding-left: 3px;
                font-size: 10px;
            }

            &:hover {
                span {
                    color: $color__primary;
                }

                .link-text {
                    box-shadow: inset 0 0 0 transparent, inset 0 -1px 0 $color__primary;
                }
            }
        }
    }

    .categories-box {
        display: flex;
        background-color: #fff;

        .images-slider {
            .slick-dotted.slick-slider {
                margin-bottom: 0;
            }

            .slick-dots {
                position: absolute;
                bottom: 10px;

                li {
                    button {
                        &:before {
                            background-color: rgba(255, 255, 255, 0.3);
                        }
                    }

                    &.slick-active {
                        button:before {
                            background-color: #ffffff;
                        }
                    }
                }
            }
        }

        .product-cats {
            flex-grow: 1;
            display: flex;
            flex-wrap: wrap;
            margin: 0;
            padding: 0;
            list-style: none;
            border: 1px solid #eee;
            border-bottom: 0;
            position: relative;

            &:after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: #eee;
                height: 1px;
            }

            .cat-item {
                border-width: 0 1px 1px 0;
                border-style: solid;
                border-color: #eeeeee;
                flex: 0 0 25%;
                max-width: 25%;
            }

            a {
                display: flex;
                padding: 20px;
                border: 1px solid transparent;
                transition: unset;

                height: calc(100% + 2px);
                margin: -1px;
                position: relative;
                z-index: 1;

                &:hover {
                    border-color: #ccc;

                    .cat-name {
                        color: $color__primary;
                        box-shadow: inset 0 0 0 transparent, inset 0 -1px 0 $color__primary;
                    }
                }
            }

            .cat-thumb {
                flex: 0 0 37.6%;
                max-width: 37.6%;
            }

            .cat-text {
                flex: 0 0 62.4%;
                max-width: 62.4%;

                span {
                    line-height: 1;
                }

                .cat-count {
                    color: #777;
                    display: block;
                    margin-top: 3px;
                }

                .cat-name {
                    color: #000;
                    transition: 0.5s;
                    font-weight: 600;
                }
            }
        }
    }

    .quick-link-box {
        padding: 34px 0 38px;
        border-bottom: 3px solid #f5f5f5;
        background-color: #fff;

        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            display: flex;
            flex-wrap: wrap;

            li {
                padding: 0 25px;
                text-align: center;
                position: relative;

                &:after {
                    content: '';
                    width: 1px;
                    height: 14px;
                    position: absolute;
                    right: 0;
                    top: 5px;
                    background-color: #dddddd;
                }

                &:last-child {
                    &:after {
                        display: none;
                    }
                }
            }

            a {
                color: #777;
                display: inline-block;
                line-height: 1;

                &:hover {
                    color: $color__primary;
                    box-shadow: inset 0 0 0 transparent, inset 0 -1px 0 $color__primary;
                }
            }
        }
    }

    .products-box {
        padding: 30px 50px 40px;
        background-color: #fff;

        .slick-list {
            padding: 0 2px 100px;
            margin-bottom: -100px;
            z-index: 7;
            pointer-events: none;
    
            &:hover {
                z-index: 9;
            }
        }

        .slick-dots {
            z-index: 8;
            margin-top: 30px;
            margin-bottom: -25px;
        }

        ul.products {
            &.slick-slider {
                display: block;
            }

            li.product {
                margin-bottom: 0;
                padding: 0 2px;
                pointer-events: auto;

                .woocommerce-product-details__short-description {
                    display: none;
                }
            }
        }

        .slick-prev-arrow,
        .slick-next-arrow {
            width: 34px;
            height: 34px;
            line-height: 34px;
            top: 40%;
        }

        .slick-prev-arrow {
            left: -40px;
        }

        .slick-next-arrow {
            right: -40px;
        }
    }
}

// Products Carousel With Banner
.teckzone-products-carousel-with-banner {
    .cat-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 25px;
        border-bottom: 1px solid #eee;
        background-color: #fff;

        h2 {
            font-size: 22px;
            font-weight: 400;
            margin: 0;
            display: flex;
            align-items: center;

            .teckzone-icon {
                font-size: 20px;
                margin-right: 9px;
            }
        }

        .header-links {
            max-width: 100%;
            
            ul {
                padding: 4px 0;
                margin: 0;
                list-style: none;
                display: flex;
                flex-wrap: nowrap;
                overflow: scroll;

                li {
                    padding: 0 12px;
                    text-align: center;
                    flex-shrink: 0;

                    &:first-child {
                        padding-left: 0;
                    }

                    &:last-child {
                        padding-right: 0;
                    }
                }

                a {
                    color: #777;
                    display: inline-block;
                    line-height: 1.2;

                    &:hover {
                        color: $color__primary;
                        box-shadow: inset 0 0 0 transparent, inset 0 -1px 0 $color__primary;
                    }
                }
            }

            ul::-webkit-scrollbar {
                display: none;
            }
        }
    }

    .quick-link-box {
        padding: 38px 0;
        background-color: #fff;

        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            display: flex;
            flex-wrap: wrap;

            li {
                padding: 0 25px;
                text-align: center;
                position: relative;

                &:after {
                    content: '';
                    width: 1px;
                    height: 14px;
                    position: absolute;
                    right: 0;
                    top: 5px;
                    background-color: #dddddd;
                }

                &:last-child {
                    &:after {
                        display: none;
                    }
                }
            }

            a {
                color: #777;
                display: inline-block;
                line-height: 1;

                &:hover {
                    color: $color__primary;
                    box-shadow: inset 0 0 0 transparent, inset 0 -1px 0 $color__primary;
                }
            }
        }
    }

    .content-wrapper {
        padding: 20px 65px 20px;
    }

    .products-box {
        max-width: (1050/1650) * 100%;

        .slick-dots {
            margin-bottom: 10px;
            margin-top: 18px;
        }

        .slick-list {
            padding: 0 0 100px;
            margin: 0 -5px -100px;

            .slick-slide {
                margin: 0 5px;
            }
        }

        .slick-track {
            display: flex;
        }

        ul.products {
            &.slick-slider {
                display: block;
            }

            li.product {
                margin-bottom: 0;

                .product-inner {
                    background-color: #ffffff;
                    padding-bottom: 33px;
                    // min-height: 400px;
                }

                .woocommerce-product-details__short-description {
                    display: none;
                }
            }
        }

        .slick-prev-arrow,
        .slick-next-arrow {
            width: 34px;
            height: 34px;
            line-height: 34px;
        }

        .slick-prev-arrow {
            left: -50px;
        }

        .slick-next-arrow {
            right: -50px;
        }
    }
}

// Products Carousel With Banner 2

.teckzone-products-carousel-with-banner-2 {
    padding: 25px 35px 45px;

    .cat-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 25px;

        h2 {
            font-size: 22px;
            font-weight: 400;
            margin: 0;
            display: flex;
            align-items: center;

            .teckzone-icon {
                font-size: 20px;
                margin-right: 9px;
            }
        }

        .header-link {
            font-size: 14px;
            display: flex;
            align-items: center;
            transition: unset;

            span {
                color: #777;
                transition: 0.5s;
            }

            .link-text {
                display: block;
                line-height: 1.2;
            }

            .teckzone-icon {
                padding-left: 3px;
                font-size: 10px;
            }

            &:hover {
                span {
                    color: $color__primary;
                }

                .link-text {
                    box-shadow: inset 0 0 0 transparent, inset 0 -1px 0 $color__primary;
                }
            }
        }
    }

    .products-box {
        max-width: (54/87) * 100%;
        background-color: #fff;
        padding: 20px 32px 35px;

        .slick-list {
            padding: 0 2px 98px;
            margin-bottom: -98px;
        }

        ul.products {
            &.slick-slider {
                display: block;
            }

            li.product {
                margin-bottom: 0;

                .product-inner {
                    background-color: #fff;
                    padding-bottom: 33px;
                }

                .woocommerce-product-details__short-description {
                    display: none;
                }
            }
        }

        .slick-dots {
            bottom: -13px;
        }

        .slick-prev-arrow,
        .slick-next-arrow {
            width: 28px;
            height: 28px;
            line-height: 28px;
            top: 40%;
        }

        .slick-prev-arrow {
            left: -32px;
        }

        .slick-next-arrow {
            right: -32px;
        }
    }
}