.tz-product-with-category {
    .header-cat {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #eeeeee;
        padding: 20px;
        background-color: #fff;
        flex-wrap: wrap;

        h2 {
            color: #000;
            font-size: 22px;
            font-weight: 400;
            margin: 0;
            a {
                color: #000;
                display: flex;
                align-items: center;
            }
            .teckzone-icon {
                font-size: 20px;
                margin-right: 9px;
            }
        }

        .extra-links-wrapper {
            max-width: 100%;
        }

        .extra-links {
            display: flex;
            align-items: center;
            list-style: none;
            padding: 4px 0;
            margin: 0;
            flex-wrap: nowrap;
			overflow: scroll;

            li {
                padding: 0 16px;
                position: relative;
                flex-shrink: 0;

                &:after {
                    content: '';
                    background-color: #dddddd;
                    height: 15px;
                    width: 1px;
                    position: absolute;
                    right: -1px;
                    top: 50%;
                    transform: translateY(-50%);
                }

                &:first-child {
                    padding-left: 0;
                }

                &:last-child {
                    padding-right: 0;

                    &:after {
                        display: none;
                    }
                }
            }
            a.extra-link {
                color: #777777;
                display: block;
                line-height: 1.2;
                &:hover {
                    color: $color__primary;
                    box-shadow: inset 0 0 0 transparent, inset 0 -1px 0 $color__primary;
                }
            }
            .header-link {
                font-size: 14px;
                display: flex;
                align-items: center;
                transition: unset;
                span {
                    color: #777;
                    transition: 0.5s;
                }
                .link-text {
                    display: block;
                    line-height: 1.2;
                }
                .teckzone-icon {
                    font-size: 9px;
                    padding-left: 4px;
                }
                &:hover {
                    span {
                        color: $color__primary;
                    }
                    .link-text {
                        box-shadow: inset 0 0 0 transparent, inset 0 -1px 0 $color__primary;
                    }
                }
            }
        }

        .extra-links::-webkit-scrollbar {
            display: none;
        }
    }
    .content-wrapper {
        display: flex;
        background-color: #fff;
    }

    .images-slider {
        flex: 0 0 (226/1170) * 100%;
        max-width: (226/1170) * 100%;
        .images-list {
            margin-bottom: 0;
        }
        .slick-arrow {
            opacity: 0;
        }
        .slick-prev-arrow {
            left: 10px;
        }
        .slick-next-arrow {
            right: 10px;
        }
        .slick-dots {
            bottom: 18px;
            position: absolute;
            
            li {
                button {
                    &:before {
                        background-color: rgba(255, 255, 255, 0.3);
                    }
                }
                &.slick-active {
                    button {
                        &:before {
                            background-color: #ffffff;
                        }
                    }
                }
            }
        }
        &:hover {
            .slick-arrow {
                opacity: 1;
            }
        }
    }
    .products-box {
        flex-grow: 1;
        padding: 20px;
    }
    ul.products {
        margin-bottom: 0;
        &.slick-slider {
            display: block;
        }
        li.product {
            .woocommerce-product-details__short-description {
                display: none;
            }
        }
    }
}

// Product With Categories 2
.tz-product-with-category-2 {
    .header-cat {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: nowrap;
        padding: 20px;
        background-color: #fff;

        h2 {
            color: #000;
            font-size: 19px;
            margin: 0 10px 0 0;
            flex: 1;

            a {
                color: #000;
                display: flex;
                align-items: center;
            }
            .teckzone-icon {
                font-size: 20px;
                margin-right: 9px;
            }
        }
        
        .header-link {
            font-size: 14px;
            display: flex;
            align-items: center;
            transition: unset;
            span {
                color: #777;
                transition: 0.5s;
            }
            .link-text {
                display: block;
                line-height: 1.2;
            }
            .teckzone-icon {
                padding-left: 3px;
                font-size: 10px;
            }
            &:hover {
                span {
                    color: $color__primary;
                }
                .link-text {
                    box-shadow: inset 0 0 0 transparent, inset 0 -1px 0 $color__primary;
                }
            }
        }
    }
    .content-wrapper {
        display: flex;
        background-color: #fff;
    }
    .sidebar-box {
        flex: 0 0 (455/1410) * 100%;
        max-width: (455/1410) * 100%;
        display: flex;
        flex-direction: column;
        border-color: #eeeeee;
    }
    .images-list {
        margin-bottom: 0;

        img {
            margin: auto;
        }

        &:hover {
            .slick-arrow {
                opacity: 1;
                visibility: visible;
            }
        }
        .slick-arrow {
            opacity: 0;
            visibility: hidden;
            transition: .5s;
        }
        .slick-prev-arrow {
            left: 20px;
        }
        .slick-next-arrow {
            right: 20px;
        }
        .slick-dots {
            position: absolute;
            bottom: 18px;
            
            li {
                button {
                    &:before {
                        background-color: rgba(255, 255, 255, 0.3);
                    }
                }
                &.slick-active {
                    button {
                        &:before {
                            background-color: #ffffff;
                        }
                    }
                }
            }
        }
    }
    .categories-box {
        padding: 40px 25px 32px;
        flex-grow: 1;
        background-color: #fff;
        h4 {
            font-size: 14px;
            margin: 0 0 16px;
            a {
                color: #000;
            }
        }
        ul.extra-links {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                padding: 2px 0;
                &:first-child {
                    padding-top: 0;
                }
                &:last-child {
                    padding-bottom: 0;
                }
            }
            a {
                color: #555;
                &:hover {
                    color: $color__primary;
                    box-shadow: inset 0 0 0 transparent, inset 0 -1px 0 $color__primary;
                }
            }
        }
    }
    .categories-box--columns-2 {
        display: flex;
        .category-box {
            width: 50%;
            padding-right: 20px;
        }
    }
    .products-box {
        flex-grow: 1;
        order: 2;
        background-color: #fff;
        border: 1px solid #eee;
        position: relative;
        border-bottom: 0;
        border-right: 0;
        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: #eee;
            height: 1px;
        }
    }
    ul.products {
        li.product {
            margin-bottom: 0;
            border-right: 1px solid #eee;
            border-bottom: 1px solid #eee;
            .product-inner {
                margin: 0 -1px;
                padding-bottom: 35px;
            }
            .tz-cat,
            .woocommerce-product-details__short-description {
                display: none;
            }
        }
    }
}