.teckzone-product-categories {
	.cat-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 15px;

		h2 {
			font-size: 22px;
			margin: 0;
			font-weight: 400;
			display: flex;
			align-items: center;

			.teckzone-icon {
				font-size: 20px;
				margin-right: 9px;
			}
		}

		.cats-link {
			font-size: 14px;
			display: flex;
			align-items: center;
			transition: unset;

			span {
				color: #777;
				transition: 0.5s;
			}

			.link-text {
				display: block;
				line-height: 1.2;
			}

			.teckzone-icon {
				font-size: 10px;
				padding-left: 4px;
			}

			&:hover {
				span {
					color: $color__primary;
				}

				.link-text {
					box-shadow: inset 0 0 0 transparent, inset 0 -1px 0 $color__primary;
				}
			}
		}
	}

	.product-cat-group {
		display: flex;
		flex-wrap: wrap;
		border-left: 1px solid #eee;
		list-style: none;
		padding: 0;
		margin: 0;
	}

	.group-item {
		text-align: center;
		border-width: 1px 1px 1px 0;
		border-color: #eeeeee;
		border-style: solid;
		margin-top: -1px;
		flex: 0 0 11.1111%;
		max-width: 11.1111%;

		img {
			margin: 0 auto 7px;
			display: block;
		}

		a {
			display: block;
			padding: 20px;
			height: 100%;
			position: relative;
			background-color: #fff;
			line-height: 1.2;

			&:after {
				content: '';
				position: absolute;
				top: -1px;
				right: -1px;
				bottom: -1px;
				left: -1px;
				border: 1px solid transparent;
				transition: 0.5s;
				z-index: 1;
			}

			&:hover {
				&:after {
					border-color: #ccc;
				}

				.cat-name {
					color: $color__primary;
					box-shadow: inset 0 0 0 transparent, inset 0 -1px 0 $color__primary;
				}
			}
		}
	}

	.cat-name {
		font-size: 13px;
		color: #000;
		transition: 0.5s;
	}

	.cat-count {
		font-size: 14px;
		color: #777777;
		display: block;
		line-height: 1.4;
	}
}

// Product Categories 2

.teckzone-product-categories-2 {
	.cat-header {
		margin-bottom: 20px;
		text-align: center;

		h2 {
			font-size: 26px;
			margin: 0;
			font-weight: 400;
			display: inline-flex;
			align-items: center;

			.teckzone-icon {
				font-size: 20px;
				margin-right: 9px;
			}
		}
	}

	.product-cat-group {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		margin: 0 -20px;
		background-color: #fff;
		padding: 30px 20px 0;
	}

	.group-item {
		text-align: center;
		margin-bottom: 20px;
		flex: 0 0 16.6666%;
		max-width: 16.6666%;

		img {
			margin: 0 auto 12px;
			display: block;
		}

		a {
			display: block;
			height: 100%;
			position: relative;
			padding: 0 20px;
			line-height: 1.3;

			&:after {
				content: '';
				width: 1px;
				height: 80%;
				background-color: #eee;
				position: absolute;
				top: 50%;
				right: 0;
				transform: translateY(-50%);
				z-index: 1;
			}

			&:hover {
				.cat-name {
					color: $color__primary;
					box-shadow: inset 0 0 0 transparent, inset 0 -1px 0 $color__primary;
				}
			}
		}

		&:last-child {
			a:after {
				display: none;
			}
		}
	}

	.cat-name {
		font-size: 14px;
		color: #000;
		transition: 0.5s;
	}

	.cat-count {
		font-size: 14px;
		color: #777777;
		display: block;
		line-height: 1.4;
		margin-top: 2px;
	}

	.cat-footer {
		margin-top: 15px;
		text-align: center;

		.cats-link {
			font-size: 14px;
			display: inline-flex;
			align-items: center;
			transition: unset;

			span {
				color: #777;
				transition: 0.5s;
			}

			.link-text {
				display: block;
				line-height: 1.2;
			}

			.teckzone-icon {
				font-size: 10px;
				padding-left: 4px;
			}

			&:hover {
				span {
					color: $color__primary;
				}

				.link-text {
					box-shadow: inset 0 0 0 transparent, inset 0 -1px 0 $color__primary;
				}
			}
		}
	}
}

// Product Categories 3

.teckzone-product-categories-3 {
	.cat-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-bottom: 20px;

		h2 {
			font-size: 22px;
			font-weight: 400;
			margin: 0;
			display: flex;
			align-items: center;

			.teckzone-icon {
				font-size: 20px;
				margin-right: 9px;
			}
		}

		.header-link {
			font-size: 14px;
			display: flex;
			align-items: center;
			transition: unset;

			span {
				color: #777777;
				transition: 0.5s;
			}

			.link-text {
				display: block;
				line-height: 1.2;
			}

			.teckzone-icon {
				padding-left: 3px;
				font-size: 10px;
			}

			&:hover {
				span {
					color: $color__primary;
				}

				.link-text {
					box-shadow: inset 0 0 0 transparent, inset 0 -1px 0 $color__primary;
				}
			}
		}
	}

	.cat-content {
		display: flex;
		flex-wrap: wrap;
		background-color: #fff;
		padding: 50px 20px 20px;

		.cat-item {
			display: flex;
			border-right: 1px solid #eee;
			padding-left: 20px;
			margin-bottom: 50px;
			flex: 0 0 33.3333%;
			max-width: 33.3333%;

			&:last-child {
				border-right: 0;
			}
		}
	}

	.cat-item__image {
		width: 40%;
	}

	.cat-item__list-cats {
		padding-left: 27px;

		h4 {
			margin: 0 0 12px;
			font-size: 14px;

			a {
				color: #000;
			}
		}

		ul {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				padding-bottom: 4px;

				&:last-child {
					padding-bottom: 0;
				}
			}

			a {
				color: #555;

				&:hover {
					color: $color__primary;
					box-shadow: inset 0 0 0 transparent, inset 0 -1px 0 $color__primary;
				}
			}
		}
	}
}

// Product Categories 4

.teckzone-product-categories-4 {
	.cat-header {
		margin-bottom: 20px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		h2 {
			font-size: 22px;
			margin: 0;
			font-weight: 400;
			display: inline-flex;
			align-items: center;

			.teckzone-icon {
				font-size: 20px;
				margin-right: 9px;
			}
		}

		.cats-link {
			font-size: 14px;
			display: inline-flex;
			align-items: center;
			transition: unset;

			span {
				color: #777;
				transition: 0.5s;
			}

			.link-text {
				display: block;
				line-height: 1.2;
			}

			.teckzone-icon {
				font-size: 10px;
				padding-left: 4px;
			}

			&:hover {
				span {
					color: $color__primary;
				}

				.link-text {
					box-shadow: inset 0 0 0 transparent, inset 0 -1px 0 $color__primary;
				}
			}
		}
	}

	.product-cat-group {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		margin: 0;
		padding: 30px 20px 10px;
		background-color: #fff;
	}

	.group-item {
		margin-bottom: 20px;
		flex: 0 0 25%;
		max-width: 25%;

		a {
			display: flex;
			height: 100%;
			position: relative;
			padding: 0 20px;
			align-items: center;

			&:after {
				content: '';
				width: 1px;
				height: 66.6667%;
				background-color: #eee;
				position: absolute;
				top: 50%;
				right: 0;
				transform: translateY(-50%);
				z-index: 1;
			}

			&:hover {
				.cat-name {
					color: $color__primary;
					box-shadow: inset 0 0 0 transparent, inset 0 -1px 0 $color__primary;
				}
			}
		}

		&.no-thumb {
			.cat-info {
				padding-left: 0 !important;
			}
		}

		&:last-child {
			a:after {
				display: none;
			}
		}
	}

	.cat-info {
		padding-left: 20px;
		line-height: 1.3;
	}

	.cat-thumbnail {
		width: 40%;
	}

	.cat-name {
		font-size: 14px;
		color: #000;
		transition: 0.5s;
	}

	.cat-count {
		font-size: 14px;
		color: #777777;
		display: block;
		margin-top: 5px;
	}
}

// Product Categories Carousel
.teckzone-product-categories-carousel {
	.cat-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 20px 25px;
		border-bottom: 1px solid #eee;
		background-color: #fff;

		h2 {
			font-size: 22px;
			font-weight: 400;
			margin: 0;
			display: flex;
			align-items: center;
			flex: 1;

			.teckzone-icon {
				font-size: 20px;
				margin-right: 9px;
			}
		}

		.header-link {
			font-size: 14px;
			display: flex;
			align-items: center;
			transition: unset;

			span {
				color: #777777;
				transition: 0.5s;
			}

			.link-text {
				display: block;
				line-height: 1.2;
			}

			.teckzone-icon {
				padding-left: 3px;
				font-size: 10px;
			}

			&:hover {
				span {
					color: $color__primary;
				}

				.link-text {
					box-shadow: inset 0 0 0 transparent, inset 0 -1px 0 $color__primary;
				}
			}
		}
	}

	.categories-box {
		padding: 20px 80px 30px;
		background-color: #fff;

		.slick-arrow {
			width: 34px;
			height: 34px;
			line-height: 34px;
			top: 40%;
		}

		.icon-chevron-left {
			left: -65px;
		}

		.slick-next-arrow {
			right: -65px;
		}
	}

	.slick-list {
		padding: 0 1px;
	}

	ul.product-cats {
		margin: 0;
		padding: 0;
		list-style: none;

		li.cat-item {
			text-align: center;
			padding: 0 2px;

			a {
				display: block;
				border: 1px solid transparent;
				border-radius: 3px;
				transition: unset;
				padding: 20px;

				&:hover {
					border-color: #cccccc;

					.cat-name {
						color: $color__primary;
						box-shadow: inset 0 0 0 transparent, inset 0 -1px 0 $color__primary;
					}
				}
			}
		}

		.cat-thumb {
			margin-bottom: 13px;
			display: block;
		}

		.cat-text {
			display: block;
			line-height: 1.4;
		}

		.cat-name {
			color: #000;
			transition: 0.5s;
		}

		.cat-count {
			color: #777;
			display: block;
			margin-top: 2px;
		}
	}

	.slick-dots {
		margin-top: 15px;
		margin-bottom: 10px;
	}
}