.tz-product-list-carousel {
	.products-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-bottom: 10px;

		h2 {
			color: #000;
			font-size: 16px;
			margin: 0;
			display: flex;
			align-items: center;

			.teckzone-icon {
				font-size: 20px;
				margin-right: 9px;
			}
		}
	}

	.products-content {
		padding: 30px 10px;
		background-color: #fff;
		border: 2px solid #eeeeee;

		.slick-dots {
			margin-top: 15px;
		}
	}

	.slick-arrows {
		display: flex;
		align-items: center;

		.slick-arrow {
			width: 28px;
			height: 28px;
			line-height: 28px;
			position: static;
			transform: unset;
		}

		.slick-next-arrow {
			margin-left: 7px;
		}
	}

	.slick-slide {
		> div {
			border-bottom: 1px solid #eeeeee;
			margin: 0 10px 15px;
			padding-bottom: 9px;

			&:last-child {
				border-bottom: 0;
				margin-bottom: 0;
				padding-bottom: 0;
			}
		}
	}

	ul.products {
		&.slick-slider {
			display: block;
		}

		li.product {
			margin-bottom: 0;

			.product-inner {
				display: flex;
				border: 0;
				padding: 0;
			}

			.product-thumbnail {
				max-width: ( 6/23 ) * 100%;
				flex: 0 0 ( 6/23 ) * 100%;
				margin-bottom: 0;
			}

			.product-details {
				flex-grow: 1;
				padding-left: 20px;
			}

			.product-thumbnail .ribbons,
			.tz-cat,
			.tz-attr-swatches,
			.teckzone-product-quick-view,
			.woocommerce-product-details__short-description,
			.product-details-hover {
				display: none !important;
			}
		}
	}
}