.tz-products-of-brands {
	.product-brands {
		display: flex;
		flex-wrap: wrap;
		margin-left: -15px;
		margin-right: -15px;
	}

	.brand-item-wrapper {
		padding-left: 15px;
		padding-right: 15px;
		margin-bottom: 30px;
		flex: 0 0 50%;
		max-width: 50%;

		.brand-item {
			border: 1px solid #eee;
			border-radius: 3px;
			background-color: #fff;
			height: 100%;
			padding-left: 20px;
			padding-right: 20px;
		}

		&:hover {
			z-index: 2;

			.slick-arrow {
				opacity: 1;
			}
		}
	}

	.brand-item__header {
		border-bottom: 1px solid #eee;
		display: flex;
		align-items: center;
		padding: 27px 0 27px 40px;

		.brand-logo {
			padding-right: 40px;
			display: block;
		}

		.brand-info {
			display: flex;
			flex-direction: column;

			a {
				color: #000;
				font-weight: 700;
				text-transform: uppercase;

				&:hover {
					color: $color__primary;
				}
			}

			span {
				display: block;
				line-height: 1.5;
			}
		}
	}

	.brand-item__content {
		padding-top: 15px;
		padding-bottom: 35px;

		.slick-list {
			padding: 0 2px 102px;
			margin-bottom: -102px;
			z-index: 7;
			pointer-events: none;

			&:hover {
				z-index: 9;
			}
		}

		.slick-arrow {
			opacity: 0;
			transition: 0.5s;
			top: 40%;
		}

		.slick-prev-arrow {
			left: -20px;
		}

		.slick-next-arrow {
			right: -20px;
		}

		.slick-dots {
			bottom: 27px;
			z-index: 8;
		}
	}

	ul.products {
		li.product {
			pointer-events: auto;

			.woocommerce-product-details__short-description {
				display: none;
			}
		}
	}

	.load-more {
		margin-top: 22px;

		&.loaded {
			margin-top: 0 !important;
		}

		a {
			color: #555;
			text-transform: uppercase;
			display: inline-block;
			position: relative;
			z-index: 1;

			.button-text {
				display: block;
				line-height: 1;

				&:after {
					content: '\e93a';
					font-family: Linearicons;
					font-size: 69.2%;
					padding-left: 3px;
				}
			}

			.teckzone-loading {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				opacity: 0;
				z-index: -1;

				&:after {
					width: 14px;
					height: 14px;
					border-color: $color__primary transparent $color__primary transparent;
				}
			}

			&.loading {
				.button-text {
					opacity: 0;
				}

				.teckzone-loading {
					z-index: 9;
					opacity: 1;
				}
			}
		}
	}
}
