.tz-product-deals-day {
	&.tz-product-deals--query-sale,
	&.tz-product-deals--query-deals,
	&.tz-product-deals--query-day {
		.teckzone-countdown {
			.days {
				display: none;
			}
		}
	}

	.cat-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid #eeeeee;
		padding: 20px;
		background-color: #fff;

		.header-content {
			display: flex;
			align-items: center;
			flex-grow: 1;
		}

		.cat-title {
			font-size: 22px;
			font-weight: 400;
			margin: 0;
			display: flex;
			align-items: center;
		}

		.countdown-wrapper {
			display: flex;
			align-items: center;
			margin-left: 37px;
		}

		.header-countdown {
			background-color: #e84506;
			padding: 4px 13px;
			border-radius: 3px;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.ends-text {
			margin-right: 8px;
		}

		.teckzone-countdown {
			color: #fff;
			font-size: 13px;

			.digits {
				font-size: 16px;
				font-weight: 700;
			}

			.text {
				margin-left: 5px;
			}

			.divider {
				margin: 0 4px;
			}
		}

		.header-link {
			font-size: 14px;
			display: flex;
			align-items: center;
			transition: unset;

			span {
				color: #777;
				transition: 0.5s;
			}

			.link-text {
				display: block;
				line-height: 1.2;
			}

			.teckzone-icon {
				padding-left: 3px;
				font-size: 10px;
			}

			&:hover {
				span {
					color: $color__primary;
				}

				.link-text {
					box-shadow: inset 0 0 0 transparent, inset 0 -1px 0 $color__primary;
				}
			}
		}

		.short-desc {
			margin-left: 30px;
		}
	}

	.products-content {
		background-color: #ffffff;
	}

	.slick-list {
		padding: 0 2px 101px;
		margin-bottom: -101px;
		z-index: 7;
		pointer-events: none;

		&:hover {
			z-index: 9;
		}
	}

	.slick-dots {
		z-index: 8;
		margin-top: 75px;
		margin-bottom: -50px;
	}

	.slick-prev-arrow {
		left: -50px;
	}

	.slick-next-arrow {
		right: -50px;
	}

	ul.products {
		padding: 20px 16px 95px;

		li.product {
			clear: none;
			margin-bottom: 0;
			padding-left: 2px;
			padding-right: 2px;
			pointer-events: auto;

			.woocommerce-product-details__short-description {
				display: none;
			}

			.tawc-deal {
				display: block;
				margin-top: 15px;
				margin-bottom: 0;
				position: absolute;
				width: 100%;

				.progress-bar,
				.progress-value {
					height: 8px;
				}

				.progress-bar {
					background: #eeeeee;
				}

				.progress-value {
					background: $color__primary;
				}

				.deal-text {
					color: #000;
					font-size: 13px;
					margin-bottom: 0;
					margin-top: 3px;
				}
			}

			.product-inner:hover {
				.tawc-deal {
					opacity: 0;
				}
			}
		}
	}
}

// Product Deals Carousel 2
.tz-product-deals-carousel-2--query-sale,
.tz-product-deals-carousel-2--query-deals,
.tz-product-deals-carousel-2--query-day {
	.tawc-deal {
		.days,
		.days + .divider,
		.divider.first {
			display: none !important;
		}
	}
}

.tz-product-deals-carousel-2 {
	.product-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 19px 25px;
		border-bottom: 1px solid #eeeeee;
		background-color: #fff;

		.product-header__title {
			font-size: 22px;
			font-weight: 400;
			margin: 0 10px 0 0;
			display: flex;
			align-items: center;

			.teckzone-icon {
				font-size: 20px;
				margin-right: 9px;
			}
		}

		.slick-arrows {
			position: relative;
			display: flex;
			align-items: center;

			.slick-arrow {
				display: inline-block;
				position: static;
				transform: unset;
				color: #000;
				width: 28px;
				height: 28px;
				line-height: 28px;

				&:hover {
					color: #fff;
				}
			}

			.slick-next-arrow {
				margin-left: 7px;
			}
		}
	}

	.product-content {
		padding: 25px 0 42px;
		background-color: #fff;

		ul.products {
			display: block;

			li.product-deal {
				padding-left: 25px;
				padding-right: 25px;
			}
		}

		div.product {
			display: flex;

			.woocommerce-product-gallery {
				float: none;
				flex: 0 0 ( 27/57 ) * 100%;
				max-width: ( 27/57 ) * 100%;

				.product-degree-images {
					display: none;
				}
			}

			.flex-control-thumbs {
				.slick-arrow {
					width: 20px;

					&:hover {
						color: #000 !important;
					}
				}

				.slick-prev-arrow {
					left: -15px;
				}

				.slick-next-arrow {
					right: -20px;
				}

				&.no-slick {
					margin: 20px -5px 0;
					li {
						width: 60px;
						float: left;
						padding: 0 5px;
						margin-bottom: 10px;
					}
				}
			}

			div.entry-summary {
				flex-grow: 1;
				float: none;
				width: auto;
			}

			.woocommerce-product-gallery {
				.product-image-ms {
					display: none;
				}
			}

			.woocommerce-loop-product__title {
				font-size: 15px;
				margin: 10px 0 5px;
				font-weight: 400;

				a {
					color: #000;
				}
			}

			.sold-by-meta {
				font-size: 13px;
				margin-bottom: 10px;

				a {
					color: #777;
	
					&:hover {
						color: $color__darker;
					}
				}
			}

			p.price {
				font-size: 18px;
				margin-bottom: 28px;

				.sale {
					display: none;
				}
			}

			.woocommerce-product-rating {
				display: flex;
				margin-bottom: 6px;

				.tz-rating {
					margin-right: 3px;

					span.count {
						display: none;
					}
				}

				.woocommerce-review-link {
					color: #888888;

					span {
						display: inline-block;
						border-bottom: 1px solid;
						line-height: 1;
						margin: 0 3px;
					}
				}
			}

			.tawc-deal {
				margin: 0;
				padding: 0;
				border: 0;
				display: flex;
				flex-direction: column-reverse;

				.deal-sold {
					border-bottom: 1px solid #eeeeee;
					padding-bottom: 6px;
					margin-bottom: 26px;
				}

				.deal-progress {
					margin-bottom: 6px;

					.progress-bar,
					.progress-value {
						height: 8px;
					}
				}

				.deal-text {
					font-size: 14px;
					display: flex;
					align-items: center;
					justify-content: space-between;
				}

				.deal-expire-date {
					margin: 0;
					padding: 0;
					border: 0;
				}

				.deal-expire-text {
					font-size: 14px;
					margin-bottom: 10px;

					strong {
						line-height: 1.2;
						padding-right: 0;
					}
				}

				.deal-expire-countdown {
					background-color: #e84506;
					border-radius: 3px;
					padding: 10px 15px;
					font-size: 18px;
					display: inline-flex;
					justify-content: center;

					* {
						width: auto;
						line-height: 1;
					}

					.timer {
						color: #fff;
						display: flex;
						align-items: flex-end;
						font-size: 100%;

						.digits {
							padding: 0;
							margin: 0;
							border: none;
							line-height: 0.88;
							font-weight: 700;
							font-size: 100%;
						}

						.text {
							font-size: 72.2222%;
							line-height: 1;
							color: #fff;
							text-transform: lowercase;
							margin: 0 0 0 4px;
						}
					}

					.divider {
						font-size: 72.2222%;
						padding: 0 5px;
						color: #fff;
					}
				}
			}
		}

		.slick-list {
			pointer-events: auto;
		}

		.slick-dotted.slick-slider {
			margin-bottom: 30px;
		}

		.slick-dots {
			bottom: -30px;
		}
	}
}

// Product Deals Carousel 3
.tz-product-deals-carousel-3--query-sale,
.tz-product-deals-carousel-3--query-deals,
.tz-product-deals-carousel-3--query-day {
	.tawc-deal {
		.days,
		.days + .divider,
		.divider.first {
			display: none !important;
		}
	}
}

.tz-product-deals-carousel-3 {
	.product-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-bottom: 30px;

		.product-header__title {
			display: flex;
			align-items: flex-end;

			.short-desc {
				font-size: 14px;
				line-height: 1.4;
				margin-left: 10px;
			}
		}

		h2 {
			font-size: 22px;
			font-weight: 400;
			margin: 0;
			display: flex;
			align-items: center;

			.teckzone-icon {
				font-size: 20px;
				margin-right: 9px;
			}
		}

		.slick-arrows {
			position: relative;
			display: flex;
			align-items: center;

			.slick-arrow {
				display: inline-block;
				position: static;
				transform: unset;
				color: #000;
				width: 28px;
				height: 28px;
				line-height: 28px;

				&:hover {
					color: #fff;
				}
			}

			.slick-next-arrow {
				margin-left: 7px;
			}
		}
	}

	.product-content {
		border: 2px solid #fec500;
		border-radius: 3px;
		padding: 50px 20px;

		ul.products {
			display: block;

			li.product-deal {
				padding-left: 25px;
				padding-right: 25px;
			}
		}

		div.product {
			display: flex;

			.woocommerce-product-gallery {
				float: none;
				flex: 0 0 ( 27/79 ) * 100%;
				max-width: ( 27/79 ) * 100%;

				.flex-control-nav {
					margin-top: 25px;
				}

				.product-degree-images {
					display: none;
				}
			}

			.sold-by-meta {
				a {
					color: #777;
	
					&:hover {
						color: $color__darker;
					}
				}
			}

			div.entry-summary {
				flex-grow: 1;
				float: none;
				width: auto;
			}

			.entry-summary-content {
				width: 56.25%;
				padding-right: 40px;
				float: left;
			}

			.entry-summary-sidebar {
				width: 43.75%;
				float: left;

				p.stock {
					margin-bottom: 10px;
				}

				.single-button-wrapper,
				.single-button-wrapper .action-buttons {
					flex-direction: column;
					align-items: flex-start;
				}

				.single-button-wrapper {
					.quantity,
					.group-buttons,
					.action-buttons {
						width: 100%;
					}

					.quantity {
						margin-bottom: 24px;
					}

					.button {
						width: 100%;
					}

					.action-buttons {
						.button {
							margin-bottom: 7px;

							&:first-child {
								margin-right: 0;
							}
						}

						.buy_now_button {
							order: 2;
						}

						.single_add_to_cart_button {
							order: 1;
						}
					}

					.group-buttons {
						margin-top: 7px;
						order: 3;

						a {
							color: #777777;
							font-size: 13px;
						}

						.divider {
							width: 1px;
							height: 12px;
							margin: 0 15px;
							background-color: #dddddd;
						}
					}
				}
			}

			.woocommerce-product-gallery {
				.product-image-ms {
					display: none;
				}
			}

			.woocommerce-loop-product__title {
				font-size: 15px;
				margin: 10px 0 5px;
				font-weight: 400;

				a {
					color: #000;
				}
			}

			.woocommerce-product-details__short-description {
				border-top: 1px solid #eeeeee;
				padding-top: 23px;
			}

			p.price {
				font-size: 18px;
				margin-bottom: 20px;

				.sale {
					display: none;
				}
			}

			.woocommerce-product-rating {
				display: flex;
				margin-bottom: 6px;

				.tz-rating {
					margin-right: 3px;

					span.count {
						display: none;
					}
				}

				.woocommerce-review-link {
					color: #888888;

					span {
						display: inline-block;
						border-bottom: 1px solid;
						line-height: 1;
						margin: 0 3px;
					}
				}
			}

			.tawc-deal {
				margin: 0 0 20px;
				padding: 0;
				border: 0;

				.deal-sold {
					padding-top: 22px;
				}

				.deal-progress {
					margin-bottom: 6px;

					.progress-bar,
					.progress-value {
						height: 8px;
					}
				}

				.deal-text {
					font-size: 14px;
				}

				.deal-expire-date {
					margin: 0;
					padding: 0;
					border: 0;
				}

				.deal-expire-text {
					font-size: 14px;
					margin-bottom: 10px;

					strong {
						line-height: 1.2;
						padding-right: 0;
					}
				}

				.deal-expire-countdown {
					background-color: #e84506;
					border-radius: 3px;
					padding: 7px 5px;
					font-size: 18px;
					justify-content: center;
					flex-wrap: wrap;

					* {
						width: auto;
						line-height: 1;
					}

					.timer {
						color: #fff;
						display: flex;
						align-items: flex-end;
						font-size: 100%;
						padding: 3px 0;

						.digits {
							padding: 0;
							margin: 0;
							border: none;
							line-height: 0.88;
							font-weight: 700;
							font-size: 100%;
						}

						.text {
							font-size: 72.2222%;
							line-height: 1;
							color: #fff;
							text-transform: lowercase;
							margin: 0 0 0 4px;
						}
					}

					.divider {
						font-size: 72.2222%;
						padding: 0 4px;
						color: #fff;
					}
				}
			}
		}

		.slick-list {
			pointer-events: auto;
		}

		.slick-dotted.slick-slider {
			margin-bottom: 30px;
		}

		.slick-dots {
			margin-bottom: -35px;
			margin-top: 30px;
		}

		.flex-control-thumbs {
			.slick-arrow {
				width: 20px;

				&:hover {
					color: #000 !important;
				}
			}

			.slick-prev-arrow {
				left: -15px;
			}

			.slick-next-arrow {
				right: -20px;
			}

			&.no-slick {
				margin: 0 -5px;
				li {
					width: 60px;
					float: left;
					padding: 0 5px;
					margin-bottom: 10px;
				}
			}
		}
	}
}
