.tz-products-grid {
	.product-grid__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-bottom: 15px;

		h2 {
			font-size: 22px;
			font-weight: 400;
			margin: 0;
			display: flex;
			align-items: center;

			.teckzone-icon {
				font-size: 20px;
				margin-right: 9px;
			}
		}

		.header-link {
			font-size: 14px;
			display: flex;
			align-items: center;
			transition: unset;

			span {
				color: #777;
				transition: 0.5s;
			}

			.link-text {
				display: block;
				line-height: 1;
			}

			.teckzone-icon {
				padding-left: 3px;
				font-size: 10px;
			}

			&:hover {
				span {
					color: $color__primary;
				}

				.link-text {
					box-shadow: inset 0 0 0 transparent, inset 0 -1px 0 $color__primary;
				}
			}
		}
	}

	.product-grid__content {
		background-color: #fff;
		padding: 20px 25px 40px;
		border-radius: 3px;

		.products-wrapper {
			position: relative;

			.tz-loader {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: #fff;
				opacity: 0;
				z-index: -99;

				.teckzone-loading {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					display: block;

					&:after {
						width: 20px;
						height: 20px;
						border-color: $color__primary transparent $color__primary transparent;
					}
				}
			}
		}
	}

	&.loading {
		.product-grid__content {
			.products-wrapper {
				.tz-loader {
					opacity: 1;
					z-index: 999;
				}
			}
		}
	}

	ul.product-filter {
		list-style: none;
		margin: 0 0 35px 20px;
		padding: 0;
		display: flex;
		align-items: center;
		flex-wrap: nowrap;
		overflow-y: scroll;

		li {
			border: 1px solid #dddddd;
			border-radius: 3px;
			text-align: center;
			padding: 5px 15px;
			margin-right: 8px;
			cursor: pointer;
			flex-shrink: 0;

			&.active {
				color: #fff;
				background-color: $color__primary;
				border-color: $color__primary;
			}
		}
	}

	ul.product-filter::-webkit-scrollbar {
		display: none;
	}

	ul.products {
		li.product {
			.woocommerce-product-details__short-description {
				display: none;
			}
		}
	}

	.load-more {
		margin-top: 35px;
		text-align: center;

		&.loaded {
			margin-top: 0 !important;
		}
	}

	a.ajax-load-products {
		color: #000;
		font-size: 13px;
		font-weight: 700;
		text-align: center;
		border: 1px solid #ccc;
		border-radius: 3px;
		display: inline-block;
		width: auto;
		height: auto;
		position: relative;
		padding: 14px 20px;
		min-width: 170px;
		transition: unset;

		.button-text {
			display: block;
			line-height: 1;

			&:after {
				content: '\e93a';
				font-family: Linearicons;
				font-size: 69.2%;
				color: #777;
				padding-left: 3px;
			}
		}

		.teckzone-loading {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			opacity: 0;
			z-index: -1;

			&:after {
				width: 14px;
				height: 14px;
				border-color: $color__primary transparent $color__primary transparent;
			}
		}

		&.loading {
			.button-text {
				opacity: 0;
			}

			.teckzone-loading {
				z-index: 9;
				opacity: 1;
			}
		}
	}

	.woocommerce-pagination {
		display: none;
	}
}