.tz-products-tabs {
	.teckzone-loading {
		padding: 10px 0;

		&:after {
			width: 24px;
			height: 24px;
			margin: auto;
			border-color: transparent $color__primary transparent $color__primary;
		}
	}

	.tabs-header {
		.tabs-header-nav {
			max-width: 100%;
		}

		ul.tabs-nav {
			flex-wrap: nowrap;
			overflow-x: auto;
			overflow-y: hidden;

			li {
				flex-shrink: 0;
			}
		}

		ul.tabs-nav::-webkit-scrollbar {
			display: none;
		}
	}
}

.tz-product-tab-carousel {
	.tabs-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid #eeeeee;
		padding: 20px;
		background-color: #fff;
		flex-wrap: wrap;

		h2 {
			color: #000;
			font-size: 22px;
			font-weight: 400;
			margin: 0;
			display: flex;
			align-items: center;

			.teckzone-icon {
				font-size: 20px;
				margin-right: 9px;
			}
		}

		.tabs-nav {
			display: flex;
			align-items: center;
			list-style: none;
			margin: 0;
			padding: 4px 0;

			li {
				padding: 0 16px;
				position: relative;

				&:after {
					content: '';
					background-color: #dddddd;
					height: 15px;
					width: 1px;
					position: absolute;
					right: -1px;
					top: 50%;
					transform: translateY(-50%);
				}

				&:first-child {
					padding-left: 0;
				}

				&:last-child {
					padding-right: 0;

					&:after {
						display: none;
					}
				}
			}

			a {
				color: #777777;

				&.active,
				&:hover {
					color: $color__primary;
				}
			}
		}
	}

	.tabs-content {
		padding: 20px 18px 50px;
		background-color: #fff;

		.slick-dots {
			margin-top: 22px;
			margin-bottom: -5px;
		}
	}

	.slick-list {
		padding: 0 2px;
	}

	ul.products {
		&.slick-slider {
			display: block;
		}

		li.product {
			margin-bottom: 0;
			padding: 0 1px;

			.product-inner {
				display: flex;
				border-bottom-width: 1px;
				padding: 20px;
				border-radius: 3px;
			}

			.product-thumbnail {
				max-width: ( 110/376 ) * 100%;
				flex: 0 0 ( 110/376 ) * 100%;
				margin-bottom: 0;
			}

			.product-details {
				flex-grow: 1;
				padding-left: 20px;
			}
		}
	}
}

// Products Tab Carousel 2
.tz-product-tab-carousel-2 {
	padding: 54px 40px 58px;
	background-color: #fff;

	.tabs-header {
		margin-bottom: 20px;
		text-align: center;

		h2 {
			color: #000;
			font-size: 26px;
			font-weight: 400;
			margin: 0 0 24px;
		}

		.tabs-header-nav {
			display: flex;
			justify-content: center;
		
		}

		.tabs-nav {
			display: flex;
			align-items: center;
			list-style: none;
			margin: 0;
			padding: 4px 0;

			li {
				padding: 0 5px;
				position: relative;

				&:first-child {
					padding-left: 0;
				}

				&:last-child {
					padding-right: 0;
				}
			}

			a {
				color: #555555;
				display: block;
				border: 1px solid #cccccc;
				border-radius: 3px;
				padding: 8px 20px;

				&.active {
					color: #000;
					background-color: $color__primary;
					border-color: $color__primary;
				}
			}
		}
	}

	.tabs-content {
		background-color: #ffffff;

		.slick-dots {
			margin-top: 23px;
			margin-bottom: -20px;
		}
	}

	.slick-list {
		padding: 0 2px;

		.slick-active {
			position: relative;

			&:after {
				content: '';
				position: absolute;
				left: 0;
				top: 20px;
				width: 1px;
				height: 100%;
				background-color: #eee;
			}

			&.slick-current {
				&:after {
					background-color: transparent;
				}
			}
		}
	}

	.slick-prev-arrow {
		left: -95px;
	}

	.slick-next-arrow {
		right: -95px;;
	}

	ul.products {
		&.slick-slider {
			display: block;
		}

		li.product {
			margin-bottom: 0;
			padding: 0 1px;

			.product-inner {
				display: flex;
				border-bottom-width: 1px;
				padding: 20px;
			}

			.product-thumbnail {
				max-width: ( 110/376 ) * 100%;
				flex: 0 0 ( 110/376 ) * 100%;
				margin-bottom: 0;
			}

			.product-details {
				flex-grow: 1;
				padding-left: 20px;
			}
		}
	}

	.teckzone-loading {
		padding-top: 40px;
	}
}

// Products Tab Carousel 3
.tz-product-tab-carousel-3 {
	.tabs-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid #eeeeee;
		padding: 20px;
		background-color: #fff;

		h2 {
			color: #000;
			font-size: 22px;
			font-weight: 400;
			margin: 0;
			display: flex;
			align-items: center;

			.teckzone-icon {
				font-size: 20px;
				margin-right: 9px;
			}
		}

		.tabs-nav {
			display: flex;
			align-items: center;
			list-style: none;
			margin: 0;
			padding: 4px 0;

			li {
				padding: 0 16px;
				position: relative;

				&:after {
					content: '';
					background-color: #dddddd;
					height: 15px;
					width: 1px;
					position: absolute;
					right: -1px;
					top: 50%;
					transform: translateY(-50%);
				}

				&:first-child {
					padding-left: 0;
				}

				&:last-child {
					padding-right: 0;

					&:after {
						display: none;
					}
				}
			}

			a {
				color: #777777;

				&.active {
					color: $color__primary;
				}
			}
		}
	}

	.tabs-content {
		padding: 20px 18px 70px;
		background-color: #fff;
	}

	.slick-list {
		padding: 0 2px 98px;
		margin-bottom: -98px;
		pointer-events: none;
	}

	.slick-dots {
		z-index: 8;
		margin-top: 65px;
		margin-bottom: -30px;
	}

	.slick-prev-arrow {
		left: -70px;
	}

	.slick-next-arrow {
		right: -70px;;
	}

	ul.products {
		&.slick-slider {
			display: block;
		}

		li.product {
			margin-bottom: 0;
			padding: 0 2px;
			pointer-events: auto;

			.tz-cat,
			.woocommerce-product-details__short-description {
				display: none;
			}
		}
	}

	.teckzone-loading {
		padding-top: 40px;
	}
}