.tz-quick-links {
	ul {
		display: flex;
		align-items: center;
		padding: 0;
		margin: 0 -15px;
		list-style: none;

		li {
			padding-left: 15px;
			padding-right: 15px;
			position: relative;

			&:after {
				content: '';
				width: 1px;
				height: 15px;
				background-color: #dddddd;
				position: absolute;
				top: 50%;
				right: -1px;
				transform: translateY(-50%);
			}

			&:last-child {
				&:after {
					display: none;
				}
			}
		}

		a {
			font-size: 14px;
			display: flex;
			align-items: center;
			transition: unset;

			span {
				color: #777;
				transition: 0.5s;
			}

			.link-text {
				display: block;
				line-height: 1;
			}

			.teckzone-icon {
				padding-left: 3px;
				font-size: 10px;
			}

			&:hover {
				span {
					color: $color__primary;
				}

				.link-text {
					box-shadow: inset 0 0 0 transparent, inset 0 -1px 0 $color__primary;
				}
			}
		}
	}
}