.teckzone-quotes{
	.box-content{
		font-size: 22px;
		font-weight: 700;
		line-height: 1.5;
		padding-left: 25px;
		border-left: 3px solid $color__primary;
		margin-bottom: 29px;
	}

	.name{
		margin: 0 0 4px;
		font-size: 14px;
	}
}