.teckzone-simple-text {
	a {
		display: inline-flex;
		align-items: center;
		position: relative;
		color: #555;
		margin-right: 13px;
		//padding-right: 15px; /*Remove right spacing*/

		&:hover {
			color: #000;
		}
	}

	span {
		display: block;
		line-height: 1;
	}

	.teckzone-icon {
		font-size: 13px;
		margin-right: 7px;
	}

	.title {
		margin: 0;
		display: inline-block;
		font-size: 13px;
		font-weight: 400;
	}

	.af-title {
		display: block;
	}

	.line {
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
		display: block;
		background-color: #ccc;
	//	width: 1px; /*Remove line*/
		width: 0;
		height: 15px;
	}
}