@keyframes ken-burns-in {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.3);
	}
}

@keyframes ken-burns-out {
	0% {
		transform: scale(1.3);
	}
	100% {
		transform: scale(1);
	}
}
.teckzone-slides .slick-slide-bg.teckzone-ken-out {
	transform: scale(1.3);
}

.teckzone-slides .slick-slide > div {
	flex-basis: 100%;
	width: 100%;
}

.teckzone-slides .slick-slide:focus {
	outline: 0;
}

.teckzone-slides .slick-slide.slick-active .slick-slide-bg {
	animation-timing-function: linear;
	animation-duration: 20s;
}

.teckzone-slides .slick-slide.slick-active .slick-slide-bg.teckzone-ken-in {
	transform: scale(1.3);
	animation-name: ken-burns-in;
}

.teckzone-slides .slick-slide.slick-active .slick-slide-bg.teckzone-ken-out {
	transform: scale(1);
	animation-name: ken-burns-out;
}

.teckzone-slides  {
	.slick-slide {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		overflow: hidden;
		height: 400px;
	}

	.slick-slide-bg {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		min-width: 100%;
		min-height: 100%;
		transition-property: transform;
		transition-duration: 10s;
	}

	.slick-slide-inner {
		background-repeat: no-repeat;
		background-position: center;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		display: flex;
	}

	.slick-dots {
		position: absolute;
	}
}

.teckzone-slides-wrapper {
	.teckzone-loading {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		z-index: 99;
		display: none;

		&:after {
			border-color: transparent $color__primary transparent $color__primary;
			width: 32px;
			height: 32px;
		}
	}

	&.loading {
		.teckzone-loading {
			display: block;
		}

		.arrows-wrapper,
		.teckzone-slides {
			opacity: 0;
			transition: 0.5s;
		}
	}
}

// Element
.teckzone-slide-content {
	position: relative;
	z-index: 1;
	width: 100%;

	&.animated {
		-webkit-animation-duration: 0.8s;
		animation-duration: 0.8s;
	}

	> div:last-child {
		margin-bottom: 0;
	}
}

.teckzone-slide-subtitle {
	color: #ff0000;
	margin-bottom: 20px;
	font-weight: 700;
}

.teckzone-slide-heading {
	color: #000;
	font-size: 36px;
	font-weight: 400;
	line-height: 1;
	margin-bottom: 20px;
}

.teckzone-slide-description {
	font-size: 14px;
	animation-delay: 2s;
	animation-name: fadeIn;
	margin-bottom: 25px;

	p {
		margin-bottom: 0;
	}
}

.teckzone-slide-button {
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	line-height: 1;
	padding: 14px 19px;
	text-align: center;
	background-color: $color__primary;
	border-radius: 3px;
	display: inline-flex;
	align-items: center;
	transition: ease .5s;

	.teckzone-icon{
		font-size: 9px;

		svg{
			width: 9px;
			height: 9px;
		}
	}

	&:hover {
		background-color: $color__primary;
		color: #fff;
	}
}

.teckzone-slide-price-box {
	position: absolute;
	top: 20%;
	left: 50%;
	z-index: 9;
}

.teckzone-slide-price-box--text {
	color: #fff;
	font-size: 30px;
	font-weight: 600;
	border-radius: 50%;
	width: 97px;
	height: 97px;
	line-height: 1;
	text-align: center;
	background-color: #ff0000;
	display: flex;
	align-items: center;
	justify-content: center;
}

.teckzone-background-overlay {
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

// Arrow content
.teckzone-slides-wrapper {
	.arrows-container {
		height: 100%;
		position: relative;
		max-width: 1170px;
		margin: 0 auto;
	}

	.arrows-wrapper {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	.slick-prev-arrow,
	.slick-next-arrow{
		width: 34px;
		height: 34px;
		line-height: 31px;
	}

	&.align-icon-left {
		.teckzone-slide-button {
			flex-direction: row-reverse;
		}
	}

	.slick-dotted.slick-slider{
		margin-bottom: 0;
	}
}


// Position
.teckzone--v-position-top .slick-slide-inner {
	align-items: flex-start;
}

.teckzone--v-position-bottom .slick-slide-inner {
	align-items: flex-end;
}

.teckzone--v-position-middle .slick-slide-inner {
	align-items: center;
}

.teckzone--h-position-left .slick-slide-inner {
	justify-content: flex-start;
}

.teckzone--h-position-right .slick-slide-inner {
	justify-content: flex-end;
}

.teckzone--h-position-center .slick-slide-inner {
	justify-content: center;
}

.teckzone-slides-wrapper div:not(.slick-slide) > .slick-slide-inner {
	display: none;
}

