.teckzone-list{
	list-style: none;
	padding: 0;
	margin: 0;

	li{
		display: flex;
		align-items: center;
		margin-bottom: 7px;
		padding-left: 14px;
		position: relative;

		&:before{
			content: '\e98d';
			font-family: Linearicons;
			font-size: 6px;
			position: absolute;
			left: 0;
			top: 7px;
			font-weight: 700;
		}
	}
}

.teckzone-tab-list{
	overflow: hidden;

	.teckzone-list{
		li{
			padding-left: 32px;
		}
	}

	.tab__nav{
		display: flex;
		position: relative;
		padding: 0 32px;
		justify-content: space-between;
		flex-wrap: wrap;
		
		&:before{
			content: '';
			display: block;
			width: 100%;
			height: 2px;
			position: absolute;
			top: 74px;
			left: 0;
			background-color: #e5e5e5;
		}
	}

	.box-content{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		padding: 47px 100px 53px;
		border: 1px solid #e5e5e5;
		background-color: #fff;
		transform: translateY(30px);
		opacity: 0;
		transition: opacity ease 0.3s, transform ease .5s;

		&.active{
			position: relative;
			transform: translateY(0);
			opacity: 1;
			z-index: 1;
		}
	}

	.box-content,
	.box-nav{
		&.active{
			display: block;
		}
	}

	.box-nav{
		&.active{
			.teckzone-icon{
				background-color: $color__primary;
				color: #fff;
			}
		}
	}

	ul{
		list-style: none;
	}

	ul,
	.title{
		padding: 0;
		margin: 0;
	}

	.title{
		color: #000;
	}

	.number{
		font-size: 40px;
		color:$color__primary;
		margin-right: 10px;

		&:after{
			content: '';
			width: 7px;
			height: 7px;
			margin: 0 5px;
			display: inline-block;
			background-color: $color__primary;
			border-radius: 50%;
		}
	}

	.teckzone-icon{
		display: inline-block;
		width: 80px;
		height: 80px;
		line-height: 80px;
		text-align: center;
		border-radius: 50%;
		margin-bottom: 13px;
		border: 1px solid #e5e5e5;
		background-color: #fff;
		transition: ease 0.3s;
		font-size: 32px;

		svg{
			width: 32px;
			height: 32px;
		}
	}

	.box-note{
		margin-top: 17px;
	}

	.box-nav{
		cursor: pointer;
		flex: 1;
		text-align: center;
		z-index: 9;
		position: relative;
		padding-top: 34px;

		&.active{
			.field-icon{
				background-color: $color__primary;
				border: none;

				i{
					color: #fff;
				}
			}

			.nav-title{
				color: $color__primary;
			}

			&:after,
			&:before{
				opacity: 1;
				top: 0;
				transition: ease 0.5s;
				transition-property: opacity;
				transition-delay: 0.3s;
			}

			&:after{
				top: -1px;
			}
		}

		&:after,
		&:before{
			content: "";
			position: absolute;
			border-left: 15px solid transparent;
			border-right: 15px solid transparent;
			top: 100%;
			left: 50%;
			margin-left: -15px;
			opacity: 0;

		}

		&:before {
			border-top: 20px solid #e5e5e5;
			margin-top: 0;
		}

		&:after{
			border-top: 20px solid #fff;
			margin-top: -1px;
			z-index: 1;
		}
	}


}