.teckzone-testimonials{

	.list-testimonials{
		margin-left: -15px;
		margin-right: -15px;
	}

	.box-item{
		padding-right: 15px;
		padding-left: 15px;
	}

	.box-item__wrapper{
		padding: 35px 30px;
		background-color: #fff;
		border-radius: 3px;
		border: 1px solid #e5e5e5;
	}

	.box-item__image {
		display: flex;
		align-items: center;
		margin-bottom: 28px;
		padding-bottom: 34px;
		border-bottom: 1px solid #eeeeee;

		img{
			display: inline-block;
		}

		.image{
			flex: 0 0 50%;
		}

		.logo{
			text-align: right;
		}

		.avatar img{
			border-radius: 50%;
		}
	}

	.box-item__content{
		.name{
			margin: 0 0 4px;
			font-size: 14px;
		}

		.location{
			display: block;
			color: #777777;
			margin-bottom: 16px;
		}

		.desc{
			color: #555555;
		}
	}

	.slick-next-arrow{
		right: -45px;
	}

	.slick-prev-arrow {
		left: -45px;
	}

	.slick-arrow{
		width: 34px;
		height: 34px;
		line-height: 33px;
	}

	.slick-dots{
		position: relative;
		margin-top: 30px;
	}
}