.teckzone-testimonials-2 {
	border: 2px solid #eee;
	border-radius: 3px;
	padding: 26px 30px 31px;

	.list-testimonials {
		margin: 0 -5px;
	}

	.box-item {
		padding: 0 5px;
	}

	.field-title{
		flex-direction: row;
		display: flex;
		align-items: center;
	}

	.name{
		margin: 0 9px 0 0;
		font-size: 14px;
	}

	.teckzone-icon{
		font-size: 31px;
		color: $color__primary;
		margin-bottom: 12px;
		display: block;

		svg{
			width: 31px;
			height: 31px;
		}
	}

	.desc{
		margin-bottom: 10px;
		line-height: 1.43;
	}

	// Slick
	.slick-list{

	}

	.slick-nav,
	.slick-nav__arrows {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.slick-nav {
		margin-top: 25px;
		flex-wrap: wrap;
	}

	.slick-nav__arrows {
		.slick-next-arrow {
			margin-left: 7px;
		}
	}

	.slick-nav__dots {
		margin: 5px 0;
	}

	.slick-dots{
		text-align: left;
		position: static;

		li{
			margin: 0 14px 0 0;
			display: block;
			float: left;

			&:last-child {
				margin-right: 0;
			}
		}
	}

	.slick-dotted.slick-slider{
		margin-bottom: 0;
	}

	.slick-prev-arrow,
	.slick-next-arrow{
		position: static;
		transform: unset;
	}
}