.teckzone-timeline {
	ul.timeline__date {
		li {
			text-align: center;
			position: relative;

			&:before {
				content: '';
				width: 100%;
				height: 2px;
				background-color: #000;
				position: absolute;
				left: 0;
				top: 0;
				transform: translateY(-50%);
			}
		}

		a {
			color: #999999;
			font-weight: 700;
			display: inline-block;
			position: relative;
			padding-top: 21px;

			&:before {
				content: '';
				width: 16px;
				height: 16px;
				background-color: #000;
				border-radius: 50%;
				position: absolute;
				left: 50%;
				top: 0;
				transform: translate(-50%, -50%);
				transition: 0.5s;
			}

			&.active {
				color: $color__primary;

				&:before {
					background-color: $color__primary;
				}
			}
		}

		.slick-track {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding-top: 42px;
		}
	}

	.timeline__events {
		margin-bottom: 55px;
	}

	.timeline__event {
		width: unset;

		.event-wrapper {
			background-color: #fff;
			padding: 20px 40px 30px;
			border-radius: 3px;
		}
	}

	.timeline__event-content {
		margin-bottom: 30px;
	}

	.timeline__event-avatar {
		margin-bottom: 20px;

		img {
			border-radius: 50%;
		}
	}

	.timeline__event-title {
		font-size: 14px;
		color: $color__primary;
		margin: 0 0 13px;
	}
}