.teckzone-trending-search-carousel {
	.trending-search__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid #eeeeee;
		padding: 17px 20px;
		background-color: #ffffff;

		h2 {
			color: #000;
			font-size: 22px;
			font-weight: 400;
			margin: 0;
			display: flex;
			align-items: center;

			.teckzone-icon {
				font-size: 20px;
				margin-right: 9px;
			}
		}

		.slick-arrows {
			display: flex;

			.slick-next-arrow {
				margin-left: 7px;
			}
		}
	}

	.trending-search__content {
		background-color: #fff;
		padding: 20px 75px;
	}

	ul.collection-list {
		list-style: none;
		padding: 0;
		margin: 0 -3px;

		li.collection-item {
			padding-left: 3px;
			padding-right: 3px;
		}

		.collection-item__name {
			color: #000;
			transition: 0.5s;
		}

		.collection-item__count {
			font-size: 14px;
			color: #777777;
			display: block;
			line-height: 1.4;
			margin-top: 4px;
		}

		img {
			margin: 0 auto 7px;
		}

		a {
			display: block;
			border: 1px solid transparent;
			border-radius: 3px;
			transition: unset;
			padding: 20px;
			text-align: center;
			line-height: 1.3;

			&:hover {
				border-color: #ccc;

				.collection-item__name {
					color: $color__primary;
					box-shadow: inset 0 0 0 transparent, inset 0 -1px 0 $color__primary;
				}
			}
		}
	}

	.slick-list {
		padding: 0 2px;
	}

	.slick-dots {
		margin-bottom: 30px;
		margin-top: 15px;
	}

	.slick-arrow {
		color: #000;
	}

	.slick-prev-arrow {
		left: -45px;
	}

	.slick-next-arrow {
		right: -45px;
	}
}

// Trending search carousel 2

.teckzone-trending-search-carousel-2 {
	.trending-search__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-bottom: 10px;

		h2 {
			color: #000;
			font-size: 16px;
			margin: 0;
			display: flex;
			align-items: center;

			.teckzone-icon {
				font-size: 20px;
				margin-right: 9px;
			}
		}

		.slick-arrows {
			display: flex;

			.slick-next-arrow {
				margin-left: 7px;
			}
		}
	}

	.trending-search__content {
		background-color: #fff;
		padding: 15px 20px;
		border: 2px solid #eeeeee;
		border-radius: 3px;
	}

	ul.collection-list {
		list-style: none;
		padding: 0;
		margin: 0;

		li.collection-item {

		}

		.thumb {
			max-width: 30%;
			flex: 0 0 30%;
		}

		.info {
			flex-grow: 1;
			padding-left: 20px;
		}

		.collection-item__name {
			color: #000;
			display: inline-block;
			line-height: 1.3;
			transition: 0.5s;
			margin-top: 7px;
		}

		.collection-item__count {
			font-size: 14px;
			color: #777777;
			display: block;
			line-height: 1.4;
		}

		a {
			display: flex;
			align-items: center;
			padding: 10px;

			&:hover {
				.collection-item__name {
					color: $color__primary;
					box-shadow: inset 0 0 0 transparent, inset 0 -1px 0 $color__primary;
				}
			}
		}
	}

	.slick-slide {
		> div {
			li {
				border-top: 1px solid #eeeeee;
			}

			&:first-child {
				li {
					border-top: 0;
				}
			}
		}
	}

	.slick-dots {
		margin-top: 15px;
		margin-bottom: 10px;
	}

	.slick-arrow {
		color: #000;
		position: static;
		transform: unset;
	}
}


// Trending Search Carousel 3
.teckzone-trending-search-carousel-3 {
	.trending-search__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 20px 25px;
		background-color: #fff;
		border-bottom: 1px solid #eee;

		h2 {
			color: #000000;
			font-size: 19px;
			margin: 0;
			display: flex;
			align-items: center;

			.teckzone-icon {
				font-size: 20px;
				margin-right: 9px;
			}
		}

		.slick-arrows {
			display: flex;

			.slick-next-arrow {
				margin-left: 7px;
			}
		}
	}

	.trending-search__content {
		background-color: #fff;
	}

	ul.collection-list {
		list-style: none;
		padding: 0;
		margin: 0;

		li.collection-item {
			padding: 25px 20px 40px;
			border-right: 1px solid #eee;
			border-bottom: 1px solid #eee;
		}

		.collection-item__info {
			text-align: center;
			margin-bottom: 16px;

			.name {
				color: #000;
				display: inline-block;
				line-height: 1.3;
				transition: 0.5s;

				&:hover {
					color: $color__primary;
					box-shadow: inset 0 0 0 transparent, inset 0 -1px 0 $color__primary;
				}
			}

			.count {
				font-size: 14px;
				color: #777777;
				display: block;
				line-height: 1.4;
			}
		}

		.collection-item__gallery {
			display: flex;
			flex-wrap: wrap;
			margin: -10px;
			justify-content: center;

			a {
				display: block;
				padding: 10px;
				flex: 0 0 33.3333%;
				max-width: 33.3333%;

				&:hover {
					img {
						border-color: #ccc;
					}
				}
			}

			img {
				border: 1px solid transparent;
			}
		}
	}

	.slick-track {
		display: flex;

		.slick-slide {
			height: inherit;
		}
	}

	.slick-dots {
		margin-top: 15px;
		margin-bottom: 20px;
	}

	.slick-arrow {
		color: #000;
		position: static;
		transform: unset;
	}
}