p {
	margin-bottom: 1.5em;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	color: #000;
	@include font-size(20/14);
	line-height: (35/20);
	margin: 0;
	padding: 60px 0 0 0;
	position: relative;
	
	&:before {
		font-size: 31px;
		color: $color__primary;
		content: '\e7e5';
		font-family: Linearicons;
		position: absolute;
		left: 0;
		top: 0;
	}

	span {
		background-color: #f5f5f5;
	}

	cite {
		display: block;
		font-size: 14px;
		font-style: normal;
		font-family: $font__main;
		color: #555;
		margin-top: 23px;

		a {
			color: #555;
		}
	}
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: $color__background-pre;
	font-family: $font__pre;
	@include font-size(0.9375);
	line-height: $font__line-height-pre;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
	border:none;
	border-radius: 0;
}

code, kbd, tt, var {
	font-family: $font__code;
	@include font-size(0.9375);
}

abbr, acronym {
	border-bottom: 1px dotted $color__border-abbr;
	cursor: help;
}

mark, ins {
	background: transparent;
	text-decoration: none;
}

big {
	font-size: 125%;
}


