h1, h2, h3, h4, h5, h6 {
	color: #000000;
	font-weight: 700;
	line-height: 1.2;
}

h1 {
	@include font-size(60/14);
}

h2 {
	@include font-size(40/14);
}

h3 {
	@include font-size(30/14);
}

h4 {
	@include font-size(24/14);
}

h5 {
	@include font-size(18/14);
}

h6 {
	@include font-size(16/14);
}
