body {
	color: $color__text-main;
	font-family: $font__main;
	@include font-size(1);
	line-height: $font__line-height-body;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	font-weight: 400;
	overflow-x: hidden;
}

@import "headings";

@import "copy";
