.widget {
	border-bottom: 1px solid #eeeeee;
	margin: 0 0 40px;
	padding-bottom: 40px;

	&:first-child {
		&.widget_search {
			padding-bottom: 0;
			border-bottom: 0;
		}
	}

	&:last-child {
		margin-bottom: 0;
		padding-bottom: 0;
		border-bottom: 0;
	}

	&.filled {
		border-width: 0;
	}

	/* Make sure select elements fit in widgets. */
	select {
		width: 100%;
	}

	ul,
	ol {
		margin-bottom: 0;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			list-style: none;
			margin-bottom: 0;
			padding: 5px 0;

			a {
				color: #555;

				&:hover {
					color: $color__primary;
					box-shadow: inset 0 0 0 transparent, inset 0 -1px 0 $color__primary;
				}
			}

			.count {
				color: #999;
			}
		}

		.children,
		.sub-menu {
			margin-left: 20px;

			li {
				&:last-child {
					padding-bottom: 0;
					border-bottom: none;
				}
			}
		}
	}

	ol {
		padding-left: 16px;
	}

	li {
		padding: 10px 0;
	}

	th,
	td {
		border-color: $color__light;
	}

	.tagcloud {
		a {
			color: #555555;
			font-size: 14px !important;
			margin: 0 4px 7px 0;
			padding: 4px 15px;
			display: inline-block;
			vertical-align: middle;
			background-color: #f5f5f5;
			transition: all 0.5s;
			border-radius: 3px;
			border: 1px solid transparent;

			&:hover {
				color: $color__primary;
				border-color: $color__primary;
				background-color: transparent;
			}
		}
	}
}

.widget-title {
	@include font-size(16/14);
	margin: 0 0 20px;

	a {
		color: #000;
	}
}

.teckzone-divider-widget,
.teckzone-spacing-widget {
	margin: 0 !important;
	padding: 0 !important;
	border: 0 !important;
	background-color: transparent !important;
}

.search-form {
	position: relative;
	border: 1px solid #cccccc;
	border-radius: 3px;
	color: $color__darker;

	&:after {
		font-family: Linearicons;
		content: "\e922";
		position: absolute;
		top: 50%;
		right: 13px;
		transform: translateY(-50%);
		font-size: 18px;
		color: #000;
	}

	label {
		width: 100%;
		margin-bottom: 0;
	}

	.screen-reader-text {
		display: none;
	}

	.search-field {
		border: none;
		color: $color__darker;
		width: 100%;
		background-color: #fff;
		padding-right: 40px;

		&:focus {
			border: none;
			outline: none;
		}
	}

	::-webkit-input-placeholder {
		color: #777777;
	}

	:-moz-placeholder {
		color: #777777;
	}

	::-moz-placeholder {
		color: #777777;
	}

	:-ms-input-placeholder {
		color: #777777;
	}

	.search-submit {
		width: 42px;
		height: 42px;
		background: transparent;
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
		border: none;
		text-indent: -9999px;
		z-index: 10;
		padding: 0;

		&:hover,
		&:focus {
			background-color: transparent;
		}
	}
}

.widget_archive,
.widget_categories {
	ul {
		li {
			padding: 3px 0;

			&:last-child {
				border-bottom: 0;
			}
		}
	}
}

.teckzone-recent-posts-widget,
.widget_recent_comments {
	.widget-title {
		margin-bottom: 30px;
	}
}

.teckzone-recent-posts-widget {
	.recent-post {
		margin-bottom: 23px;

		&:last-child {
			margin-bottom: 0;
		}

		.entry-title a:hover {
			color: $color__primary;
		}
	}

	.entry-title {
		font-size: 14px;
		line-height: 1.35;
		margin-bottom: 5px;
	}

	.entry-meta {
		.meta {
			padding: 0;
		}
	}
}

.widget_recent_comments {
	ul li {
		color: #777777;
		a {
			color: #000;

			&:hover {
				color: $color__primary;
				box-shadow: inset 0 0 0 transparent, inset 0 -1px 0 $color__primary;
			}
		}

		.comment-author-link {
			a {
				color: #777777;

				&:hover {
					color: $color__primary;
					box-shadow: inset 0 0 0 transparent, inset 0 -1px 0 $color__primary;
				}
			}
		}
	}
}

.widget-area {
	ul.product_list_widget {

		li {
			margin-bottom: 15px;

			&:last-child {
				margin-bottom: 0;
			}

			&:after {
				clear: both;
				display: block;
				content: "";
			}
		}
		li img {
			float: left;
			margin-right: 15px;
			width: 80px;
			margin-left: 0;
		}

		li a {
			color: #000;
			display: inherit;
			margin-bottom: 5px;
			box-shadow: none;
		}

		.product-title {
			color: #000;
			display: inherit;
			margin-bottom: 8px;
			line-height: 1.2;
			box-shadow: none;
		}

		.woocs_price_code {
			color: #000;
			font-weight: 700;
		}

		.woocommerce-Price-amount {
			display: inline-block;
		}

		li {
			del {
				font-weight: 400;
				margin-right: 4px;

				.woocommerce-Price-amount {
					text-decoration: line-through;
				}
			}

			ins {
				color: #2f8a33;
				margin-right: 4px;
			}

			span.sale {
				color: #e84506;
			}
		}
	}

	ul li {
		display: block;
		padding: 5px 0;

		a {
			color: #000;
			box-shadow: none;
		}

		&.current-cat,
		&.chosen {
			& > a,
			& > .count {
				color: $color__primary;
			}

			& > a {
				font-weight: 600;
			}
		}

		.children {
			padding-left: 15px;
			margin-top: 7px;

			li:last-child {
				padding-bottom: 0;
			}

			li a {
				color: #666666;

				&:hover {
					color: #000;
				}
			}

			li.current-cat {
				& > a {
					color: $color__primary;
				}
			}

		}
	}

	& > ul > li {
		&:last-child {
			padding-bottom: 0;
		}

		&:first-child {
			padding-top: 0;
		}
	}

	.widget_shopping_cart {
		.buttons {
			.button {
				width: 100%;
			}
		}
	}
}

.tz_widget_product_categories,
.widget_product_categories {
	ul {
		li {
			padding: 2px 15px 2px 0;
			position: relative;

			.cat-menu-close {
				position: absolute;
				right: 0;
				top: 6px;
				font-size: 9px;
				width: 15px;
				text-align: right;
				cursor: pointer;
			}

			&.tz-current-cat-parent {
				&:before {
					content: '\e93b';
					font-family: Linearicons;
					font-size: 12px;
					margin-right: 5px;
				}

				& > .children {

				}

				& > .cat-menu-close {
					display: none;
				}
			}

			a {
				color: #000;
				box-shadow: none;
			}

			&.current-cat {
				a {
					color: $color__primary;
					font-weight: 600;
				}
			}

			.children {
				margin: 5px 0 9px 15px;

				li {
					a {
						color: #555555;
						font-weight: 400;

						&:hover {
							color: $color__primary;
							box-shadow: inset 0 0 0 transparent, inset 0 -1px 0 $color__primary;
						}
					}

					&.current-cat {
						a {
							color: $color__primary;
							box-shadow: inset 0 0 0 transparent, inset 0 -1px 0 $color__primary;
						}
					}
				}
			}
		}
	}
}

.tz_widget_product_categories {
	ul {
		li {
			&.opened {
				.cat-menu-close i:before {
					content: "\e939";
				}
			}

			.children {
				display: none;
			}
		}
	}

	ul.product-categories > li {
		display: none;
	}

	.tz-widget-product-cats-btn {
		margin-top: 12px;
		display: flex;
		justify-content: space-between;

		span {
			font-size: 13px;
			color: #777;
			cursor: pointer;

			i {
				padding-right: 6px;
			}
		}

		.show-less {
			display: none;
		}
	}
}

.single-product {
	.tz_widget_product_categories {
		ul.product-categories > li {
			display: block;
		}
	}
}

.tz_widget_products {
	ul.products {
		margin: 0;
		border: 2px solid #eeeeee;
		padding: 40px;

		li.product {
			padding: 0;
			margin-bottom: 34px;

			a:hover {
				box-shadow: none;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.widget_product_tag_cloud {
	.widget-title {
		margin-bottom: 25px;
	}
}

// Custom HTML
ul.contact-box-widget {
	border: 1px solid #e5e5e5;
	padding: 10px 20px;

	.contact-box__item {
		border-bottom: 1px solid #e5e5e5;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		padding: 12px 0;

		&:last-child {
			border-bottom: 0;
		}
	}

	.box-icon {
		color: #777;
		font-size: 18px;
		padding-right: 15px;
	}

	.box-content {
		color: #555;
		line-height: 1.4;
	}

	.box-content__value {
		font-weight: 700;
		color: #000;
	}

	.contact-box__item--phone {
		.box-content__value {
			font-size: 18px;
		}
	}
}