// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 14) * 1px;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get($columns, $numberColumns);
}

// Set default background color for socials media
$socials: (
	'facebook' : #3b5998,
	'twitter' : #1da1f2,
	'youtube' : #ff0000,
	'flickr' : #f40083,
	'vimeo' : #1ab7ea,
	'instagram' : #c32aa3,
	'pinterest' : #c8232c,
	'linkedin' : #007bb5,
	'google' : #d41b1b,
	'tumblr' : #35465d,
	'skype' : #00aff0,
	'dribbble' : #ea4c89,
	'email' : #2f8a33,
	'whatsapp' : #00A901,
);

.socials-with-background {
	@each $social, $color in $socials {
		a[class*="#{$social}"] {
			background-color: $color;
		}
	}
}

$socialsContent: (
	'facebook' : '\e093',
	'twitter' : '\e094',
	'youtube' : '\e0a3',
	'flickr' : '\e0a6',
	'vimeo' : '\e09c',
	'instagram' : '\e09a',
	'pinterest' : '\e095',
	'linkedin' : '\e09d',
	'google' : '\e096',
	'tumblr' : '\e097',
	'skype' : '\e0a2',
	'dribbble' : '\e09b',
	'email' : '\e010',
);

.socials-with-content {
	@each $social, $content in $socialsContent {
		a[class*="#{$social}"] {
			&:before {
				content: $content;
				font-family: ElegantIcons;
				display: none;
			}
		}
	}
}

.socials-with-content a[class*="whatsapp"]:before {
	content: '\f4ef';
	font-family: Ionicons;
	display: none;
}

@mixin btn-primary() {
	padding: 0 25px;
	height: 40px;
	line-height: 40px;
	background-color: $color__primary;
	transition: all 0.5s;
	color: $color__lighter;
	font-size: 14px;
	font-weight: 600;
	text-align: center;
	border: none;
	display: inline-block;
	border-radius: 5px;
	&:hover,
	&:focus,
	&:active {
		outline: none;
		color: $color__lighter;
		background-color: $color__primary;
	}
}


@mixin linearicons( $icon ) {
	content: $icon;
	display: inline-block;
	font: normal normal normal 14px/1 linearicons;
}

// Spinner
@keyframes lds-dual-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@-webkit-keyframes lds-dual-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@-o-keyframes lds-dual-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@-ms-keyframes lds-dual-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@mixin tz-spinner() {
	&:after {
		content: " ";
		display: block;
		width: 12px;
		height: 12px;
		border-radius: 50%;
		border-width: 1px;
		border-style: solid;
		border-color: #fff transparent #fff transparent;
		animation: lds-dual-ring 0.5s linear infinite;
	}
}

@keyframes tz-spin-fast {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
		animation-timing-function: cubic-bezier(.55, .055, .675, .19)
	}
	50% {
		-webkit-transform: rotate(900deg);
		transform: rotate(900deg);
		animation-timing-function: cubic-bezier(.215, .61, .355, 1)
	}
	to {
		-webkit-transform: rotate(1800deg);
		transform: rotate(1800deg)
	}
}

@-webkit-keyframes tz-spin-fast {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
		animation-timing-function: cubic-bezier(.55, .055, .675, .19)
	}
	50% {
		-webkit-transform: rotate(900deg);
		transform: rotate(900deg);
		animation-timing-function: cubic-bezier(.215, .61, .355, 1)
	}
	to {
		-webkit-transform: rotate(1800deg);
		transform: rotate(1800deg)
	}
}

@-o-keyframes tz-spin-fast {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
		animation-timing-function: cubic-bezier(.55, .055, .675, .19)
	}
	50% {
		-webkit-transform: rotate(900deg);
		transform: rotate(900deg);
		animation-timing-function: cubic-bezier(.215, .61, .355, 1)
	}
	to {
		-webkit-transform: rotate(1800deg);
		transform: rotate(1800deg)
	}
}

@-ms-keyframes tz-spin-fast {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
		animation-timing-function: cubic-bezier(.55, .055, .675, .19)
	}
	50% {
		-webkit-transform: rotate(900deg);
		transform: rotate(900deg);
		animation-timing-function: cubic-bezier(.215, .61, .355, 1)
	}
	to {
		-webkit-transform: rotate(1800deg);
		transform: rotate(1800deg)
	}
}