.teckzone-contact-info{
	.title{
		font-size: 14px;
		margin: 0 0 15px;
	}

	> .desc{
		margin-bottom: 26px;
		font-size: 13px;
		line-height: (20/13);
	}

	.list-infor{
		margin: 0;
		padding: 0;

		li{
			list-style: none;
		}
	}

	.teckzone-icon{
		margin-right: 7px;
		margin-top: 5px;
	}

	.after-desc{
		font-size: 25px;
		color: #000;
		line-height: 1.3;
	}

	.box-desc{
		.desc{
			line-height: (27/14);
		}
	}

	.box-item--wrapper{
		display: flex;
		margin-bottom: 2px;
	}
}