.teckzone-list-links {
	.title {
		font-size: 14px;
		margin: 0 0 19px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.teckzone-icon {
			font-size: 12px;
		}

		&.open {
			i:before {
				content: '\e939';
			}
		}
	}

	ul {
		padding: 0;
		margin: 0;
		list-style: none;
		
		li {
			margin-bottom: 8px;
			line-height: 1.4;
		}
	}

	.name {
		color: #555555;

		&:hover {
			color: $color__primary;
			box-shadow: inset 0 0 0 transparent, inset 0 -1px 0 $color__primary;
		}
	}
}