.tz-socials-list {
	.socials-desc {
		margin-bottom: 10px;
	}

	.socials-list {
		display: flex;
		flex-wrap: wrap;
		list-style-type: none;
		padding: 0;
		margin: 0 -10px;

		li {
			padding: 0 10px;
			font-size: 14px;

			&:hover{
				a{
					&.share-facebook {
						color: #1b4e9b;
					}
					
					&.share-googleplus {
						color: #cc0000;
					}

					&.share-twitter {
						color: #00aeef;
					}

					&.share-pinterest {
						color: #c92228;
					}

					&.share-linkedin {
						color: #007bb5;
					}

					&.share-youtube {
						color: #bb0000;
					}

					&.share-instagram {
						color: #125688;
					}

					&.share-flickr {
						color: #ff0084;
					}

					&.share-tumblr {
						color: #425267;
					}

					&.share-dribbble {
						color: #DE4F85;
					}

					&.share-skype {
						color: #00A5E2;
					}

					&.share-rss {
						color: #F1951A;
					}
				}
			}
		}
	}
}