body {
	.elementor-widget:not(:last-child) {
		margin-bottom: 0;
	}
}

.tz-flex-column-horizontal {
	& > .elementor-column-wrap {
		& > .elementor-widget-wrap {
			& > .elementor-element {
				width: auto;
			}
		}
	}
}

.tz-flex-column-vertical {
	& > .elementor-column-wrap {
		& > .elementor-widget-wrap {
			& > .elementor-element {
				width: 100%;
			}
		}
	}
}

.teckzone-icon {
	svg {
		width: 1em;
		height: 1em;
		position: relative;
		display: block;
	}
}

.elementor-section {
	&.elementor-section-full_width {
		.elementor-container {
			&.elementor-column-gap-default {
				padding-left: 10px;
				padding-right: 10px;
			}

			&.elementor-column-gap-narrow {
				padding-left: 5px;
				padding-right: 5px;
			}

			&.elementor-column-gap-extended {
				padding-left: 15px;
				padding-right: 15px;
			}

			&.elementor-column-gap-wide {
				padding-left: 15px;
				padding-right: 15px;
			}

			&.elementor-column-gap-wider {
				padding-left: 15px;
				padding-right: 15px;
			}
		}
	}
}

.elementor .elementor-section {
	& > .elementor-column-gap-extended {
		& > .elementor-row {
			margin-left: -15px;
			margin-right: -15px;
			width: calc(100% + 30px);
		}
	}

	& > .elementor-column-gap-default {
		& > .elementor-row {
			margin-left: -10px;
			margin-right: -10px;
			width: calc(100% + 20px);
		}
	}

	& > .elementor-column-gap-narrow {
		& > .elementor-row {
			margin-left: -5px;
			margin-right: -5px;
			width: calc(100% + 10px);
		}
	}

	& > .elementor-column-gap-wide {
		& > .elementor-row {
			margin-left: -15px;
			margin-right: -15px;
			width: calc(100% + 30px);

			& > .elementor-column > .elementor-element-populated {
				padding-left: 15px;
				padding-right: 15px;
			}
		}

	}

	& > .elementor-column-gap-wider {
		& > .elementor-row {
			margin-left: -15px;
			margin-right: -15px;
			width: calc(100% + 30px);

			& > .elementor-column > .elementor-element-populated {
				padding-left: 15px;
				padding-right: 15px;
			}
		}
	}
}

.page-template-template-homepage,
.page-template-template-full-width {
	.elementor-top-section.elementor-section-full_width {

		& > .elementor-column-gap-default,
		& > .elementor-column-gap-narrow,
		& > .elementor-column-gap-extended,
		& > .elementor-column-gap-wide,
		& > .elementor-column-gap-wider {
			& > .elementor-row {
				margin-left: 0;
				margin-right: 0;
				width: 100%;
			}
		}
	}
}

@media (max-width: 767px) {
	.elementor .elementor-hidden-phone {
		display: none;
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	.elementor .elementor-hidden-tablet {
		display: none;
	}
}

@media (min-width: 1025px) {
	.elementor .elementor-hidden-desktop {
		display: none;
	}
}

@media (min-width: 1200px) {
	.elementor .elementor-section.elementor-section-boxed {
		& > .elementor-container {
			max-width: 1170px;
		}
	}
}

@media (max-width: 1199px) {
	.elementor .elementor-section.elementor-section-boxed {
		& > .elementor-container {
			padding-left: 15px;
			padding-right: 15px;
			max-width: initial;

			.elementor-container {
				padding-left: 0;
				padding-right: 0;
			}
		}

		& > .elementor-column-gap-no {
			padding-left: 0;
			padding-right: 0;
		}
	}
}

// Home Wide
@media (min-width: 1440px) {
	.page-template-template-homepage-wide .elementor .elementor-section.elementor-section-boxed {
		& > .elementor-container {
			max-width: 1410px;
		}
	}
}

@media ( max-width: 1439px ) {
	.page-template-template-homepage-wide .elementor .elementor-section.elementor-section-boxed {
		& > .elementor-container {
			padding-left: 15px;
			padding-right: 15px;
			max-width: initial;

			.elementor-container {
				padding-left: 0;
				padding-right: 0;
			}
		}

		& > .elementor-column-gap-no {
			padding-left: 0;
			padding-right: 0;
		}
	}
}

// Home Full Width
@media (min-width: 1680px) {
	.page-template-template-homepage-full-width .elementor .elementor-section.elementor-section-boxed {
		& > .elementor-container {
			max-width: 1650px;
		}
	}
}

@media ( max-width: 1679px ) {
	.page-template-template-homepage-full-width .elementor .elementor-section.elementor-section-boxed {
		& > .elementor-container {
			padding-left: 15px;
			padding-right: 15px;
			max-width: initial;

			.elementor-container {
				padding-left: 0;
				padding-right: 0;
			}
		}

		& > .elementor-column-gap-no {
			padding-left: 0;
			padding-right: 0;
		}
	}
}

@media (min-width: 1230px) {
	.elementor .elementor-section {

		& > .elementor-column-gap-wide {
			& > .elementor-row {
				margin-left: -20px;
				margin-right: -20px;
				width: calc(100% + 40px);

				& > .elementor-column > .elementor-element-populated {
					padding-left: 20px;
					padding-right: 20px;
				}
			}
		}

		& > .elementor-column-gap-wider {
			& > .elementor-row {
				margin-left: -30px;
				margin-right: -30px;
				width: calc(100% + 60px);

				& > .elementor-column > .elementor-element-populated {
					padding-left: 30px;
					padding-right: 30px;
				}
			}
		}
	}
}

/*******************************
******* Element Sticky *********
*******************************/
.sticky-wrapper {
	&.is-sticky {
		.tz-sticky-on {
			left: 0 !important;
			background-color: #fff;
			z-index: 999;
		}
	}
}