html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

@import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */

	&.lazyloading {
		height: -webkit-fill-available;
	}
}

.elementor img {
	&.lazyloading {
		height: -webkit-fill-available;
	}
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

.p-relative {
	position: relative;
}

.teckzone-icon{
	line-height: 0;
}

.fbold{
	font-weight: 700;
}

.main-color {
	color: $color__primary !important;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.loading-icon {
	display: none;
	vertical-align: middle;
	text-align: center;
	opacity: 0;
	transition: 0.5s;
	z-index: -999;
	min-height: 27px;

	.loading-bubbles {
		display: inline-block;
		transform: translateX(-5px);
	}

	.bubble {
		display: inline-block;
		width: 2px;
		height: 2px;
		margin: 0 1px;
		transform: scaleY(-50%);

		&:nth-child(2n) .dot {
			animation-delay: -0.3s;
		}

		&:nth-child(3n) .dot {
			animation-delay: 0s;
		}
	}

	.dot {
		display: block;
		background-color: #000;
		width: 100%;
		height: 100%;
		transform-origin: 50% 50%;
		animation: fadein 1.2s -0.6s infinite ease-out;
	}

	.loading & {
		display: inline-block;
		opacity: 1;
	}
}

.mfp-close-btn-in .mfp-close{
	background-color: inherit;
}
// Tabs
.teckzone-tabs {
	@-webkit-keyframes fadeIn {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
	@-moz-keyframes fadeIn {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
	@keyframes fadeIn {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

	.tabs-nav {
		margin: 0;
		padding: 0;
		overflow: hidden;
		list-style-type: none;

		li {
			float: left;
		}

		a {
			display: block;
		}
	}

	.tabs-content {
		position: relative;
	}

	.tabs-panel {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		opacity: 0;
		transition: opacity 0.2s ease;
		transform: translateY(10px);

		&.active {
			position: relative;
			z-index: 2;
			opacity: 1;
			top: 0;
			transform: translateY(0);
			transition: all 0.2s ease;
			transition-delay: 0.1s;
		}
	}
}

.btn-primary {
	@include btn-primary();
}

.teckzone-loading {
	@include tz-spinner;
}

.tz-elementor-ajax-wrapper {
	.teckzone-loading-wrapper {
		min-height: 500px;
		background-color: #fff;
		position: relative;
	}

	.teckzone-loading {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		
		&:after {
			width: 25px;
    		height: 25px;
			border-color: $color__primary transparent $color__primary transparent;
		}
	}
}

.teckzone-off-canvas-layer {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
	background-color: rgba( 0,0,0,0.75 );
	display: none;
}

.display-catalog-filter,
.open-menu-mobile,
.open-search-mobile,
.open-cart-mobile {
	overflow: hidden;
	max-height: 100vh;
}

.display-catalog-filter {
	.teckzone-off-canvas-layer {
		display: block;
		z-index: 8888;
	}
}

@import "woocommerce";
@import "headers/header";
@import "shortcodes/shortcodes";
@import "tables";
@import "elementor";
@import "footer/footer";

