table {
	margin: 0 0 1.5em;
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	border-width: 1px 0 0 1px;
}

caption,
td,
th {
	padding: 0;
	font-weight: normal;
	text-align: left;
}

table,
th,
td {
	border: 1px solid #e5e5e5;
}

th {
	border-width: 0 1px 1px 0;
	font-weight: 700;
}

td {
	border-width: 0 1px 1px 0;
}

th,
td {
	padding: 0.4375em;
}