.site-header {
	.header-top {
		display: flex;
		align-items: center;
		padding: 25px 0;
	}

	.header-logo {
		width: 20%;
	}

	.header-search {
		flex-grow: 1;

		label {
			display: flex;
			width: 100%;

			input {
				width: 100%;
				border-right: 0;
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}

			button {
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}
		}
	}

	.header-elements {
		display: flex;
		align-items: center;

		> .header-element:not(:nth-child(2)):not(:first-child) {
			position: relative;
			
			&:before {
				content: '';
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				width: 1px;
				height: 18px;
				background-color: #dddddd;
			}
		}
	}

	.header-main {
		background-color: $color__primary;

		.main-navigation {
			ul.menu {
				position: relative;

				> li {
					> a {
						color: #fff;
					}

					&:first-child {
						padding-left: 0;
					}

					&.current_page_item > a,
					&.current-menu-item > a,
					&.current_page_ancestor > a,
					&.current-menu-ancestor > a {
						color: rgba( 255,255,255,.5 );
					}

					&:hover,
					&:focus {
						> a {
							color: rgba( 255,255,255,.5 );
						}
					}
				}
			}
		}
	}
}

.woocommerce-active {
	.site-header .header-elements {
		margin-left: 35px;
	}
}

.site-branding {
	flex: 0 1 auto;
	position: relative;
	z-index: 100;

	.logo {
		position: relative;

		&:hover {
			text-decoration: none;
		}

		img {
			display: inline-block;
			vertical-align: middle;
		}
	}

	.site-title,
	.site-description {
		@extend .screen-reader-text;
	}
}
// Compare + Wishlish
.header-element--compare,
.header-element--wishlist {
	a {
		position: relative;
		display: inline-block;
		padding: 10px 14px;
	}

	.teckzone-icon {
		font-size: 21px;
		color: #000;
		display: block;
	}

	.mini-item-counter {
		position: absolute;
		right: 2px;
		top: 0;
		text-align: center;
		background-color: #e84506;
		border-radius: 3px;
		font-size: 13px;
		font-weight: 700;
		color: #fff;
		padding: 3px 6px;
		line-height: 1;

		//display: block;
		display: none;
	}
}

// Account
.header-element--account {
	position: relative;
	margin-left: 10px;

	> a {
		position: relative;
		display: inline-flex;
		align-items: center;
		color: #000;
	}

	.login-text {
		display: flex;
		flex-direction: column;

		span {
			display: block;
			line-height: 1.45;
		}

		.register {
			font-weight: 700;
		}
	}

	.teckzone-icon {
		font-size: 20px;
		display: block;
		padding: 10px 14px;
	}

	.preamble {
		color: #000;
		font-weight: 700;
		margin-bottom: 10px;
	}

	.dropdown {
		border-width: 1px 0 0 1px;
		border-style: solid;
		border-color: #cccccc;
		width: 15px;
		height: 15px;
		display: block;
		transform: translateX(-50%) rotate(45deg) scale(0);
		background-color: #fff;
		position: absolute;
		left: 50%;
		top: calc( 100% + 32px );
		z-index: 100;
		opacity: 0;
		transition: top ease .3s;
	}

	.dropdown-submenu {
		border-top: 24px solid transparent;
		position: absolute;
		opacity: 0;
		width: 270px;
		top: calc( 100% + 15px );
		right: 0;
		transform: scaleX(0);
		transition: top ease .3s;
		z-index: 99;

		.wrapper {
			border: 1px solid #ddd;
			padding: 20px 25px;
			border-radius: 3px;
			background-color: #fff;
		}

		ul {
			padding: 0;
			margin: 0;
			list-style: none;

			a {
				color: #555555;

				&:hover {
					color: $color__primary;
					box-shadow: inset 0 0 0 transparent, inset 0 -1px 0 $color__primary;
				}
			}

			li {
				margin-bottom: 4px;
			}
		}

		a.logout {
			color: #555555;
			display: flex;
			align-items: center;
			line-height: 1;
			border-top: 1px solid #ddd;
			padding-top: 15px;
			margin-top: 14px;
			margin-bottom: 9px;

			i {
				padding-right: 2px;
			}
		}
	}

	&:hover {
		.dropdown-submenu {
			transform: scaleX(1);
			opacity: 1;
			top: 100%;
		}

		.dropdown {
			transform: translateX(-50%) rotate(45deg) scale(1);
			opacity: 1;
			top: calc( 100% + 17px );
		}
	}
}

// Cart
.header-element--cart {
	position: relative;

	.cart-contents {
		display: block;

		.teckzone-icon {
			font-size: 22px;
			color: #000000;
		}

		.cart-content {
			display: flex;
			align-items: center;
			position: relative;
		}

		.cart-icon {
			position: relative;
			padding: 10px 22px 10px 12px;
			display: block;
			line-height: 1;
		}

		.teckzone-mini-cart-counter {
			position: absolute;
			left: calc( 100% - 32px );
			top: 0;
			text-align: center;
			background-color: #e84506;
			border-radius: 3px;
			font-size: 13px;
			font-weight: 700;
			color: #fff;
			padding: 3px 6px;
			line-height: 1;
			display: block;
		}

		.cart-info {
			color: #555;

			> * {
				display: block;
				line-height: 1.45;
			}

			.price {
				color: #2f8a33;
				font-weight: 700;
			}
		}
	}

	.dropdown {
		border-width: 1px 0 0 1px;
		border-style: solid;
		border-color: #b3b3b3;
		width: 15px;
		height: 15px;
		display: block;
		transform: translateX(-50%) rotate(45deg) scale(0);
		background-color: #fff;
		position: absolute;
		left: 50%;
		top: calc( 100% + 32px );
		z-index: 100;
		opacity: 0;
		transition: top ease .3s;
	}

	/***Content***/
	.mini-cart-content {
		border-top: 24px solid transparent;
		opacity: .5;
		width: 360px;
		position: absolute;
		top: calc( 100% + 15px );
		right: 0;
		transform: scaleX(0);
		transition: top ease .3s;
		z-index: 99;
	}

	.widget_shopping_cart_content {
		padding: 30px 20px;
		border: 1px solid #cccccc;
		background-color: #fff;
	}

	.widget-canvas-content::-webkit-scrollbar {
		display: none;
	}

	ul.woocommerce-mini-cart {
		padding: 0;
		margin: 0;
		max-height: 306px;
		overflow-y: auto;
		overflow-x: hidden;
		border-bottom: 1px solid #cccccc;
	}

	ul.woocommerce-mini-cart::-webkit-scrollbar {
		display: none;
	}

	li.woocommerce-mini-cart-item {
		list-style: none;
		display: flex;
		position: relative;
		padding-bottom: 20px;
		margin-top: 20px;
		border-bottom: 1px solid #ccc;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			border-bottom: 0;
		}
	}

	.product-image {
		flex: none;
		width: 60px;
		height: 60px;
		margin-right: 20px;
	}

	.product-content {
		padding-right: 40px;
	}

	.product-name a {
		line-height: 1.428;
		color: #000;
	}

	.quantity .amount {
		color: #000;
		font-weight: 700;
	}

	dl.variation {
		margin-bottom: 0;
	}

	.remove {
		position: absolute;
		right: 0;
		top: 0;
		display: block;
		width: 20px;
		height: 20px;
		line-height: 20px;
		font-size: 20px;
		border-radius: 3px;
		border: 1px solid #cccccc;
		text-align: center;
		color: #000;
		transition: ease .5s;

		&:hover {
			color: #fff;
			background-color: #000;
			border-color: transparent;
		}
	}

	.woocommerce-mini-cart__total {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-weight: 700;
		color: #000;
		margin: 41px 0 0;

		.amount {
			color: #2f8a33;
			font-size: 16px;
		}
	}

	.woocommerce-mini-cart__buttons {
		display: flex;
		justify-content: space-between;
		margin: 17px 0 0;

		a {
			font-weight: 700;
			width: 48%;
			text-align: center;
			padding: 8px 20px;
			color: #000;
			background-color: #eeeeee;
			border-radius: 3px;
			border: 1px solid #cccccc;
			transition: ease .5s;

			&.checkout {
				color: #fff;
				background-color: $color__primary;
				border-color: transparent;
			}
		}
	}

	.woocommerce-mini-cart__empty-message {
		margin-bottom: 0;
	}

	&:hover {
		.mini-cart-content {
			transform: scaleX(1);
		}

		.mini-cart-content,
		.teckzone-cart__inner:before {
			opacity: 1;
			top: 100%;
		}

		.dropdown {
			opacity: 1;
			transform: translateX(-50%) rotate(45deg) scale(1);
			top: calc( 100% + 17px );
		}
	}

	// Open
	.teckzone-off-canvas-layer {
		display: none;
		z-index: -1;
	}

	&.display-cart-panel {
		.teckzone-off-canvas-layer {
			display: block;
			z-index: 8888;
		}
	}
}

// Search
.header-element--search {
	.search-panel-content {
		width: 375px;
		position: fixed;
		top: 0;
		right: -375px;
		background-color: #f5f5f5;
		bottom: 0;
		overflow: hidden;
		z-index: 100000;
		transition: transform .25s ease;

		&.open {
			transform: translate3d(-375px, 0, 0);
		}
	}

	.top-content {
		padding: 15px 20px;
		display: flex;
		align-items: center;
		background-color: $color__primary;
		position: relative;
		justify-content: space-between;

		form {
			position: relative;
			flex-grow: 1;
		}

		.search-field {
			border: 0;
			border-radius: 3px;
			padding-right: 42px;
			width: 100%;
			height: 42px;
			line-height: 42px;
		}

		.search-submit {
			color: #000;
			font-size: 17px;
			position: absolute;
			right: 0;
			top: 50%;
			transform: translatey(-50%);
			background-color: transparent;
			padding: 0;
			width: 42px;
			height: 42px;
			line-height: 42px;
			display: flex;
			align-items: center;
			z-index: 999;
			justify-content: center;

			.teckzone-icon {
				margin: 0;
			}
		}

		.close-search-panel {
			color: #fff;
			display: flex;
			line-height: 1;
			font-size: 14px;
			margin-left: 20px;
		}
	}

	// Open
	.teckzone-off-canvas-layer {
		display: none;
		z-index: -1;
	}

	&.display-search-panel {
		.teckzone-off-canvas-layer {
			display: block;
			z-index: 8888;
		}
	}
}