.teckzone-cart {
	.cart-show {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: block;
		z-index: 9;
	}

	/***Icon***/
	.teckzone-icon{
		font-size: 22px;
		color: #000;
		display: block;
		line-height: .9;
	}

	.mini-item-counter{
		position: absolute;
		right: 0;
		top: 0;
		display: block;
		text-align: center;
		background-color: #e84506;
		border-radius: 3px;
		font-size: 13px;
		font-weight: 700;
		color: #fff;
		padding: 3px 6px;
		line-height: 1;
	}

	/***Content***/
	.mini-cart-content {
		border-top: 0 solid transparent;
		opacity: .5;
		width: 360px;
		position: absolute;
		top: 120%;
		right: 0;
		transform: scaleX(0);
		transition: top ease .3s;
		z-index: 999;
	}

	.widget_shopping_cart_content {
		padding: 30px 20px;
		border: 1px solid #cccccc;
		background-color: #fff;
	}

	.widget-canvas-content::-webkit-scrollbar {
		display: none;
	}

	ul.woocommerce-mini-cart {
		padding: 0;
		margin: 0;
		max-height: 306px;
		overflow-y: auto;
		overflow-x: hidden;
		border-bottom: 1px solid #cccccc;
	}

	ul.woocommerce-mini-cart::-webkit-scrollbar {
		display: none;
	}

	li.woocommerce-mini-cart-item {
		list-style: none;
		display: flex;
		position: relative;
		padding-bottom: 20px;
		margin-top: 20px;
		border-bottom: 1px solid #ccc;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			border-bottom: 0;
		}
	}

	.product-image {
		flex: none;
		width: 60px;
		height: 60px;
		margin-right: 20px;
	}

	.product-content {
		padding-right: 40px;
	}

	.product-name a {
		line-height: 1.428;
		color: #000;
	}

	.quantity .amount {
		color: #000;
		font-weight: 700;
	}

	dl.variation {
		margin-bottom: 0;
	}

	.remove {
		position: absolute;
		right: 0;
		top: 0;
		display: block;
		width: 20px;
		height: 20px;
		line-height: 20px;
		font-size: 20px;
		border-radius: 3px;
		border: 1px solid #cccccc;
		text-align: center;
		color: #000;
		transition: ease .5s;

		&:hover {
			color: #fff;
			background-color: #000;
			border-color: transparent;
		}
	}

	.woocommerce-mini-cart__total {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-weight: 700;
		color: #000;
		margin: 41px 0 0;

		.amount {
			color: #2f8a33;
			font-size: 16px;
		}
	}

	.woocommerce-mini-cart__buttons {
		display: flex;
		justify-content: space-between;
		margin: 17px 0 0;

		a {
			font-weight: 700;
			width: 48%;
			text-align: center;
			padding: 8px 20px;
			color: #000;
			background-color: #eeeeee;
			border-radius: 3px;
			border: 1px solid #cccccc;
			transition: ease .5s;

			&.checkout {
				color: #fff;
				background-color: $color__primary;
				border-color: $color__primary;
			}
		}
	}

	.woocommerce-mini-cart__empty-message {
		margin-bottom: 0;
	}

	&:hover {
		.mini-cart-content {
			transform: scaleX(1);
		}

		.mini-cart-content,
		.teckzone-cart__inner:before {
			opacity: 1;
			top: 100%;
		}
	}
}

.teckzone-cart__inner {
	display: flex;
	position: relative;

	&:before {
		content: '';
		position: absolute;
		width: 12px;
		height: 12px;
		border: 1px solid transparent;
		border-bottom-color: #ccc;
		border-left-color: #ccc;
		top: 120%;
		left: 16px;
		background-color: #fff;
		z-index: 9999;
		-webkit-transform: translate(-50%, -5px) rotate(135deg);
		-ms-transform: translate(-50%, -5px) rotate(135deg);
		transform: translate(-50%, -5px) rotate(135deg);
		opacity: 0;
		transition: top ease .3s;
	}

	&:after {
		content: '';
		width: 1px;
		height: 18px;
		background-color: #dddddd;
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
	}
}

.teckzone-cart--icon {
	position: relative;
	padding: 10px 13px 10px 12px;
}

.teckzone-cart--text {
	margin-left: 13px;

	.teckzone-price-total {
		color: #2f8a33;
		font-weight: 700;
		line-height: 1;
		display: block;
	}

	.title {
		line-height: 1;
		margin-bottom: 7px;
	}
}

// Mini Cart Panel
.teckzone-cart-mobile {
	// Icon
	.mini-cart-url {
		display: inline-flex;
		padding: 8px 12px;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		position: relative;

		.teckzone-icon{
			font-size: 22px;
			color: #000;
			display: block;
			line-height: .9;
		}
	
		.mini-item-counter{
			position: absolute;
			right: 0;
			top: 0;
			display: block;
			text-align: center;
			background-color: #e84506;
			border-radius: 3px;
			font-size: 13px;
			font-weight: 700;
			color: #fff;
			padding: 3px 6px;
			line-height: 1;
		}

		.mini-cart-label {
			font-size: 13px;
			color: #000;
			margin-top: 5px;
		}
	}

	.mini-cart-header__text {
		font-size: 16px;
		font-weight: 700;
		color: #fff;
	}

	.close-cart-panel {
		font-size: 20px;
		color: #fff;
	}

	// Mini Cart Content
	.mini-cart-content {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		width: 310px;
		right: -310px;
		z-index: 100000;
		background-color: #fff;
		padding: 84px 20px 0;
		transition: transform .25s ease;

		&.open {
			transform: translate3d(-310px, 0, 0);
		}
	}

	.mini-cart-header {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		background-color: $color__primary;
		padding: 25px 20px;
		z-index: 10;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.mini-cart-content__wrapper {
		height: 100%;
		overflow-y: auto;
	}

	.mini-cart-content__wrapper::-webkit-scrollbar {
		display: none;
	}

	.widget_shopping_cart_content {
		padding-bottom: 326px;
	}

	ul.woocommerce-mini-cart {
		padding: 0;
		margin: 0;
	}

	.mini-cart-footer {
		position: absolute;
		left: 20px;
		right: 20px;
		bottom: 0;
		background-color: #fff;
		z-index: 19;
		border-top: 1px solid #eeeeee;
		padding-top: 150px;
		padding-bottom: 35px;
	}

	// Mini Cart Item
	li.woocommerce-mini-cart-item {
		list-style: none;
		display: flex;
		position: relative;
		padding-bottom: 20px;
		margin-top: 20px;
		border-bottom: 1px solid #eeeeee;

		&:last-child {
			border-bottom: 0;
		}
	}

	.product-image {
		flex: none;
		width: 60px;
		height: 60px;
		margin-right: 20px;
	}

	.product-content {
		padding-right: 40px;
	}

	.product-name a {
		line-height: 1.428;
		color: #000;
	}

	.quantity .amount {
		color: #000;
		font-weight: 700;
	}

	dl.variation {
		margin-bottom: 0;
	}

	.remove {
		position: absolute;
		right: 0;
		top: 0;
		display: block;
		width: 20px;
		height: 20px;
		line-height: 20px;
		font-size: 20px;
		border-radius: 3px;
		border: 1px solid #cccccc;
		text-align: center;
		color: #000;
		transition: ease .5s;

		&:hover {
			color: #fff;
			background-color: #000;
			border-color: transparent;
		}
	}

	.woocommerce-mini-cart__total {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-weight: 700;
		color: #000;

		.amount {
			color: #2f8a33;
			font-size: 16px;
		}
	}

	.woocommerce-mini-cart__buttons {
		margin: 17px 0 0;

		a {
			font-weight: 700;
			display: block;
			text-align: center;
			padding: 8px 20px;
			color: #000;
			background-color: #eeeeee;
			border-radius: 3px;
			border: 1px solid #cccccc;
			transition: ease .5s;
			margin-top: 10px;

			&:hover,
			&.checkout {
				color: #fff;
				background-color: $color__primary;
				border-color: $color__primary;
			}
		}
	}

	.woocommerce-mini-cart__empty-message {
		margin-bottom: 0;
		margin-top: 20px;
	}
}

.teckzone-cart-mobile--panel.display-cart-panel {
	.teckzone-off-canvas-layer {
		display: block;
		z-index: 8888;
	}
}

.teckzone-cart-mobile--left {
	.mini-cart-content {
		left: -310px;

		&.open {
			transform: translate3d(310px, 0, 0);
		}
	}

	.mini-cart-header {
		flex-direction: row-reverse;
	}

	.close-cart-panel {
		i:before {
			content: '\e943';
		}
	}
}

.admin-bar {
	.teckzone-cart-mobile .mini-cart-content {
		top: 32px;
	}
}

// Disable element
.elementor-editor-active {
	.teckzone-cart__inner:before {
		display: none;
	}
}

// Animation
@keyframes tz-spin-fast {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
		animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	}
	50% {
		-webkit-transform: rotate(900deg);
		transform: rotate(900deg);
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}
	to {
		-webkit-transform: rotate(1800deg);
		transform: rotate(1800deg);
	}
}

.teckzone-cart,
.teckzone-cart-mobile {
	.blockUI.blockOverlay {
		background-color: rgba(255, 255, 255, 0.7) !important;
		opacity: 1 !important;
		background-image: none !important;

		&:after {
			border-radius: 50%;
			position: absolute;
			top: calc(50% - 30px);
			left: 50%;
			transform: translate(-50%, -50%);
			background-image: none;
			z-index: 999;
			color: transparent !important;
			font-size: 0;
			border-width: 1px;
			border-color: $color__primary $color__primary $color__primary transparent;
			-webkit-border-radius: 50%;
			border-style: solid;
			-webkit-animation: tz-spin-fast 1s linear infinite;
			animation: tz-spin-fast 1s linear infinite;
			content: "";
			width: 30px;
			height: 30px;
			font-weight: 400;
		}

		&:before {
			display: none;
		}
	}
}