.teckzone-currencies {
	position: relative;
	display: flex;
	align-items: center;
	margin-left: 15px;

	.current {
		cursor: pointer;
		transition: 0.5s;
	}

	.currency-content {
		min-width: 120px;
		position: absolute;
		top: calc(100% + 5px);
		right: 0;
		opacity: 0;
		border-top: 7px solid transparent;
		transition: top .3s, opacity .3s;
		z-index: 99;
		pointer-events: none;

		ul {
			background-color: #fff;
			padding: 20px 25px;
			border: 1px solid #ccc;
			list-style: none;
			margin: 0;

			li {
				a {
					font-size: 14px;
					color: #555;
					width: auto;
					height: auto;
					opacity: 1;
					white-space: nowrap;

					&:hover {
						color: $color__primary;
					}
				}

				&.actived {
					a {
						color: $color__primary;
						pointer-events: none;
					}
				}
			}
		}
	}

	.teckzone-icon {
		margin-left: 5px;
		font-size: 9px;
		color: #000;
	}

	.line {
		display: inline-block;
		background-color: #dddddd;
		width: 1px;
		height: 20px;
		margin-left: 14px;
	}

	&:before {
		content: '';
		position: absolute;
		width: 12px;
		height: 12px;
		border: 1px solid transparent;
		border-bottom-color: #ccc;
		border-left-color: #ccc;
		top: calc(100% + 11px);
		left: 50%;
		background-color: #fff;
		z-index: 991;
		transform: translate(-50%, -4px) rotate(135deg);
		opacity: 0;
		transition: top .3s, opacity .3s;
	}

	&:hover {
		.currency-content {
			top: 100%;
			opacity: 1;
			pointer-events: initial;
		}

		&:before {
			top: calc(100% + 5px);
			opacity: 1;
		}
	}
}