.teckzone-login-regis {
	position: relative;

	.title,
	.header-account--content {
		margin: 0;
		padding: 0;
	}

	.header-account {
		border-top: 15px solid transparent;
	}

	li {
		list-style: none;
		margin-bottom: 4px;

		&:last-child {
			margin-bottom: 0;
		}

		> h3 {
			margin: 0 0 10px;
			font-size: 14px;
		}

		ul {
			padding: 0;
			margin: 0;
		}
	}

	.teckzone-icon {
		margin-right: 5px;
	}

	// Sub menu
	.header-account--content {
		padding: 22px 25px 28px;
		border: 1px solid #eee;
		background-color: #ffffff;

		a {
			font-size: 14px;
			color: #555555;

			&:hover {
				color: $color__primary;
			}
		}

		.logout {
			padding-top: 15px;
			margin-top: 10px;
			border-top: 1px solid #eee;

			a {
				display: flex;
				align-items: center;
				line-height: 1;
			}

			.teckzone-icon {
				font-size: 15px;
			}
		}
	}

	// Sep
	&:after {
		content: '';
		width: 1px;
		height: 18px;
		background-color: #dddddd;
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
	}
}

.teckzone-not-login {
	a {
		display: flex;
		align-items: center;
		color: $color__darker;

		span {
			line-height: 1;
		}

		&:hover {
			color: #000;
		}
	}

	.user-icon {
		font-size: 12px;
	}

	.title {
		font-size: 13px;
		display: flex;
	}

	.login-text {
		padding-right: 5px;
	}

	.register-text {
		display: flex;

		.sep {
			padding-right: 5px;
		}
	}
}

.teckzone-logged-in {
	display: flex;

	&:before {
		content: '';
		position: absolute;
		width: 12px;
		height: 12px;
		border: 1px solid transparent;
		border-bottom-color: #eee;
		border-left-color: #eee;
		top: calc( 120% + 15px );
		left: 12px;
		background-color: #fff;
		z-index: 100;
		-webkit-transform: translate(-50%, -5px) rotate(135deg);
		-ms-transform: translate(-50%, -5px) rotate(135deg);
		transform: translate(-50%, -5px) rotate(135deg);
		opacity: 0;
		transition: top ease .3s;
	}

	.header-account {
		position: absolute;
		width: 270px;
		top: 120%;
		right: 0;
		opacity: .5;
		transform: scaleX(0);
		transition: top ease .3s;
		z-index: 99;
	}

	.login-account {
		position: relative;
		display: flex;
		align-items: center;
		cursor: pointer;
		font-size: 13px;
		transition: 0.5s;
		color: #000;
	}

	.teckzone-icon {
		margin-right: 0 !important;
		font-size: 12px;
	}

	.preamble {
		font-size: 13px;
		display: flex;
		line-height: 1.4;
		margin-left: 10px;

		.preamble-text {
			padding-right: 5px;
		}
		
		.login-author {
			text-transform: capitalize;
		}
	}

	&:hover {
		.header-account {
			transform: scaleX(1);
		}

		.header-account,
		&:before {
			opacity: 1;
		}

		.header-account {
			top: 100%;
		}

		&:before {
			top: calc( 100% + 15px );
		}
	}
}