.teckzone-main-menu--left {

}

.teckzone-main-menu--right {
	&.main-navigation ul.menu,
	&.main-navigation ul.tz-nav-menu {
		justify-content: flex-end;
	}
}

.teckzone-main-menu--center {
	&.main-navigation ul.menu,
	&.main-navigation ul.tz-nav-menu {
		justify-content: center;
	}
}

.teckzone-main-menu--justify {
	&.main-navigation ul.menu,
	&.main-navigation ul.tz-nav-menu {
		justify-content: space-between;
	}
}

.teckzone-main-menu--indicator-none {
	&.main-navigation li.menu-item-has-children > a:after,
	&.main-navigation li.dropdown > a:after {
		display: none;
	}
}

.teckzone-main-menu--indicator-classic {
	&.main-navigation li.menu-item-has-children > a:after,
	&.main-navigation li.dropdown > a:after {
		content: '\43';
		font-family: ElegantIcons;
	}
}

.teckzone-main-menu--indicator-plus {
	&.main-navigation li.menu-item-has-children > a:after,
	&.main-navigation li.dropdown > a:after {
		content: '\e936';
	}
}