.teckzone-menu-department {
	border: 1px solid #ddd;
	border-radius: 3px;
	transition: .5s;
	padding: 9px 7px;
	margin-right: 25px;
	display: flex;
	align-items: center;
	position: relative;
	color: #000;
	justify-content: space-between;

	.menu-icon {
		display: flex;
		align-items: center;
		margin-right: 5px;
		cursor: pointer;

		.teckzone-icon-menu {
			font-size: 20px;
		}
	}

	.teckzone-title {
		font-size: 14px;
		font-weight: 700;
		margin-left: 12px;
	}

	.teckzone-dropdown-arrow {
		font-size: 9px;
		color: #777777;
		transition: .3s;
	}

	.line {
		position: absolute;
		top: -1px;
		left: 0;
		width: 100%;
		height: 1px;
		background-color: #000;
		display: none;
		opacity: 0;
		visibility: hidden;
		transition: .5s;
	}

	.department-menu {
		position: absolute;
		top: 120%;
		left: 0;
		z-index: 999;
		min-width: 270px;
		border-top: 15px solid transparent;
		opacity: 0;
		transition: .3s;
		pointer-events: none;

		.teckzone-department-menu--dropdown {
			background-color: #fff;
		}

		a {
			font-size: 14px;
			color: #555555;
			font-weight: 400;
			padding-top: 8px;
			padding-bottom: 8px;

			&.has-icon i {
				margin-right: 8px;

				&.icon-car {
					position: relative;
					top: -2px;
				}
			}
		}

		ul {
			padding: 10px 0;

			.item-badge {
				position: static;
				display: inline-block;
				margin-left: 7px;
			}

			ul.sub-menu,
			ul.dropdown-submenu {
				top: 0;
				left: calc(100% + 10px);
				transition: left .3s;
			}

			li {
				padding: 0 20px;
				transition: 0.5s;

				&.is-mega-menu {
					position: static;

					ul.sub-menu,
					ul.dropdown-submenu {
						min-height: 100%;
					}

					&:hover {
						> ul.sub-menu,
						> ul.dropdown-submenu {
							left: calc( 100% - 1px );
						}
					}
				}

				&:hover {
					> ul.sub-menu,
					> ul.dropdown-submenu {
						left: 100%;
					}
				}
			}

			li.dropdown,
			li.menu-item-has-children {
				> a {
					&:before {
						display: none;
					}

					&:after {
						content: "\e93c";
						transform: translate(0, -50%) rotate(0deg) !important;
					}
				}

				&:hover {
					> a:after {
						transform: translate(0, -50%) rotate(180deg) !important;
					}
				}
			}
		}

		.is-mega-menu {
			ul, li {
				padding: 0;
			}
		}

		ul.teckzone-department-menu {
			display: flex;
			flex-direction: column;
			border: 1px solid #ccc;

			> li {
				> a {
					border-bottom: 1px solid #eeeeee;
					display: flex;
					align-items: center;
				}

				&:last-child {
					> a {
						border-bottom: 0;
					}
				}

				&:hover {
					background-color: $color__primary;

					> a {
						color: #fff;
						border-color: $color__primary;
					}
				}
			}
		}
	}

	&:hover {
		background-color: #f5f5f5;

		.teckzone-dropdown-arrow {
			transform: rotate(180deg);
		}

		.department-menu {
			top: 100%;
			opacity: 1;
			pointer-events: initial;
		}

		.line {
			opacity: 1;
			visibility: visible;
		}
	}
}

// Open menu department on homepage template
.page-template-template-homepage,
.page-template-template-homepage-wide,
.page-template-template-homepage-full-width {
	.teckzone-menu-department {
		&.menu-show {
			.department-menu {
				top: 100%;
				opacity: 1;
				pointer-events: initial;
			}
	
			.teckzone-dropdown-arrow {
				transform: rotate(180deg);
			}

			.line {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}