.tz-menu-mobile--elementor {
	display: flex;

	&.tz-menu-mobile {
		.menu-mobile-wrapper {
			background-color: #f5f5f5;

			&:after {
				background-color: #f5f5f5;
			}
		}

		&.tz-menu-mobile--no-bottom-content {
			&:after {
				background-color: #fff !important;
			}
		}
	}

	.menu-icon {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	
		.menu-mobile-label {
			font-size: 13px;
			margin-top: 5px;
		}
	}

	nav {
		background-color: #fff;
	}

	.top-content {
		color: #fff;
		background-color: $color__primary;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 23px 20px;

		.go-back {
			font-size: 20px;
			display: flex;
			align-items: center;
		}

		.custom-content {
			a,span {
				color: #fff;
			}
		}

		.login {
			a {
				color: #fff;
			}
		}

		.author {
			i {
				padding-right: 10px;
			}

			span {
				font-weight: 700;
				padding-left: 2px;
			}
		}
	}

	.bottom-content {
		padding: 30px 20px 60px;

		.bottom-content--item {
			display: flex;
			margin-bottom: 12px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		a {
			color: #000;
		}

		.teckzone-icon {
			color: #000;
			transform: translateY(5px);
			padding-right: 15px;
		}
	}
}

.tz-menu-mobile--indicator-plus {
	&.tz-menu-mobile {
		li.menu-item-has-children {
			.toggle-menu-children i:before{
				content: '\e936';
			}

			&.active > .toggle-menu-children i:before {
				content: '\e937';
			}
		}
	}
}

.tz-menu-mobile--right {
	&.tz-menu-mobile {
		.top-content {
			flex-direction: row-reverse;

			.go-back i:before {
				content: '\e944';
			}
		}

		.menu-mobile-wrapper {
			left: auto;
			right: -310px;

			&.open {
				transform: translate3d(-310px, 0, 0);
			}
		}
	}
}

.admin-bar {
	.tz-menu-mobile .menu-mobile-wrapper {
		top: 32px;
	}
}