.teckzone-promotion {
	position: relative;
	.promotion-featured-image {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #f5f5f5;
		background-repeat: no-repeat;
		background-position: center;
	}
	
	.btn-link {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 20;
	}
	
	.promotion-content {
		position: relative;
		z-index: 10;
		max-width: 1200px;
		margin: 0 auto;
		padding-left: 15px;
		padding-right: 15px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 80px;
	}
	
	.pro-close-button {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 20;
		max-width: 1200px;
		margin: 0 auto;
		padding-left: 15px;
		padding-right: 15px;
		pointer-events: none;
	}
	
	.pro-close {
		position: absolute;
		top: 20px;
		right: 15px;
		font-size: 9px;
		background-color: $color__darker;
		padding: 5px;
		border-radius: 3px;
		color: $color__lighter;
		line-height: 1;
		z-index: 30;
		pointer-events: auto;
		transition: none;
	}
	
	.promotion-left {
		display: flex;
		align-items: center;
	}
	
	.promotion-right {
		display: flex;
		align-items: flex-start;
	}
	
	.sale-box {
		background-color: #e84506;
		display: flex;
		align-items: center;
		border-radius: 5px;
		padding: 8px 28px 8px 15px;
		color: $color__lighter;
		position: relative;
		margin-right: 30px;
	}
	
	.sale-text {
		font-size: 13px;
		line-height: 1.1;
		font-weight: 700;
		text-transform: uppercase;
		margin-right: 8px;
	}
	
	.sale-number {
		font-size: 30px;
		font-weight: 700;
		line-height: 1;
	}
	
	.sale-unit {
		position: absolute;
		top: 7px;
		right: 15px;
		font-weight: 700;
		font-size: 13px;
	}
	
	.pro-title {
		font-size: 22px;
		text-transform: uppercase;
		font-weight: 400;
		margin: 0 0 8px;
		line-height: 1;
	}
	
	.pro-desc {
		font-size: 13px;
		line-height: 1;
		p {
			margin: 0;
		}
	}
	
	.p-price {
		padding-right: 100px;
		ins {
			display: block;
			font-size: 22px;
			color: #2f8a33;
			line-height: 1;
			margin-bottom: 5px;
		}
		
		del {
			font-size: 13px;
			color: #555555;
			display: block;
			line-height: 1;
		}
	}
	
	
}