.tz-column-items-center {
	.elementor-widget-techzone-recently-viewed-products {
		height: 100%;

		& > .elementor-widget-container {
			height: 100%;
		}

		.teckzone-header-recently-viewed {
			height: 100%;
		}
	}
}

.elementor-widget.elementor-widget-techzone-recently-viewed-products {
	position: static;
}

.teckzone-footer-recently-viewed,
.teckzone-content-recently-viewed,
.teckzone-header-recently-viewed {

	.recently-viewed-content {
		position: relative;
	}

	.teckzone-loading,
	.teckzone-loading--wrapper {
		position: absolute;
		left: 1px;
		right: 1px;
	}

	.teckzone-loading--wrapper {
		top: 1px;
		bottom: 1px;
		z-index: 9999;
		background-color: #fff;
	}

	.teckzone-loading {
		top: 50%;
		transform: translateY(-50%);
		text-align: center;

		&:after {
			width: 25px;
			height: 25px;
			border-color: #226ce0 transparent #226ce0 transparent;
			display: inline-block;
		}
	}

	.product-list {
		padding: 0;

		li {
			text-align: center;
		}

		a {
			display: inline-block;
			border: 1px solid transparent;

			&:hover {
				border-color: #cccccc;
			}
		}
	}

	&.view-grid {
		.product-list li {
			display: inline-block;
		}
	}

	.recently-empty-products {
		text-align: center;

		.btn-primary {
			margin-top: 15px;
		}
	}

	.recently-button-products,
	.recently-button-products a {
		color: #777777;
	}

	.recently-button-products {
		text-align: center;
		display: none;

		.teckzone-icon {
			font-size: 9px;
			margin-left: 5px;
		}
	}

	&.products-loaded {
		.recently-button-products {
			display: block;
		}
	}
}

.teckzone-footer-recently-viewed,
.teckzone-header-recently-viewed {
	position: relative;

	.recently-title {
		position: relative;
		cursor: pointer;
		display: flex;
		align-items: center;
		line-height: 1;

		&:after {
			content: '\e93a';
			display: inline-block;
			font: normal normal normal 14px/1 linearicons;
			position: absolute;
			right: 0;
			top: 50%;
			-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			transform: translateY(-50%);
			font-size: 10px;
			font-weight: 700;
			-webkit-transition: .2s;
			transition: .2s;
		}
	}

	.recently-viewed-content {
		padding: 25px 55px;
	}

	.slick-next-arrow {
		right: -28px;
	}

	.slick-prev-arrow {
		left: -28px;
	}
}

.teckzone-header-recently-viewed {
	.recently-title {
		height: 100%;
		font-size: 14px;
		font-weight: 400;
		padding: 0 13px 0 0;
		margin: 0;

		&:after {
			font-size: 9px;
		}

		&:before {
			content: '';
			position: absolute;
			width: 12px;
			height: 12px;
			border: 1px solid transparent;
			border-bottom-color: #ccc;
			border-left-color: #ccc;
			top: 120%;
			left: 0;
			right: 20px;
			margin: auto;
			background-color: #fff;
			-webkit-transform: translate(-50%, -5px) rotate(135deg);
			-ms-transform: translate(-50%, -5px) rotate(135deg);
			transform: translate(-50%, -5px) rotate(135deg);
			opacity: 0;
			transition: top ease .3s;
			z-index: 2222;
		}
	}

	.recently-viewed-inner {
		position: absolute;
		top: 120%;
		right: 0;
		z-index: 99;
		transition: top ease .3s;
		border-top: 0 solid transparent;
		opacity: 0;
		transform: scaleX(0);
	}

	.recently-viewed-content {
		border: 1px solid #ccc;
		background-color: #fff;
		padding: 40px 25px 25px;
	}

	ul.product-list {
		margin-left: -15px;
		margin-right: -15px;

		li.product {
			padding: 0 15px;
		}
	}

	&:hover {
		.recently-title:before,
		.recently-viewed-inner {
			top: 100%;
			opacity: 1;
		}

		.recently-viewed-inner {
			z-index: 999;
			transform: scaleX(1);
		}

		.recently-title:after {
			-webkit-transform: rotate(180deg) translateY(50%);
			-ms-transform: rotate(180deg) translateY(50%);
			transform: rotate(180deg) translateY(50%);
		}
	}

	.slick-arrow {
		width: 34px;
		height: 34px;
		line-height: 34px;
		font-size: 11px;
		color: #000;
	}

	.slick-prev-arrow {
		left: -45px;
	}

	.slick-next-arrow {
		right: -45px;
	}

	.slick-dots {
		margin-top: 10px;
	}
}

// Heading box
.tz-product-recently-viewed-carousel--other,
.teckzone-content-recently-viewed {
	background-color: #fff;

	.recently-heading {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid #eee;
		padding: 17px 34px;
	}
}

.teckzone-content-recently-viewed {
	.recently-heading {
		padding: 20px;
		background-color: #fff;
	}

	.recently-title {
		margin: 0;
		font-size: 22px;
		font-weight: 400;
		display: flex;
		align-items: center;
		flex: 1;

		.teckzone-icon {
			font-size: 20px;
			margin-right: 9px;
		}
	}

	.recently-button-products {
		.header-link {
			font-size: 14px;
			display: flex;
			align-items: center;
			transition: unset;

			span {
				color: #777;
				transition: 0.5s;
			}

			.link-text {
				display: block;
				line-height: 1.2;
			}

			.teckzone-icon {
				padding-left: 3px;
				font-size: 10px;
			}

			&:hover {
				span {
					color: $color__primary;
				}

				.link-text {
					box-shadow: inset 0 0 0 transparent, inset 0 -1px 0 $color__primary;
				}
			}
		}
	}

	.recently-empty-products,
	.recently-viewed-products {
		padding: 40px 0;
		background-color: #fff;

		.slick-track {
			margin: 0;
		}
	}

	.product-list {
		margin: 0;
		padding: 0;

		li.product {
			padding-left: 15px;
			padding-right: 15px;

			a {
				display: block;
			}
		}
	}

	.slick-prev-arrow,
	.slick-next-arrow {
		width: 34px;
		height: 34px;
		line-height: 34px;
		font-size: 11px;
		color: #000;
		background-color: #fff;

		&:hover {
			background-color: #000;
			color: #fff;
			border-color: #000;
		}
	}

	.slick-prev-arrow {
		left: -65px;
	}

	.slick-next-arrow {
		right: -65px;
	}

	.slick-dots {
		margin-top: 15px;
		margin-bottom: -10px;
	}
}

.teckzone-footer-recently-viewed {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;

	.recently-title {
		float: right;
		font-size: 14px;
		font-weight: 700;
		padding: 10px 42px 10px 17px;
		border: 1px solid #dddddd;
		margin: 0 94px 0 0;
		background-color: #fff;
		z-index: 9999;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;

		&:after {
			right: 20px;
		}
	}

	.recently-viewed-inner {
		opacity: 1;
		background-color: #fff;
		clear: both;
		position: relative;
		display: none;
		z-index: 9999;
	}

	.recently-title.active:after {
		-webkit-transform: rotate(180deg) translateY(50%);
		-ms-transform: rotate(180deg) translateY(50%);
		transform: rotate(180deg) translateY(50%);
	}

	.overlay {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		display: none;
		z-index: -1;
		background-color: rgba(0, 0, 0, .55);

		&.opened {
			display: block;
			z-index: 999;
		}
	}

	.recently-viewed-content {
		background-color: #fff;
		padding: 40px 88px 25px;
	}

	ul.product-list {
		margin-left: -15px;
		margin-right: -15px;

		li.product {
			padding: 0 15px;
		}
	}

	.slick-prev-arrow {
		left: -65px;
	}

	.slick-next-arrow {
		right: -65px;
	}

	.slick-dots {
		margin-top: 10px;
	}
}

// Recently no ajax
.tz-product-recently-viewed-carousel {
	.recently-empty-products {
		padding: 40px 30px;
		background-color: #fff;
	}

	.recently-title {
		font-weight: 400;
		text-align: center;
		margin: 0 0 43px;
	}

	.recently-button-products {
		.footer-link {
			font-size: 14px;
			display: inline-flex;
			align-items: center;
			transition: unset;

			span {
				color: #777;
				transition: 0.5s;
			}

			.link-text {
				display: block;
				line-height: 1.2;
			}

			.teckzone-icon {
				padding-left: 3px;
				font-size: 10px;
			}

			&:hover {
				span {
					color: $color__primary;
				}

				.link-text {
					box-shadow: inset 0 0 0 transparent, inset 0 -1px 0 $color__primary;
				}
			}
		}
	}

	ul.products {
		li.product {
			.tz-cat {
				display: none;
			}

			.woocommerce-loop-product__title {
				padding-bottom: 9px;
				line-height: 1.3;
			}
		}
	}

	.slick-dots {
		position: initial;
		margin-top: 17px;
	}

	.slick-prev-arrow {
		left: -60px;
	}

	.slick-next-arrow {
		right: -60px;
	}
}

.tz-product-recently-viewed-carousel--other {
	.recently-heading {
		padding: 20px 25px;
	}

	.recently-title {
		padding: 0;
		margin: 0;
		font-size: 22px;
		text-align: left;
		flex: 1;
	}

	.recently-button-products {
		.header-link {
			font-size: 14px;
			display: flex;
			align-items: center;
			transition: unset;

			span {
				color: #777;
				transition: 0.5s;
			}

			.link-text {
				display: block;
				line-height: 1.2;
			}

			.teckzone-icon {
				padding-left: 3px;
				font-size: 10px;
			}

			&:hover {
				span {
					color: $color__primary;
				}

				.link-text {
					box-shadow: inset 0 0 0 transparent, inset 0 -1px 0 $color__primary;
				}
			}
		}
	}

	.recently-viewed-content {
		padding: 20px 65px 20px;
	}

	.recently-empty-products {
		padding: 0;

		.btn-primary {
			margin-top: 20px;
		}
	}

	ul.products {
		margin-bottom: 0;

		&.slick-slider {
			display: block;
		}

		li.product {
			margin-bottom: 0;

			.product-inner {
				display: flex;
				align-items: center;
				padding: 20px;
				border: 1px solid transparent;
				border-radius: 3px;
				transition: ease .5s;
				margin: 1px 1px 0;

				&:hover {
					border-color: #cccccc;
				}

				.product-thumbnail {
					margin: 0 20px 0 0;
					flex: 0 0 32.35%;
					max-width: 32.35%;
				}
			}
		}
	}

	.slick-prev-arrow {
		left: -50px;
	}

	.slick-next-arrow {
		right: -50px;
	}

	.slick-dots {
		margin-bottom: 10px;
	}
}

.tz-product-recently-viewed-carousel--default {
	.recently-title {
		font-size: 26px;
	}

	.recently-empty-products {
		padding: 0;

		.btn-primary {
			margin-top: 20px;
		}
	}

	.slick-list {
		z-index: 7;
		pointer-events: none;
		padding: 0 2px 98px;
		margin-bottom: -98px;
	}

	.slick-dots {
		z-index: 8;
	}

	.recently-viewed-products {
		.recently-button-products {
			position: relative;
			z-index: 3;
		}
	}

	ul.products {
		margin-bottom: 30px;

		&.slick-slider {
			display: block;
		}

		li.product {
			border-right: 1px solid transparent;
			padding: 0 2px;
			margin-bottom: 0;
			pointer-events: auto;

			&:last-child {
				border-right: 0;
			}

			.tz-cat {
				display: none;
			}
		}
	}
}