.tz-search-form {
	width: 100%;

	.form-search,
	.search-inner-content {
		display: flex;
		width: 100%;
		position: relative;
	}
	
	.product-cat {
		width: auto;
		float: left;
		position: relative;
		height: 42px;
		line-height: 42px;
		cursor: pointer;
		
		&.active:hover {
			.cats-search {
				opacity: 1;
				z-index: 9998;
				top: 100%;
				transform: scaleX(1);
			}
			
			.product-cat-label:before {
				z-index: 9999;
				opacity: 1;
				top: 100%;
			}
		}
	}
	
	.cats-search {
		-webkit-transition: top 0.3s;
		transition: top 0.3s;
		position: absolute;
		left: 0;
		top: 110%;
		width: auto;
		min-width: 200px;
		opacity: 0;
		z-index: -1;
		transform: scaleX(0);
		padding: 0;
		margin: 0;
		border-top: 15px solid transparent;
		
		::-webkit-scrollbar {
			background: transparent;
			width: 7px;
		}
		::-webkit-scrollbar-thumb {
			background-color: #ccc;
		}
		
		li.product_cat {
			max-height: 450px;
			overflow-y: auto;
			overflow-x: hidden;
			border: 1px solid #ccc;
			margin: 0;
			padding: 15px 0;
			
			& > a {
				color: #999;
				white-space: nowrap;
				padding: 0 15px;
				
				&:hover {
					color: $color__darker;
				}
			}
		}
		
		ul {
			margin: 0;
			padding: 0;
		}
		
		li {
			padding: 5px 15px;
			margin-bottom: 0;
			list-style: none;
			line-height: 1;
			
			a {
				color: #999;
				white-space: nowrap;
				
				&:hover {
					color: $color__darker;
				}
			}
			
			ul {
				padding-left: 0;
				margin-top: 7px;
				
				li {
					border: none;
				}
				
				li:last-child {
					padding-bottom: 0;
				}
			}
		}
	}
	
	.hot-words {
		margin: 8px -7px 0;
		padding: 0;
		list-style: none;
		
		li {
			display: inline-block;
			padding: 0 7px;
			margin-bottom: 0;
			font-size: 13px;

			a {
				color: #666;
				line-height: 1;
				display: block;
				
				&:hover {
					color: $color__primary;
					box-shadow: inset 0 0 0 transparent, inset 0 -1px 0 $color__primary;
				}
			}
		}

		.title-words {
			font-weight: 700;
			color: #000;
		}
	}
	
	.form-search {
		width: 100%;
		
		&.actived {
			.search-wrapper .search-results {
				top: 100%;
				transform: scaleX(1);
				z-index: 9999;
			}
			
			.product-cat-label {
				border-radius: 5px 0 0 0;
			}
			
			.close-search-results {
				opacity: 1;
				z-index: 8888;
			}
		}
		
		&.searching {
			.loading-icon {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 12px;
				z-index: 999;
				display: flex;
				align-items: center;
				opacity: 1;

				&:before {
					border-width: 1px;
					border-color: #666 #666 #666 transparent;
					border-radius: 50%;
					border-style: solid;
					-webkit-animation: tz-spin-fast 1s linear infinite;
					animation: tz-spin-fast 1s linear infinite;
					content: "";
					width: 13px;
					height: 13px;
					font-weight: 400;
					display: block;
				}
			}
			
			.close-search-results {
				opacity: 0;
			}
			
			.search-submit:before {
				opacity: 0;
			}
		}
	}
	
	.search-wrapper {
		width: 100%;
		display: flex;
		
		::-webkit-scrollbar {
			background: transparent;
			width: 7px;
		}
		::-webkit-scrollbar-thumb {
			background-color: #ccc;
		}
	}

	.search-results {
		position: absolute;
		top: 110%;
		left: 0;
		right: 0;
		border: 1px solid #cccccc;
		border-top: none;
		background-color: $color__lighter;
		z-index: -1;
		padding: 0 10px;
		transform: scaleX(0);
		max-height: 530px;
		overflow-y: auto;
		overflow-x: hidden;

		ul {
			margin: 5px 0 0;
			padding: 0;
			list-style: none;

			li {
				display: flex;
				align-items: flex-start;
				padding-bottom: 12px;
				padding-top: 12px;
				border-top: 1px solid #eee;

				&:first-child {
					border-top: none;
				}

				img {
					max-width: 60px;
					margin-right: 20px;
					margin-left: 10px;
				}

				.title-item {
					font-size: 14px;
					font-weight: 400;
					line-height: 1.4;
					color: $color__darker;
					display: block;

					&:hover {
						color: #226ce0;
					}
				}

				.star-rating {
					float: none;
					margin-top: 5px;
				}

				.price-item {
					font-size: 14px;
					color: $color__darker;
					line-height: 1;
					margin-top: 10px;
					font-weight: 700;

					.sale {
						display: none;
					}
				}

				del {
					font-size: 14px;
					color: #555;
					padding-left: 5px;
					font-weight: 400;
				}

				ins {
					text-decoration: none;
					color: #2f8a33;
					font-weight: 700;
				}
			}

			.search-item {
				display: flex;
				align-items: center;
			}
		}
	}
	
	.close-search-results {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 12px;
		font-size: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 20px;
		height: 20px;
		color: $color__darker;
		border: 1px solid #ccc;
		border-radius: 3px;
		z-index: 10;
		opacity: 0;
		transition: none;
	}
	
	.product-cat-label {
		padding-right: 23px;
		padding-left: 11px;
		border: 1px solid #ccc;
		border-right: none;
		color: $color__darker;
		border-radius: 3px 0 0 3px;
		position: relative;
		height: 100%;
		white-space: nowrap;
		background-color: #f5f5f5;
		
		&:after {
			@include linearicons('\e93a');
			font-size: 10px;
			color: $color__darker;
			position: absolute;
			top: 52%;
			transform: translateY(-50%);
			right: 10px;
		}
		
		&:before {
			content: "";
			position: absolute;
			top: 110%;
			left: 40%;
			width: 13px;
			height: 13px;
			transform: rotate(45deg) translateY(-50%);
			border-left: 1px solid #cccccc;
			border-top: 1px solid #cccccc;
			background-color: #fff;
			z-index: -1;
			padding: 0;
			margin: 14px 0 0;
			opacity: 0;
			-webkit-transition: top 0.3s;
			transition: top 0.3s;
		}
	}
	
	.product-cat-dd {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		height: 100%;
		cursor: pointer;
		min-height: 42px;
		width: 100%;
		z-index: 10;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		padding-left: 10px;
	}
	
	.search-field {
		float: left;
		height: 42px;
		line-height: 1;
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		border-left: none;
		border-right: none;
		padding-right: 12px;
		padding-left: 12px;
		position: relative;
		width: 100%;
		border-radius: 0;
		
		&:focus {
			outline: none;
		}
	}
	
	&.search-every-thing {
		.search-field {
			border-left: 1px solid #ccc;
		}
	}
	
	::-webkit-input-placeholder {
		color: #777;
	}
	::-moz-placeholder {
		color: #777;
	}
	:-ms-input-placeholder {
		color: #777;
	}
	:-moz-placeholder {
		color: #777;
	}
	
	.search-submit {
		float: right;
		height: 42px;
		line-height: 42px;
		background-color: $color__primary;
		border: none;
		font-weight: 700;
		color: $color__lighter;
		border-radius: 0 3px 3px 0;
		white-space: nowrap;
		display: flex;
		align-items: center;
		
		.teckzone-icon {
			margin-left: 5px;
			display: block;
			font-size: 16px;
			order: 3;

			i {
				font-weight: 600;
			}
		}

		.button-label {
			order: 2;
		}
	}
}

.tz-search-form--mobile {
	.open-search-panel {
		display: inline-flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 2px 5px 0 0;
		color: #000;

		i {
			font-size: 20px;
		}

		.search-label {
			font-size: 13px;
			margin-top: 5px;
		}
	}

	.search-panel-content {
		width: 375px;
		position: fixed;
		top: 0;
		right: -375px;
		background-color: #f5f5f5;
		bottom: 0;
		overflow: hidden;
		z-index: 1000;
		transition: transform .25s ease;

		&.open {
			transform: translate3d(-375px, 0, 0);
		}
	}

	.top-content {
		padding: 15px 20px;
		display: flex;
		align-items: center;
		background-color: $color__primary;
		position: relative;

		.search-field {
			border: 0;
			border-radius: 3px;
			padding-right: 42px;
		}

		.search-submit {
			position: absolute;
			right: 0;
			background-color: transparent;
			color: #000000;
			padding: 0;
			width: 42px;
			height: 42px;
			line-height: 46px;
			display: block;
			text-align: center;
			z-index: 999;

			.teckzone-icon {
				margin: 0;
			}
		}

		form {
			&.searching,
			&.actived {
				.search-submit {
					opacity: 0;
				}
			}
		}

		.close-search-panel {
			color: #fff;
			display: flex;
			line-height: 1;
			margin-left: 20px;
		}
	}

	.form-search {
		&.actived {
			~ .search-results {
				top: 100%;
				transform: scaleX(1);
				z-index: 9999;
			}
		}
	}

	.search-results {
		border: 0;
	}

	ul.hot-words {
		background-color: #fff;
		margin: 0 -5px;
		padding: 35px 20px;

		li {
			padding: 0 5px;
		}

		li.title-words {
			display: block;
			margin-bottom: 17px;
			font-size: 14px;

			.teckzone-icon {
				color: #e84506;
				padding-right: 10px;
			}
		}

		li:not( .title-words ) {
			margin-bottom: 10px;

			a {
				display: block;
				color: #555555;
				background-color: #f5f5f5;
				border-radius: 3px;
				padding: 10px 17px;
				font-size: 14px;
				text-decoration: none;
				box-shadow: none !important;

				&:hover {
					text-decoration: none;
				}
			}
		}
	}

	.teckzone-off-canvas-layer {
		display: none;
		z-index: -1;
	}

	&.display-search-panel {
		.teckzone-off-canvas-layer {
			display: block;
			z-index: 8888;
		}
	}
}

.tz-search-form--mobile-left {
	.search-panel-content {
		left: -375px;
		right: auto;

		&.open {
			transform: translate3d(375px, 0, 0);
		}
	}
}

.tz-search-form--mobile-right {

}

.admin-bar {
	.tz-search-form--mobile .search-panel-content {
		top: 32px;
	}
}

.tz-search-mobile-success {
	.tz-search-form--mobile {
		ul.hot-words {
			display: none;
		}
	}
}

@media (max-width: 375px) {
	.tz-search-form--mobile {
		.search-panel-content {
			width: 100%;
			top: 0;
			right: -100%;

			&.open {
				transform: translate3d(-100%, 0, 0);
			}
		}

		&.tz-search-form--mobile-left {
			.search-panel-content {
				left: -100%;
				right: auto;

				&.open {
					transform: translate3d(100%, 0, 0);
				}
			}
		}
	}
}