.teckzone-wishlist,
.teckzone-compare {
	a {
		position: relative;
		display: inline-flex;
		padding: 10px 14px 10px 13px;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		&:after {
			content: '';
			width: 1px;
			height: 18px;
			background-color: #dddddd;
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
		}

		.compare-label,
		.wishlist-label {
			font-size: 13px;
			margin-top: 5px;
		}
	}

	.teckzone-icon{
		font-size: 21px;
		color: #000;
		display: block;
		line-height: .9;
	}

	.mini-item-counter{
		position: absolute;
		right: 2px;
		top: 0;
		display: block;
		text-align: center;
		background-color: #e84506;
		border-radius: 3px;
		font-size: 13px;
		font-weight: 700;
		color: #fff;
		padding: 3px 6px;
		line-height: 1;
	}
}