.main-navigation {
	a {
		color: $color__darker;
		font-weight: 700;
		display: block;
		text-decoration: none;
		white-space: nowrap;
		position: relative;
		cursor: pointer;
	}

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul.dropdown-submenu,
		ul.submenu{
			background-color: #fff;
			position: absolute;
			top: calc(100% + 10px);
			left: 0;
			z-index: 999;
			padding: 18px 0;
			border: 1px solid #ccc;
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			min-width: 200px;
			pointer-events: none;
			opacity: 0;
			transition: top .3s, opacity .3s;

			&:before {
				content: '';
				width: 100%;
				height: 5px;
				position: absolute;
				left: 0;
				top: -5px;
				background-color: transparent;
			}

			ul.dropdown-submenu,
			ul.submenu {
				transition: left ease .3s;
				top: 0;
				left: calc(100% + 10px);
			}

			li {
				&:hover > ul,
				&.focus > ul {
					top: 0;
					left: 100%;
				}
			}
		}

		li:hover > ul,
		li.focus > ul {
			top: 100%;
			opacity: 1;
			pointer-events: initial;
		}
	}

	li {
		position: relative;
		padding: 13px 14px;

		.item-badge {
			position: absolute;
			top: -5px;
			left: 100%;
			font-size: 12px;
			font-weight: 600;
			border-radius: 3px;
			padding: 3px 5px;
			background-color: #2f8a33;
			color: #ffffff;
			min-width: 36px;
			line-height: 1;
			text-align: center;
			z-index: 2;
		}

		&:hover,
		&.focus {
			> a {
				color: $color__primary;
			}
		}

		li {
			padding: 7px 30px;

			a {
				font-weight: 400;
				line-height: 1;
			}

			.item-badge {
				position: static;
				display: inline-block;
				margin-left: 6px;
			}
		}

		&.is-mega-menu {
			position: static;

			&.p-relative {
				position: relative;
			}

			ul.dropdown-submenu,
			ul.submenu,
			li {
				padding: 0;
			}

			&.custom-align-right {
				.dropdown-submenu {
					left: auto;
					right: 0;
				}
			}

			&.custom-align-center {
				.dropdown-submenu {
					left: 50%;
					transform: translateX(-50%);
				}
			}
		}
	}

	ul.menu,
	ul.tz-nav-menu {
		display: flex;
		align-items: center;

		> li {
			flex-shrink: 0;

			> a {
				display: flex;
				align-items: center;

				i {
					margin-right: 5px;
				}

				.menu-separator {
					position: absolute;
					right: -14px;
					top: 50%;
					transform: translateY(-50%);
					background-color: rgba( 255,255,255,0.15 );
					width: 1px;
					height: 13px;
					z-index: 1;
				}
			}

			&:last-child,
			&.last-child {
				> a {
					.menu-separator {
						display: none;
					}
				}
			}
		}
	}

	li.tz-menu-item__magic-line {
		height: 2px;
		position: absolute;
		background-color: $color__primary;
		bottom: 0;
		padding: 0 !important;
		margin: 0;
	}

	li.menu-item-has-children,
	li.dropdown {
		> a {
			padding-right: 13px;

			&:before {
				content: '';
				position: absolute;
				width: 12px;
				height: 12px;
				border: 1px solid transparent;
				border-bottom-color: #ccc;
				border-left-color: #cccccc;
				top: calc(100% + 18px);
				left: 50%;
				margin: auto;
				background-color: #fff;
				z-index: 1000;
				transform: translateX(-50%) rotate(135deg);
				opacity: 0;
				transition: top .3s, opacity .3s;
			}

			&:after {
				content: '\e93a';
				font-family: Linearicons;
				font-size: 9px;
				font-weight: 400;
				position: absolute;
				right: 0;
				top: 50%;
				transform: translate(0, -50%);
				transition: transform 0.2s;
			}
		}

		&:hover {
			> a {
				&:before {
					top: calc(100% + 8px);
					opacity: 1;
				}

				&:after {
					transform: translate(0, -50%) rotate(180deg);
				}
			}
		}
	}

	ul.sub-menu,
	ul.dropdown-submenu {
		li.menu-item-has-children,
		li.dropdown {
			> a {
				&:before {
					display: none;
				}

				&:after {
					transform: translate(0, -50%) rotate(-90deg);
				}
			}

			&:hover {
				> a {
					&:after {
						transform: translate(0, -50%) rotate(90deg);
					}
				}
			}
		}
	}

	> li {

	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		color: $color__primary;
	}

	// Reset style on 'ul' in Mega Menu Content
	div.mega-menu-content {
		ul {
			li {
				padding: 0;

				a {
					display: inline !important;
					padding: 0;
				}
			}
		}

		.tz-quick-links {
			ul {
				a {
					display: flex !important;
				}
			}
		}
	}
}

.tz-menu-mobile {
	.menu-icon {
		display: inline-flex;
		cursor: pointer;
		
		.teckzone-icon {
			font-size: 28px;
		}
	}

	.close-canvas-mobile-panel {
		cursor: pointer;
	}

	.menu-mobile-wrapper {
		width: 310px;
		position: fixed;
		top: 0;
		left: -310px;
		background-color: #fff;
		bottom: 0;
		overflow: hidden;
		z-index: 100000;
		transition: transform .25s ease;

		&.open {
			transform: translate3d(310px,0,0);
		}

		&:after {
			content: '';
			width: 100%;
			height: 20px;
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: 99;
			background-color: #fff;
		}
	}

	.primary-menu-mobile {
		height: 100%;
		overflow-y: auto;
		display: flex;
		flex-direction: column;
	}

	.primary-menu-mobile::-webkit-scrollbar {
		display: none;
	}

	nav {
		padding: 25px 20px 28px;
		flex-grow: 1;
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;

		ul {
			display: none;
			padding: 4px 0 8px;

			ul {
				padding-left: 10px;
				padding-bottom: 0;
			}
		}
	}

	li {
		&.menu-item-has-children {
			position: relative;
			padding-right: 23px;

			.toggle-menu-children {
				position: absolute;
				right: 0;
				top: 0;
				display: block;
				width: 23px;
				height: 23px;
				line-height: 23px;
				text-align: right;
				font-size: 10px;
			}

			&.active {
				> .toggle-menu-children i:before {
					content: '\e939';
				}

				> ul {
					display: block;
				}
			}
		}

		li {
			padding: 5px 0;

			> a {
				color: #777;
			}

			&.menu-item-has-children {
				> .toggle-menu-children {
					top: 6px;
				}
			}
		}
	}

	ul.menu {
		> li:not(.tz-menu-item__magic-line) {
			border-bottom: 1px solid #eee;
			padding: 9px 0;

			> a {
				color: #000;
				font-weight: 700;
			}

			&.menu-item-has-children {
				> .toggle-menu-children {
					top: 10px;
				}
			}

			&.active {
				> a {
					color: $color__primary;
				}
			}

			&.last-child,
			&:last-child {
				border-bottom: 0;
			}
		}
	}

	// Open
	.teckzone-off-canvas-layer {
		display: none;
		z-index: -1;
	}

	&.display-mobile-menu {
		.teckzone-off-canvas-layer {
			display: block;
			z-index: 8888;
		}
	}
}