.comment-navigation {
	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

.post-navigation {
	margin-bottom: 90px;

	.nav-links {
		margin: 0 -15px;
		display: flex;
	}

	.none-nav,
	.nav-previous,
	.nav-next {
		padding-left: 15px;
		padding-right: 15px;
		flex: 0 0 50%;
	}

	.nav-previous-wrapper,
	.nav-next-wrapper {
		position: relative;
		color: #000;
		transition: 0.5s;
		height: 100%;

		a {
			border: 1px solid #e5e5e5;
			border-radius: 3px;
			padding: 42px 30px;
			color: #000;
			font-size: 15px;
			font-weight: 700;
			position: relative;
			z-index: 9;
			height: 100%;
			display: flex;
			align-items: center;
			word-break: break-word;

			span {
				flex: 1;
			}
		}

		i {
			font-size: 16px;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			z-index: 3;
		}

		.featured-image {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			transition: 0.5s;
			opacity: 0;
			border-radius: 3px;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;

			&:before {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background-color: rgba( 0,0,0,0.5 );
				border-radius: 3px;
			}
		}

		&:hover {
			color: #fff;

			a {
				color: #fff;
				border-color: transparent;
			}

			.featured-image {
				opacity: 1;
			}
		}
	}

	.nav-previous-wrapper {
		a {
			padding-left: 100px;
		}

		i {
			left: 30px;
		}
	}

	.nav-next-wrapper {
		text-align: right;

		a {
			padding-right: 100px;
		}

		i {
			right: 30px;
		}
	}
}

.numeric-navigation {
	margin-top: 30px;

	.page-numbers {
		font-size: 13px;
		color: #000;
		width: 28px;
		height: 28px;
		line-height: 26px;
		border: 1px solid #ccc;
		border-radius: 3px;
		text-align: center;
		display: inline-block;
		margin: 0 2px;

		&:first-child {
			margin-left: 0;
		}

		&:last-child {
			margin-right: 0;
		}

		&:hover,
		&.current {
			color: #fff;
			background-color: #000;
			border-color: #000;
		}
	}

	.next,
	.prev {
		font-size: 10px;
	}

	.teckzone-blog-grid & {
		text-align: center;
	}
}

.next-posts-navigation {
	text-align: center;
	margin-top: 33px;

	a {
		color: #000;
		text-transform: uppercase;

		&.loading {
			.load-more-text {
				display: none;
			}
		}

		&:hover,
		&:focus {
			color: #000;
		}
	}

	.load-more-text,
	.loading-text {
		letter-spacing: 0.4em;
	}
}

/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
@import "links";

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
@import "menus";
