.tz-thin {
	font-weight: 100;
}

.tz-light {
	font-weight: 300;
}

.tz-regular {
	font-weight: 400;
}

.tz-medium {
	font-weight: 500;
}

.tz-semi-bold {
	font-weight: 600;
}

.tz-bold {
	font-weight: 700;
}

.tz-extra-bold {
	font-weight: 800;
}

.tz-black {
	font-weight: 900;
}