.teckzone-modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
	z-index: -1;

	&.open {
		display: block;
		z-index: 9999;
	}

	.tz-modal-overlay {
		background-color: rgba(0,0,0,.55);
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}

	.modal-content {
		height: 575px;
		max-height: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%,-50%);
		transform: translate(-50%,-50%);
	}

	.close-modal {
		position: absolute;
		top: 20px;
		right: 20px;
		width: 20px;
		height: 20px;
		border: 1px solid #cccccc;
		border-radius: 3px;
		text-align: center;
		line-height: 20px;
		color: #000;
		z-index: -1;
		opacity: 0;
	}

	.tz-loading {
		@include tz-spinner();
		opacity: 0;
		transition: 0.5s;
		position: absolute;
		z-index: -1;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		&:after {
			width: 30px;
			height: 30px;
		}
	}

	&.loading {
		.tz-loading {
			opacity: 1;
			z-index: 99;
		}
	}

	&.loaded {
		.close-modal {
			z-index: 9;
			opacity: 1;
		}
	}
}

// Quick View
.tz-quick-view-modal {
	.product-modal-content {
		div.product {
			background-color: #fff;
			padding: 45px 40px;
			border-radius: 3px;
			height: 575px;

			.tz-entry-product-header {
				.tz-summary-meta .sold-by-meta,
				p.stock {
					display: block;
					margin-bottom: 0;
				}
			}

			p.stock {
				display: none;
			}

			.teckzone-product-detail {
				margin-bottom: 0;
			}

			.woocommerce-product-gallery {
				width: 39.5%;

				.woocommerce-product-gallery__wrapper {
					padding-bottom: 30px;
				}

				.product-image-ms {
					display: none;
				}

				.slick-prev-arrow {
					left: 0;
				}

				.slick-next-arrow {
					right: 0;
				}

				.slick-dots {
					position: absolute;
					bottom: 0;
				}
			}

			div.entry-summary {
				width: 60.5%;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				padding: 45px 40px 45px 60px;
				overflow: auto;
			}

			::-webkit-scrollbar {
				background: transparent;
				width: 5px;
			}
			::-webkit-scrollbar-thumb {
				background-color: #ccc;
			}

			.meta-product_brand {
				margin-bottom: 15px;
			}

			form.cart {
				border-top: 1px solid #eeeeee;
				margin-top: 20px;
				padding-top: 22px;
			}

			.single-button-wrapper {
				flex-direction: column;
				align-items: flex-start;

				.quantity {
					flex-grow: unset;
					margin-bottom: 25px;
					display: flex;
					align-items: center;

					label.label {
						margin-bottom: 5px;
						margin-right: 16px;
						color: #000;
					}

					.qty-box {
						width: 155px;
					}
				}

				.action-buttons {
					justify-content: space-between;
					width: 100%;

					button {
						flex-grow: 1;
					}
				}

				.group-buttons {
					padding: 0 20px;

					.divider {
						margin: 0 5px;
					}

					a {
						color: #777;
						display: inline-block;
						width: 32px;
						height: 32px;
						overflow: hidden;
						text-align: center;
						line-height: 38px;

						&:before {
							font-size: 20px;
							padding-right: 0;
							width: 32px;
							height: 32px;
							display: block;
							transform: none;
						}

						span {
							display: block;
							text-indent: -9999px;
						}
					}
				}

				.teckzone-wishlist-button {
					a {
						font-size: 20px;
						line-height: 39px;
					}
				}

				.compare-button {
					a {
						&:not(.added).loading {
							line-height: 3.2;

							&:before {
								width: 17px;
								height: 17px;
							}
						}
					}
				}
			}

			&.product-type-grouped {
				form.grouped_form {
					td {
						&:first-child {
							padding-left: 0;
						}

						&:last-child {
							padding-right: 0;
						}
					}
				}
			}

			&.product-type-variable {
				.single_variation_wrap {
					padding-top: 26px;
				}
			}
		}
	}
}

// Newsletter
.tz-newsletter-popup {
	.modal-content {
		width: 770px;
		height: 340px;
	}

	.close-modal {
		opacity: 1;
		z-index: 1;
		color: #fff;
		background-color: #000;
		border: 0;
		line-height: 22px;
		top: 15px;
		right: 15px;
	}

	.newletter-content {
		height: 100%;
		padding: 45px 30px 15px;
	}

	.n-image {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
	}

	.nl-inner {
		width: 52%;
		text-align: center;
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: space-between;

		h2 {
			font-size: 26px;
			margin: 0 0 10px;

			span {
				color: #e84506;
			}
		}
	}

	.n-form {
		margin-bottom: 20px;

		.mc4wp-form {
			.mc4wp-form-fields {
				flex-direction: column;
			}

			input[type="submit"] {
				border-top-left-radius: 3px;
				border-bottom-left-radius: 3px;
				width: 130px;
				margin: auto;
			}

			input[type=email],
			input[type=text] {
				border-top-right-radius: 3px;
				border-bottom-right-radius: 3px;
				margin-bottom: 15px;
			}
		}
	}

	a.n-close {
		color: #000;
	}
}

body .notifyjs-corner {
	z-index: 99999;
}

.notifyjs-teckzone-base {
	font-weight: 400;
	position: relative;
	padding: 15px 40px 15px 60px;
	margin-bottom: 10px;
	box-shadow: 0 4px 10px 0 rgba(3, 3, 3, 0.1);
	max-width: 450px;
	
	.message-icon {
		position: absolute;
		left: 20px;
		top: 20px;
		font-size: 20px;
	}
	
	.button.wc-forward {
		display: none;
	}
	
	.btn-button {
		padding-left: 5px;
		color: #299c77;
		text-decoration: underline;
	}
	
	.close {
		position: absolute;
		top: 20px;
		right: 15px;
		font-size: 10px;
	}
	
	.message-box {
		display: inline-block;
	}
}

.notifyjs-teckzone-success {
	color: #299c77;
	background-color: #bff9d0;
	
	.message-icon {
		fill: #299c77;
		stroke: #299c77;
	}
}

.notifyjs-teckzone-error {
	color: #d45757;
	background-color: #ffd0d0;
	
	.message-icon {
		fill: #d45757;
		stroke: #d45757;
	}
	
	li {
		list-style: none;
	}
	
	.btn-button {
		color: #d45757;
	}
}

.tz-popup-add-to-cart-modal{
	.modal-content{
		background-color: #fff;
		padding: 20px;
		max-width: 770px;
		transition:ease  0.5s;
	}

	.teckzone-modal .tz-loading{
		opacity: 1;
		z-index: 10;
	}

	&.loading{
		.product-modal-content{
			opacity: 0;
		}
	}

	&.loaded{
		.modal-content{
			height: auto;
		}

		.product-modal-content{
			opacity: 1;
		}
	}

	.teckzone-wc-products-carousel{
		ul.products{
			padding: 0;
		}

		h2.section-title{
			font-size: 14px;
			font-weight: 700;
		    text-transform: uppercase;
		    padding-bottom: 10px;
    		margin-bottom: 10px;
		}
	} 

	&.teckzone-modal .tz-loading{
		&:after{
			 border-color: #222 transparent #fff transparent;
		}
	}

	.tz-product-popup-atc__notice{
		padding: 13px 20px;
    	margin-right: 50px;
	    background-color: #2f8a33;
	    color: #fff;
	    display: inline-block;
	    margin-bottom: 27px;

	    .cart-view-btn{
	    	color: #fff;
	    	font-size: 14px;
    	    margin-left: 5px;
	        padding-bottom: 1px;
    		border-bottom: 1px solid transparent;

    	    &:hover{
    	    	border-color: #fff;
    	    }
	    }
	}

	.teckzone-wc-products-carousel{
		padding-bottom: 20px;

		.slick-prev-arrow{
			left: 0 ! important;
		}

		.slick-next-arrow{
			right: 0 ! important;
		}
	}

	ul.products{
		li.product{
			.product-thumbnail .teckzone-product-quick-view,
			.product-button .group{
				display: none;
			}
		} 
		
		.slick-arrow{
			opacity: 0;
			transition: .3s;
		}

		&:hover{
			.slick-arrow{
				opacity: 1;
			}
		}
	} 
}