.tz-preloader {
	.teckzone-preloader {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 99999;
		background-color: rgba(255, 255, 255, .82);

		.teckzone-loading {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			display: block;

			&:after {
				width: 40px;
				height: 40px;
				border-color: $color__primary transparent $color__primary transparent;
			}
		}

		&.fade-in {
			display: none;
		}
	}
}

.tz-catalog-ajax-loader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99999;
	background-color: rgba(255, 255, 255, .82);

	.teckzone-loading {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: block;

		&:after {
			width: 40px;
			height: 40px;
			border-color: $color__primary transparent $color__primary transparent;
		}
	}

	&.fade-in {
		display: none;
	}
}