.tz-navigation-mobile {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	display: none;
}

.mobile-version {
	&.mobile-navigation-enable {
		.tz-navigation-mobile {
			z-index: 9999;
			display: block;
		}

		&.tz-add-to-cart-fixed {
			.tz-navigation-mobile {
				z-index: -1;
				display: none;
			}
		}

		.tz-menu-mobile {
			.menu-mobile-wrapper {
				margin-bottom: 80px;
			}
		}

		.teckzone-cart-mobile {
			.mini-cart-content {
				margin-bottom: 80px;
			}
		}

		.tz-search-form--mobile {
			.search-panel-content {
				margin-bottom: 80px;
			}
		}

		&.single-product {
			.tz-menu-mobile {
				.menu-mobile-wrapper {
					margin-bottom: 60px;
				}
			}
	
			.teckzone-cart-mobile {
				.mini-cart-content {
					margin-bottom: 60px;
				}
			}
		}
	}

	// Menu
	.tz-menu-mobile {
		.menu-mobile-wrapper {
			width: 100%;
			left: -100%;

			&.open {
				transform: translate3d(100%, 0, 0);
			}
		}

		li {
			a {
				position: relative;
			}

			.item-badge {
				position: absolute;
				top: -5px;
				left: 100%;
				font-size: 12px;
				font-weight: 600;
				border-radius: 3px;
				padding: 3px 5px;
				background-color: #2f8a33;
				color: #ffffff;
				min-width: 36px;
				line-height: 1;
				text-align: center;
				z-index: 2;
				margin-left: 7px;
			}
		}
	}

	.tz-menu-mobile--right  {
		.menu-mobile-wrapper {
			left: auto;
			right: -100%;

			&.open {
				transform: translate3d(-100%, 0, 0);
			}
		}
	}

	//Cart
	.teckzone-cart-mobile {
		.mini-cart-content {
			width: 100%;
			right: -100%;

			&.open {
				transform: translate3d(-100%, 0, 0);
			}
		}

		.mini-cart-footer {
			padding-top: 35px;
		}
	}

	.teckzone-cart-mobile--left {
		.mini-cart-content {
			right: auto;
			left: -100%;

			&.open {
				transform: translate3d(100%, 0, 0);
			}
		}
	}

	// Search
	.tz-search-form--mobile {
		.search-panel-content {
			width: 100%;
			right: -100%;

			&.open {
				transform: translate3d(-100%, 0, 0);
			}
		}

		&.tz-search-form--mobile-left {
			.search-panel-content {
				left: -100%;
				right: auto;

				&.open {
					transform: translate3d(100%, 0, 0);
				}
			}
		}
	}

	.teckzone-off-canvas-layer {
		display: none !important;
		z-index: -999 !important;
	}

	// Catalog
	&.teckzone-catalog-page {
		&.display-catalog-filter {
			.teckzone-off-canvas-layer--footer {
				display: block !important;
				z-index: 999995 !important;
			}
		}
	}

	.catalog-toolbar {
		margin: 0 -15px;
		padding: 0 15px;
		border-bottom: 10px solid #f5f5f5;
		border-top: 1px solid #f5f5f5;

		.catalog-toolbar__bottom {
			background-color: #fff;
			border-radius: 0;
			padding: 14px 0;
		}

		.woocommerce-ordering .current {
			padding-left: 0;
		}
	}

	.tz-catalog-brands-mobile {
		margin: 0 -15px;
		padding: 0 15px;
		border-bottom: 10px solid #f5f5f5;

		.brands-wrapper {
			display: flex;
			flex-wrap: nowrap;
			overflow: auto;
			align-items: center;
			padding: 25px 0;
		}

		&.columns-2 {
			.brand-item {
				flex: 0 0 50%;
				max-width: 50%;
			}
		}

		&.columns-3 {
			.brand-item {
				flex: 0 0 33.3333%;
				max-width: 33.3333%;
			}
		}

		&.columns-4 {
			.brand-item {
				flex: 0 0 25%;
				max-width: 25%;
			}
		}

		.brand-item {
			position: relative;
			padding: 0 20px;

			&:after {
				content: '';
				width: 1px;
				height: 25px;
				background-color: #eee;
				position: absolute;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
			}

			&:first-child {
				padding-left: 0;
			}

			&:last-child {
				padding-right: 0;

				&:after {
					display: none;
				}
			}
		}
	}

	.list-filter-mobile {
		margin: 0 -15px;
		padding: 30px 15px;
		border-bottom: 10px solid #f5f5f5;

		.widget-title {
			font-size: 14px;
			margin-bottom: 17px;
		}

		.widget_layered_nav_filters {
			ul {
				display: flex;
				flex-wrap: wrap;
				margin: 0 -5px;

				li {
					flex: 0 0 50%;
					max-width: 50%;
					float: none;
					padding: 0;
					padding-left: 5px;
					padding-right: 5px;

					&.chosen {
						margin-bottom: 10px;

						a {
							background-color: #f5f5f5;
							border-radius: 3px;
							color: #000;
							box-shadow: none;
							display: flex;
							align-items: center;
							justify-content: space-between;
							padding: 7px 15px;

							&:after {
								content: '\e935';
								font-family: Linearicons;
								font-size: 9px;
								color: #000;
							}
						}
					}

					&.clear {
						flex: 0 0 100%;
						max-width: 100%;
						margin-bottom: 0;
						padding-top: 5px;

						a {
							color: $color__primary;
							box-shadow: inset 0 0 0 transparent, inset 0 -1px 0 $color__primary;
						}
					}
				}
			}
		}
	}

	.products-found {
		font-size: 16px;
		font-weight: 700;
		color: #999999;
		padding-top: 23px;
		padding-bottom: 13px;
		border-bottom: 1px solid #f5f5f5;

		span {
			color: #000;
		}
	}

	.primary-sidebar.catalog-sidebar {
		z-index: 999999;
		padding-top: 68px;

		.catalog-filter-mobile-header {
			padding: 17px 20px;
		}
	}

	// Single Product
	.sticky-product-info-wrapper {
		.sc-product-info {
			width: 100%;

			.sc-tabs {
				flex-wrap: nowrap;
				overflow: auto;
				padding-bottom: 5px;

				li {
					flex-shrink: 0;
				}
			}
		}
	}

	&.tz-add-to-cart-fixed {
		margin-bottom: 60px;

		div.product {
			form.cart {
				.buttons-box {
					position: fixed;
					left: 0;
					bottom: 0;
					z-index: 111111;
					display: flex;
					width: 100%;
					align-items: center;
				}

				.buy_now_button,
				.single_add_to_cart_button {
					border-radius: 0;
					margin: 0 !important;
					line-height: 60px;
					white-space: nowrap;
					padding: 0 10px;
				}

				.single_add_to_cart_button {
					width: 100%;
					right: 0;
					
				}

				.single-button-wrapper {
					.button-vendor {
						display: block;
						flex: 0 0 75px;
						background-color: #fff;
						border: 1px solid #e5e5e5;
						padding: 6px 0;
					}
				}
			}

			&.enable-buy-now {
				form.cart {
					.single_add_to_cart_button,
					.buy_now_button {
						width: 50%;
					}
	
					.buy_now_button {
						left: 0;
						order: 1;
					}

					.single_add_to_cart_button {
						order: 2;
					}
				}
			}

			&.tz-product-layout-1 {
				.group-buttons {
					margin-top: 0;
				}
			}
		}
	}

	&.woocommerce {
		div.product {
			.woocommerce-product-gallery {
				.product-image-ms {
					display: none;
				}

				.flex-control-nav {
					max-width: 100%;
					width: 100%;
					position: static;
					display: flex;
					flex-wrap: wrap;
					align-items: center;
					justify-content: center;
					margin-top: 10px;

					li {
						width: auto;
					}

					img {
						width: 8px;
						border-width: 4px;
						border-radius: 50%;

						&.flex-active {
							border-color: $color__primary;
						}
					}
				}
			}

			&.product-thumbnail-vertical.has-gallery-image {
				.woocommerce-product-gallery {
					padding-bottom: 0;
					padding-left: 0;

					.ribbons .ribbon {
						left: 0;
					}

					.flex-control-nav {
						position: static;
						width: 100%;
						flex-direction: row;
						margin-top: 10px;

						li {
							padding: 0 5px;
						}
					}
				}
			}
		}
	}

	// Blog
	&.teckzone-blog-page {
		.blog-wrapper .entry-footer .read-more {
			display: none;
		}
	}
}
