ul.site-breadcrumb {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
	flex-wrap: wrap;

	.sep {
		padding: 0 6px;
	}

	.single-post & {
		margin-bottom: 46px;
	}

	a {
		color: $color__primary;
	}
}

.page-header {
	padding-top: 110px;
	padding-bottom: 33px;

	h1 {
		font-size: 36px;
		margin-top: 0;
		margin-bottom: 11px;
	}

	&.hide-title {
		padding: 0;

		h1 {
			line-height: 0;
			text-indent: -9999px;
			margin: 0;
		}
	}
}

.page-header-layout-1 {
	ul.site-breadcrumb {
		justify-content: center;
	}

	&.hide-title {
		padding-top: 50px;
	}
}

.page-header-layout-2 {
	padding-top: 0;
	padding-bottom: 22px;

	h1 {
		margin-bottom: 0;
	}

	.page-breadcrumbs {
		background-color: #f5f5f5;
		padding: 19px 0;
	}

	.page-title {
		padding-top: 110px;
	}

	&.hide-title {
		padding: 0;

		.page-title {
			padding: 0;
		}
	}
}