.wp-block-button{
	margin-bottom: 25px;

	.wp-block-button__link {
		transition: background 150ms ease-in-out;
		background-color: #32373c;
		border: none;
		border-radius: 28px;
		box-shadow: none;
		color: inherit;
		cursor: pointer;
		display: inline-block;
		font-size: 18px;
		margin: 0;
		padding: 13px 25px;
		text-align: center;
		text-decoration: none;
		overflow-wrap: break-word;
		line-height:1.5;
	}

	&.is-style-outline .wp-block-button__link{
		border-style: solid;

		&:not(.has-background),
		&:focus:not(.has-background),
		&:active:not(.has-background){
			background: transparent;
		}
	}
}

