.wp-block-columns .wp-block-column > *:first-child{
	margin-top: 0;
}

.wp-block-columns.alignwide,
.wp-block-columns.alignfull {
	.wp-block-column {
		padding-left: 10px;
		padding-right: 10px;
	}
}
