.wp-block-cover-image.has-background-dim::before, .wp-block-cover.has-background-dim::before {
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 1;
}

.wp-block-cover{
	margin-bottom: 32px;

	&:last-child{
		margin-bottom: 0;
	}

	p:not(.has-text-color) {
	    color: #fff;
	}
}

.wp-block-cover-image.alignleft,
.wp-block-cover-image.alignright,
.wp-block-cover.alignleft,
.wp-block-cover.alignright{
	max-width: calc(4 * (100vw / 12));
	margin-right: calc(2 * 1rem);
}

@media only screen and (min-width: 1200px) {
	body:not(.full-content){
		.wp-block-cover-image.alignleft,
		.wp-block-cover-image.alignright,
		.wp-block-cover.alignleft,
		.wp-block-cover.alignright{
			max-width: calc(3 * (100vw / 12));
		}
	}
}

@media only screen and (min-width: 768px){
	.entry-content > *.alignleft,
	.entry-summary > *.alignleft {
		max-width: calc(4 * (100vw / 12));
	}
}

@media only screen and (max-width: 768px){
	.entry-content > *.alignleft,
	.entry-summary > *.alignleft {
		max-width: calc(6 * (100vw / 12));
	}
}

