@media only screen and (min-width: 768px) {
	body.full-content .site-content .entry-content {
		> *.alignfull,
		> *.alignwide{
			width: -webkit-fill-available;
			max-width: 1000%;
		}

		> *.alignfull{
			margin-right: calc(50% - 50vw + 9px);
			margin-left: calc(50% - 50vw + 8px);
		}

		> *.alignwide{
			margin-right: calc(25% - 25vw);
			margin-left: calc(25% - 25vw);
		}
	}

}

@import "button";
@import "quote";
@import "image";
@import "widget";
@import "cover";
@import "columns";
@import "embeds";

.wp-block-group.has-background{
	margin-bottom: 50px;
}

pre.wp-block-verse{
	white-space: pre-wrap;
}
