.wp-block-quote{
	border-left: none;
	padding-left: 0;

	p{
		margin-bottom: 15px;
	}

	&.has-text-align-right{
		border-right: none;
	    padding-right: 0;

	    &:before{
			right: 0;
			left: auto;
		}
	}

	&.is-large,
	&.is-style-large{
		margin: 0 0 30px;
		padding: 60px 0 0 0;
	}
}

hr.wp-block-separator {
	background-color: #bbb;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

.wp-block-pullquote {
	text-align: left;

	blockquote {
		margin: 0;

		p{
			margin-bottom: 15px;
		}
	}

	&.alignleft{
		text-align: left;
	}

	&.alignright{
		text-align: right;

		blockquote:before{
			right: 0;
			left: auto;
		}
	}

	&.is-style-solid-color{
		padding:  30px;

		blockquote {
			background-color: transparent;
			max-width: 100%;
		}
	}
}