ul.wp-block-categories {
	list-style: none;
	margin: 0 0 1em;
	padding: 0;

	ul {
		list-style: none;
	}

	li {
		padding: 5px 0;
		margin-bottom: 0;

		&:last-child {
			padding-bottom: 0;
		}
	}

	li a {
		color: $color__dark;

		&:hover {
			color: $color__link-hover;
		}
	}
}

.wp-block-categories {
	margin-bottom: 35px;

	select {
		padding: 10px;
		border: 1px solid #d9d9d9;
	}
}

.wp-block-archives {
	padding: 0;
	margin-bottom: 35px;

	li {
		padding: 3px 0;
		margin-bottom: 0;
		list-style: none;

		&:last-child {
			padding-bottom: 0;
		}

		a{
			color: #000;
		}
	}
}

ul.wp-block-latest-posts {
	list-style: none;
	margin: 0 0 1em;
	padding: 0;

	ul {
		list-style: none;
	}

	li {
		padding: 5px 0;
		margin-bottom: 0;

		&:last-child {
			padding-bottom: 0;
		}
	}

	li a {
		color: $color__dark;

		&:hover {
			color: $color__link-hover;
		}
	}
}

.wp-block-latest-posts.is-grid{
	li{
		margin: 0;
	}
}

.wp-block-categories,
ul.wp-block-latest-posts,
.wp-block-archives,
.wp-block-search{
	margin-bottom: 35px;
}

