.error404 {
	.site-content {
		background-color: #f5f5f5;
		padding-top: 219px;
		padding-bottom: 219px;
	}

	.error-404 {
		align-items: center;
	}

	.page-title {
		font-size: 40px;
		margin: 0 0 14px;
	}

	.page-content {
		p {
			margin-bottom: 30px;
		}

		a {
			color: $color__primary;
			box-shadow: inset 0 0 0 transparent, inset 0 -1px 0 $color__primary;
		}
	}
}