.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

.comments-title {
	font-size: 24px;
	color: $color__darker;
	padding: 0;
	margin: 0;
	
	&.has-comments {
		margin-bottom: 55px;
	}
}

.comment-list {
	list-style: none;
	margin: 0 0 64px 0;
	padding: 0;
	
	li {
		.comment-respond {
			margin-top: 0;
			margin-bottom: 30px;
		}
		
		&.comment {
			border-top: 1px solid #e5e5e5;
			padding-top: 40px;

			.comment-meta {
				float: left;
				max-width: 70px;
			}
		}

		.reply {
			margin-top: 10px;
		}
		
		.comment-edit-link,
		.comment-reply-link {
			font-size: 13px;
			font-weight: 600;
			display: inline-block;
			padding-right: 15px;
			text-transform: uppercase;
		}
		
		.comment-metadata {
			overflow: hidden;
			margin-bottom: 12px;
		}
		
		.comment-edit-link {
			margin-right: 20px;
		}

		.comment-author {
			img {
				border-radius: 50%;
			}
		}
		
		&.comment .comment-content {
			margin-left: 115px;
		}
		
		.comment-content {
			padding-bottom: 25px;
			position: relative;
			
			.comment-desc {
				padding: 10px 0 5px;
			}
			
			.date {
				font-size: 13px;
				padding-left: 7px;
			}
			
			a {
				word-wrap: break-word;
			}
			
			.fn {
				color: #000;
				font-style: normal;

				font-size: 14px;
				font-weight: 600;

				a {
					color: #000;
					padding-right: 7px;
				}
			}

			img{
			    display: block;
    			margin: 15px 0;
			}
		}
		
	}

	> li.comment:first-child {
		border-top: 0;
		padding-top: 0;
	}
	
	.comment-respond {
		margin-bottom: 50px;
	}
	
	&:after {
		clear: both;
		content: "";
		display: block;
	}
	
	.children {
		list-style: none;
		padding: 0 0 0 115px;
		
		article {
			border-top-width: 0;
		}
		
		&:last-child {
			margin-bottom: 0;
		}
	}
	
	.depth-5 {
		.children {
			padding-left: 0;
		}
	}
	
	& > .comment:first-child article {
		border: none;
	}
	
}

.comments-area {
	.comment-desc {
		padding: 15px 0 5px;
		color: #666;
	}
	
	.date {
		color: #777;
	}
	
	.comments-links {
		margin-bottom: 60px;
		text-align: center;
		
		.page-numbers {
			font-size: 18px;
			padding: 0 8px;
			color: #999;
			
			&.current {
				color: $color__darker;
			}
		}
	}
}

.comment-respond {
	clear: both;
	
	.logged-in-as {
		margin-bottom: 10px;
		a {
			color: $color__darker;
			
			&:hover {
				color: $color__primary;
			}
		}
	}
	
	.comment-reply-title {
		font-size: 24px;
		color: $color__darker;
		margin: 0 0 40px;
	}
	
	.comment-notes {
		display: none;
	}
	
	input[type=text],
	input[type=email],
	textarea {
		transition: 0.5s !important;
		width: 100%;
		background-color: #fff;
	}

	textarea {
		height: 160px;
		font-size: 14px !important;
	}
	
	p {
		margin-bottom: 0;
		margin-top: 0;
	}

	.comment-form-comment {
		margin-bottom: 20px;
	}

	.comment-form-email {
		margin-bottom: 20px;
		padding-right: 10px;
		padding-left: 10px;
	}
	
	.comment-form-author {
		padding-left: 0;
		padding-right: 10px;
		margin-bottom: 20px;
	}
	
	.comment-form-url {
		padding-right: 0;
		padding-left: 10px;
		margin-bottom: 20px;
	}
	
	.comment-message {
		margin-top: 20px;
		color: red;
		min-height: 30px;
	}
	
	.form-submit {
		clear: both;
		position: relative;
		padding-top: 20px;

		.submit {
			padding: 0 45px;
		}
	}
}

.comment-awaiting-moderation {
	display: block;
}

.full-content {
	.comments-title,
	.comment-respond .comment-reply-title,
	.comment-respond .form-submit {
		text-align: center;
	}

	.comments-area {
		position: relative;
		background-color: #f5f5f5;
		padding-top: 95px;
		padding-bottom: 180px;

		.tz-block-left,
		.tz-block-right {
			position: absolute;
			top: 0;
			height: 100%;
			background-color: #f5f5f5;
		}
	}
}