p {
	margin-top: 0;
}

.sticky {
	display: block;
}

.tag-sticky-2{
	.entry-title{
		&:before{
			font-family: Linearicons;
			content: '\e690';
			margin-right: 10px;
			color: $color__primary;
			transition: 0.5s;
		}
	}
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.entry-title {
	font-size: 20px;
	margin-top: 0;
	margin-bottom: 16px;

	a {
		color: #000;
	}
}

.entry-meta {
	font-size: 13px;
	color: #777777;
	margin-bottom: 11px;

	i {
		padding-right: 5px;
	}

	.meta-wrapper {
		display: flex;
		align-items: center;
		margin: 0 -12px;
		flex-wrap: wrap;
	}

	.meta {
		padding: 0 12px;
		position: relative;

		a {
			color: #777777;
		}

		&:after {
			content: '';
			width: 2px;
			height: 13px;
			background-color: #efefef;
			position: absolute;
			top: 5px;
			right: -1px;
		}

		&:last-child {
			&:after {
				display: none;
			}
		}

		a:hover {
			color: $color__primary;
			box-shadow: inset 0 0 0 transparent, inset 0 -1px 0 $color__primary;
		}
	}

	.meta-cat a {
		color: #777777;

		&:hover {
			color: $color__primary;
			box-shadow: inset 0 0 0 transparent, inset 0 -1px 0 $color__primary;
		}
	}
}

.entry-format {
	position: relative;

	.post-format-icon {
		color: #000;
		font-size: 18px;
		width: 56px;
		height: 56px;
		line-height: 56px;
		text-align: center;
		border-radius: 50%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		&:before,
		&:after {
			content: '';
			position: absolute;
			border-radius: 50%;
		}

		&:before {
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: rgba(255, 255, 255, 0.3);
		}

		&:after {
			top: 7px;
			right: 7px;
			bottom: 7px;
			left: 7px;
			background-color: #fff;
		}

		i, img {
			position: relative;
			z-index: 9;
		}

		img {
			display: inline-block;
		}
	}

	iframe {
		width: 100%;
	}

	&.format-video {
		.post-format-icon {
			line-height: 54px;
		}
	}
}

// Single Post
.single-post {
	&.full-content {
		.entry-header{
			overflow: hidden;
		}

		.single-post-entry-format {
			padding-left: 0;
			padding-right: 0;
			margin-bottom: 11px;
		}
	}

	.entry-meta {
		.meta {
			a.meta-author {
				color: $color__primary;
			}
		}
	}
}

.single-post-wrapper {
	margin-bottom: 50px;

	.entry-title {
		font-size: 36px;
		margin-bottom: 10px;
	}

	.entry-meta {
		margin-bottom: 35px;
	}

	.entry-content {
		margin-bottom: 35px;
	}

	.format-link {
		background-color: #f5f5f5;
		padding: 55px 45px;
		border: 0;

		.title {
			font-size: 24px;
			font-weight: 400;
			margin-top: 0;
			margin-bottom: 12px;
		}
	}
}

.teckzone-related-posts {
	margin-bottom: 85px;

	h2.related-title {
		font-size: 24px;
		margin: 0 0 35px;
	}

	.blog-wrapper.format-quote div.blog-inner {
		padding: 0;
		border-width: 1px;
	}

	.content-sidebar &,
	.sidebar-content &{
		.blog-wrapper {
			.blog-inner {
				border: 0;
			}

			.entry-summary {
				padding: 0;
			}

			.entry-format {
				margin-bottom: 25px;
			}

			.entry-footer {
				padding-bottom: 0;
			}
		}
	}
}

.post-author {
	margin-bottom: 50px;

	.post-author-box {
		padding: 45px 40px;
		background-color: #f5f5f5;
		border-radius: 3px;
	}

	.post-author-avatar {
		float: left;

		img {
			border-radius: 50%;
		}
	}

	.post-author-info {
		margin-left: 115px;

		p {
			margin-bottom: 17px;
		}
	}

	.author-name {
		font-size: 20px;
		margin-top: 0;
		margin-bottom: 13px;
	}

	.author-socials {
		list-style: none;
		padding: 0;
		margin: 0 -14px;
		display: flex;
		flex-wrap: wrap;

		li {
			padding: 0 14px;
			position: relative;

			&:after {
				content: '';
				width: 2px;
				height: 14px;
				background-color: #e7e7e7;
				position: absolute;
				top: 5px;
				right: -1px;
			}

			&:last-child {
				&:after {
					display: none;
				}
			}
		}

		a {
			color: #000000;
			font-size: 13px;
			text-transform: uppercase;

			i {
				padding-right: 8px;
			}
		}
	}
}

.post-tags {
	margin-bottom: 25px;

	a {
		display: inline-block;
		color: #555555;
		border-radius: 3px;
		background-color: #f5f5f5;
		text-align: center;
		border: 1px solid #f5f5f5;
		height: 34px;
		line-height: 32px;
		padding: 0 15px;
		margin: 0 7px 7px 0;

		&:hover {
			color: $color__primary;
			border-color: $color__primary;
			background-color: transparent;
		}
	}
}

.single-post-socials-share {
	> i {
		padding-right: 9px;
	}

	ul {
		display: inline-block;
		list-style: none;
		padding: 0;
		margin: 0 0 0 18px;
	}

	li {
		display: inline-block;
		margin-right: 7px;

		a {
			color: #fff;
			width: 34px;
			height: 34px;
			line-height: 34px;
			border-radius: 3px;
			display: block;
			text-align: center;
		}

		.teckzone-facebook {
			background-color: #3b5999;
		}

		.teckzone-twitter {
			background-color: #55acee;
		}

		.teckzone-pinterest {
			background-color: #bd081c;
		}

		.teckzone-google-plus {
			background-color: #dd4b39;
		}

		.teckzone-linkedin {
			background-color: #0077B5;
		}

		.teckzone-tumblr {
			background-color: #34465d;
		}
	}
}

.single-post-entry-format {
	margin-bottom: 72px;

	.format-gallery {
		.slick-dots {
			position: absolute;
			bottom: 10px;
			left: 0;
			right: 0;
		}
	}
}

.format-gallery {
	ul.slides {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}
// Blog
.teckzone-taxs-list {
	margin-bottom: 34px;

	ul {
		margin: 0;
		padding: 0;
		text-align: center;

		li {
			list-style: none;
			display: inline-block;
			padding: 0 3px;
			margin-bottom: 6px;

			a {
				display: inline-block;
				color: #555555;
				border-radius: 3px;
				background-color: transparent;
				text-align: center;
				border: 1px solid #dddddd;
				height: 34px;
				line-height: 32px;
				padding: 0 15px;

				&:hover,
				&.selected {
					color: #fff;
					background-color: $color__primary;
					border-color: $color__primary;
				}
			}
		}
	}
}

.blog-wrapper {
	margin-bottom: 40px;

	.blog-inner {
		border: 1px solid #e5e5e5;
		border-radius: 3px;
		overflow: hidden;
		position: relative;
	}

	.entry-summary {
		padding: 25px 40px 0;
	}

	.entry-title {
		a:hover {
			color: $color__primary;
		}
	}

	.entry-footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-top: 1px solid #e5e5e5;
		padding: 14px 0;

		.meta {
			font-size: 13px;

			.meta-author {
				color: $color__primary;
			}

			a:hover {
				color: $color__primary;
				box-shadow: inset 0 0 0 transparent, inset 0 -1px 0 $color__primary;
			}
		}

		.read-more {
			color: #555;

			i {
				font-size: 10px;
				padding-left: 4px;
			}
		}
	}

	&.format-quote {
		.blog-inner {
			border-width: 3px;
			padding: 25px 38px 30px;
			height: 100%;
		}
	}

	.format-gallery {
		.slick-prev-arrow {
			left: 22px;
		}

		.slick-next-arrow {
			right: 22px;
		}

		.slick-dots {
			position: absolute;
			bottom: 17px;

			li {
				button {
					&:before {
						background-color: rgba( 255,255,255,0.3 );
					}

					&:hover {
						&:before {
							background-color: #fff;
						}
					}
				}

				&.slick-active {
					button {
						&:before {
							background-color: #fff;
						}
					}
				}
			}
		}
	}
}

.teckzone-blog-small-thumb,
.teckzone-blog-list {
	.format-link {
		.blog-inner {
			background-color: #f5f5f5;
			padding: 55px 45px;
			border: 0;
		}

		.title {
			font-size: 24px;
			font-weight: 400;
			margin-top: 0;
			margin-bottom: 12px;
		}
	}
}

.teckzone-blog-small-thumb {
	.blog-inner {
		display: flex;
	}

	.entry-format {
		width: 30%;
		float: left;
	}

	.entry-summary {
		width: 70%;
		float: right;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 20px 30px 0;
	}

	.format-standard.no-thumb,
	.format-audio,
	.format-link,
	.format-quote {
		.blog-inner {
			display: block;
		}

		.entry-format,
		.entry-summary {
			width: 100%;
		}
	}

	.format-standard.no-thumb,
	.format-audio {
		.entry-summary {
			padding: 25px 40px 0;
		}
	}
}

.teckzone-blog-grid {
	.blog-wrapper {
		margin-bottom: 30px;

		&.format-quote .blog-inner {
			padding: 25px 33px 30px;
		}

		.entry-title {
			margin-bottom: 19px;
		}
	}
}

.teckzone-blog-list {
	.blog-inner {
		display: flex;
	}

	.entry-format {
		width: 66.6667%;
		float: left;
		padding-right: 15px;
	}

	.entry-summary {
		width: 33.3333%;
		float: right;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 65px 50px 0 35px;
	}

	.format-standard.no-thumb,
	.format-link,
	.format-quote {
		.blog-inner {
			display: block;
		}

		.entry-format,
		.entry-summary {
			width: 100%;
		}
	}

	.format-standard.no-thumb {
		.entry-summary {
			padding: 25px 40px 0;
		}
	}
}

// Search
.search-no-results {
	.no-results {
		.page-header {
			padding: 0;
		}

		.page-title {
			margin: 0 0 20px;
			font-size: 24px;
		}
	}
}